 /* Aliases  */
$dropdown-backgrounddefault: $background-primary;
$dropdown-backgroundhover: $background-hover;
$dropdown-backgroundactive: $background-primary;
$dropdown-textcolorhover: $border-brand;
$dropdown-textcolor: $content-primary;

