 /* Aliases  */
$tab-backgrounddefault: $background-transparent;
$tab-strokecolor: $border-brand;
$tab-textcolor: $content-primary;
$tab-backgroundhover: $background-hover;
$tab-backgroundactive: $background-primary;

