.insurance-wrapper {
  .insurance-bg-img {
    background: get-color("catskill-white");
    height: calc(100vh - 52px);
    object-fit: cover;
    position: fixed;
    width: 100%;

    @include media(">=desktop") {
      height: calc(100vh - 64px);
    }
  }

  .insurance-container {
    padding-bottom: rem(24px) !important;
    padding-top: rem(32px) !important;
    position: relative;

    @include media(">=desktop") {
      display: flex;
      // gap: rem(96px);
      justify-content: space-between;
      padding-bottom: rem(152px) !important;
      padding-top: rem(37px) !important;
    }
  }

  .insurance-left-container {
    @include media(">desktop") {
      width: 48%;
    }
    
    .vida2-common-banner-container {
      @include media("<desktop") {
        display: none;
      }
    }

    .insurance-banner-container {
      height: rem(160px);
      margin: 0 0 rem(36px) 0;
      position: relative;
      width: rem(492px);

      @include media("<desktop") {
        display: none;
      }

      .insurance-banner-bg {
        height: 100%;
        position: absolute;
        width: 100%;
      }

      .insurance-banner-content-container {
        display: flex;
        justify-content: space-between;
        padding: rem(12px) rem(10px) rem(12px) rem(30px);
        position: relative;
      }

      .user-info-name-text {
        @include vida-large-title1-mobile;
        color: get-color("white");
        line-height: rem(86.4px);
      }

      .user-info-bike-text {
        @include vida-large-title2-mobile;
        color: get-color("white");
        line-height: rem(54px);
      }

      .bike-sub-text {
        @include vida-mobile-body-4;
        color: get-color("white");
        line-height: rem(20px);
      }

      .user-bike-img-container {
        height: rem(158px);
        width: rem(192px);
      }

      .user-bike-img {
        object-fit: cover;
        width: 100%;
      }
    }

    .insurance-left-title {
      padding: 0 0 rem(19px) 0;

      @include media(">=desktop") {
        padding: 0;
      }

      .insurance-left-title-text {
        @include vida-h2-mobile;
        line-height: rem(28.8px);

        @include media(">=desktop") {
          @include vida-h2-desk;
          line-height: rem(57.6px);
        }
      }
    }

    .insurance-plans-left-title {
      .insurance-plans-left-title-text {
        @include vida-h2-mobile;
        line-height: rem(28.8px);
        padding: 0 0 rem(16px) 0;

        @include media(">=desktop") {
          @include vida-h2-desk;
          line-height: rem(57.6px);
          padding: 0 0 rem(24px) 0;
        }
      }

      .insurance-plans-left-title-subtext {
        @include vida-mobile-body-3;
        line-height: rem(14.4px);
        padding: 0 0 rem(16px);

        @include media(">=desktop") {
          @include vida-desk-body-1;
          line-height: rem(24px);
          padding: 0 0 rem(6px) 0;
        }
      }

      .compare-plans-text {
        @include vida-h6-mobile;
        color: get-color("orange");
        cursor: pointer;
        line-height: rem(16.8px);
        padding: 0 0 rem(24px) 0;
        text-decoration: underline;

        @include media(">=desktop") {
          @include vida-mobile-body-4;
          color: get-color("orange");
          line-height: rem(24px);
          padding: 0;
        }
      }
    }
  }

  .insurance-right-container {
    @include media(">desktop") {
      width: 48%;
    }
  }

  .custom-insurance-plan-container {
    .best-selling-insurance-container {
      background: get-color("white");
      border-radius: rem(8px);
      box-shadow: 0 0 rem(10px) 0 rgba(0, 0, 0, 0.1);
      cursor: pointer;
      margin: 0 0 rem(12px) 0;
      padding: rem(16px) rem(7px) rem(16px) rem(20px);

      @include media(">=desktop") {
        border-radius: rem(16px);
        margin: 0 0 rem(24px) 0;
        // min-width: rem(577px);
        padding: rem(34px) rem(55.5px);
      }
    }

    .best-selling-insurance-title-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 0 rem(10px) 0;
    }

    .best-selling-insurance-title {
      .best-selling-insurance-title-text {
        @include vida-h5-mobile;
        line-height: rem(19.2px);

        @include media(">=desktop") {
          @include vida-h5-desktop;
          line-height: rem(24px);
        }
      }
    }

    .right-chevron-icon {
      height: rem(20px);
      width: rem(20px);

      img {
        object-fit: cover;
        width: 100%;
      }
    }

    .best-selling-insurance-description-container {
      padding: 0 0 rem(16px) 0;

      @include media(">=desktop") {
        padding: 0 0 rem(24px) 0;
      }
    }

    .best-selling-insurance-description {
      align-items: flex-start;
      display: flex;
      gap: rem(8px);
      margin: 0 0 rem(6px) 0;

      &:last-child {
        margin: 0;
      }

      .tick-icon-container {
        display: flex;
        height: rem(11px);
        margin: rem(1px) 0 0 0;
        width: rem(11px);

        @include media(">=desktop") {
          height: rem(14px);
          margin: rem(2px) 0 0 0;
          width: rem(14px);
        }
      }

      .tick-icon {
        object-fit: cover;
        width: 100%;
      }

      .best-selling-insurance-description-text {
        @include vida-mobile-bottom-nav-label;
        flex: 1;
        line-height: rem(13.2px);

        @include media(">=desktop") {
          @include vida-mobile-body-1;
          line-height: rem(19.2px);
        }
      }
    }

    .best-selling-insurance-company-list {
      display: flex;
      gap: rem(6px);

      @include media(">=desktop") {
        gap: rem(7px);
      }
    }

    .best-selling-insurance-company-item {
      align-items: center;
      background: get-color("alice-blue");
      border-radius: rem(4px);
      display: flex;
      height: rem(36px);
      justify-content: center;
      min-width: rem(42px);
      padding: 0 5px;
      width: auto;

      @include media(">=desktop") {
        height: rem(70px);
        min-width: rem(70px);
        width: auto;
      }

      .best-selling-insurance-company-logo-wrapper {
        height: rem(20px);
        min-width: rem(26px);
        text-align: center;
        width: auto;

        @include media(">=desktop") {
          height: rem(34px);
          min-width: rem(44px);
          width: auto;
        }
      }

      .best-selling-insurance-company-logo {
        height: rem(20px);
        min-width: rem(26px);
        width: auto;

        @include media(">=desktop") {
          height: rem(34px);
          min-width: rem(44px);
          width: auto;
        }
      }

      span {
        @include vida-charging-plan-mobile;
      }
    }

    .additional-coverage-container {
      background: get-color("white");
      border-radius: rem(8px);
      box-shadow: 0 0 rem(10px) 0 rgba(0, 0, 0, 0.1);
      cursor: pointer;
      margin: 0 0 rem(12px) 0;
      padding: rem(16px) rem(7px) rem(16px) rem(20px);

      @include media(">=desktop") {
        border-radius: rem(16px);
        margin: 0 0 rem(24px) 0;
        padding: rem(34px) rem(55px);
      }
    }

    .additional-coverage-title-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 0 rem(12px) 0;
    }

    .additional-coverage-title {
      .additional-coverage-title-text {
        @include vida-h5-mobile;
        line-height: rem(19.2px);

        @include media(">=desktop") {
          @include vida-h5-desktop;
          line-height: rem(24px);
        }
      }
    }

    .right-chevron-icon {
      height: rem(20px);
      width: rem(20px);

      img {
        object-fit: cover;
        width: 100%;
      }
    }

    .additional-coverage-description-container {
      align-items: flex-start;
      border-bottom: 1px solid get-color("mine-shaft");
      display: flex;
      gap: rem(6px);
      margin: 0 0 rem(12px) 0;
      padding: 0 0 rem(12px) 0;

      .tick-icon-container {
        display: flex;
        height: rem(11px);
        margin: rem(2px) 0 0 0;
        width: rem(11px);

        @include media(">=desktop") {
          height: rem(20px);
          width: rem(20px);
        }
      }

      .tick-icon {
        object-fit: cover;
        width: 100%;
      }

      .additional-coverage-description-text {
        @include vida-mobile-body-2;
        flex: 1;
        line-height: rem(16.8px);

        @include media(">=desktop") {
          @include vida-mobile-body-1;
          line-height: rem(19.2px);
        }
      }
    }

    .additional-coverage-options-item {
      align-items: flex-start;
      display: flex;
      gap: rem(12px);
      margin: 0 0 rem(12px) 0;

      &:last-child {
        margin: 0;
      }

      .addon-icon-container {
        display: flex;
        height: rem(14px);
        width: rem(14px);

        @include media(">=desktop") {
          height: rem(18px);
          width: rem(18px);
        }
      }

      .addon-icon {
        object-fit: cover;
        width: 100%;
      }

      .additional-coverage-options-text {
        @include vida-mobile-body-2;
        line-height: rem(16.8px);

        @include media(">=desktop") {
          @include vida-mobile-body-1;
          line-height: rem(19.2px);
        }
      }
    }

    .own-insurance-container {
      background: get-color("white");
      border-radius: rem(8px);
      box-shadow: 0 0 rem(10px) 0 rgba(0, 0, 0, 0.1);
      margin: 0 0 rem(32px) 0;
      padding: rem(16px) rem(7px) rem(16px) rem(20px);

      @include media(">=desktop") {
        border-radius: rem(16px);
        margin: 0;
        padding: rem(34px) rem(55px);
      }

      .own-insurance-flex-container {
        align-items: flex-start;
        display: flex;
        gap: rem(12px);

        @include media(">=desktop") {
          gap: rem(21px);
        }
      }
    }

    .own-insurance-checkbox-container {
      margin: rem(2px) 0 0 0;

      .own-insurance-checkbox[type="checkbox"] {
        accent-color: get-color("orange");
        border: 1px solid get-color("orange");
        height: rem(16px);
        width: rem(16px);

        @include media(">=desktop") {
          border: 1px solid get-color("orange");
          height: rem(20px);
          width: rem(20px);
        }
      }
    }

    .own-insurance-title {
      padding: 0 0 rem(10px) 0;

      @include media(">=desktop") {
        padding: 0 0 rem(12px) 0;
      }

      .own-insurance-title-text {
        @include vida-h5-mobile;
        line-height: rem(19.2px);

        @include media(">=desktop") {
          @include vida-h5-desktop;
          line-height: rem(24px);
        }
      }
    }

    .own-insurance-description-container {
      .own-insurance-description-text {
        @include vida-mobile-body-2;
        line-height: rem(16.8px);

        @include media(">=desktop") {
          @include vida-mobile-body-1;
          line-height: rem(19.2px);
        }
      }
    }

    .custom-insurance-plan-popup-container {
      @include media(">=desktop") {
        align-items: center;
        background: get-color("alice-blue");
        border-top-left-radius: rem(16px);
        border-top-right-radius: rem(16px);
        bottom: 0;
        box-shadow: 0 rem(-10px) rem(10px) 0 rgba(0, 0, 0, 0.1);
        display: flex;
        height: rem(140px);
        justify-content: flex-end;
        left: 0;
        position: fixed;
        right: 0;
        width: 100%;
      }
    }

    .proceed-btn-container {
      .proceed-btn {
        @include vida-h5-mobile;
        align-items: center;
        background: get-color("orange");
        border-radius: rem(8px);
        box-shadow: 0 rem(5px) rem(10px) 0 rgba(0, 0, 0, 0.1);
        color: get-color("white");
        cursor: pointer;
        display: flex;
        height: rem(51px);
        justify-content: center;
        width: 100%;

        @include media(">=desktop") {
          @include vida-h5-desktop;
          color: get-color("white");
          height: rem(78px);
          width: rem(282px);
        }

        &:disabled {
          background: get-color("oslo-gray");
        }
      }
    }
  }

  .compare-plans-container {
    @include media(">=desktop") {
      width: 100%;
    }

    .compare-plans-mobile-title {
      padding: 0 0 rem(24px) 0;

      @include media(">=desktop") {
        display: none;
      }

      .compare-plans-mobile-title-text {
        @include vida-h2-mobile;
        line-height: rem(28.8px);
      }
    }

    .compare-plans-title {
      padding: 0 0 rem(12px);

      @include media(">=desktop") {
        padding: 0 0 rem(19px) 0;
      }

      .compare-plans-title-text {
        @include vida-mobile-body-4;
        line-height: rem(24px);

        @include media(">=desktop") {
          @include vida-h2-desk;
          line-height: rem(57.6px);
        }
      }
    }

    .compare-plans-table-container {
      margin: 0 rem(-20px);

      @include media(">=desktop") {
        margin: 0;
      }
    }

    .compare-plans-table {
      text-align: left;
      width: 100%;

      @include media(">=desktop") {
        background: get-color("alice-blue");
        border-radius: rem(16px);
      }

      th {
        padding: 0 rem(16px) rem(10px) rem(16px);

        @include media(">=desktop") {
          padding: rem(34px) rem(34px) rem(20px) rem(34px);
        }
      }

      td {
        padding: rem(10px) rem(16px);

        @include media(">=desktop") {
          padding: rem(34px) rem(34px) rem(68px) rem(34px);
        }
      }

      .compare-plans-table-title-row {
        border-bottom: 1px solid get-color("oslo-gray");

        th {
          @include vida-mobile-bottom-nav-label;
          line-height: rem(13.2px);

          @include media(">=desktop") {
            @include vida-h5-desktop;
            line-height: rem(24px);
          }
        }
      }

      .compare-plans-table-content-row {
        border-bottom: 1px solid get-color("oslo-gray");

        &:last-child {
          border: none;
        }

        td {
          @include vida-extra-small-text-mobile;
          line-height: rem(12px);

          @include media(">=desktop") {
            @include vida-desk-body-1;
            line-height: rem(24px);
          }
        }
      }

      .insurance-company-logo {
        height: rem(30px);
        width: rem(32px);

        @include media(">=desktop") {
          width: rem(48px);
        }

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .insurance-policy-addons-list {
        margin: 0;
      }
    }

    .compare-plans-popup-container {
      @include media(">=desktop") {
        align-items: center;
        background: get-color("alice-blue");
        border-top-left-radius: rem(16px);
        border-top-right-radius: rem(16px);
        bottom: 0;
        box-shadow: 0 rem(-10px) rem(10px) 0 rgba(0, 0, 0, 0.1);
        display: flex;
        height: rem(140px);
        justify-content: flex-end;
        left: 0;
        position: fixed;
        right: 0;
        width: 100%;
      }
    }

    .back-btn-container {
      margin: rem(32px) 0 0 0;

      @include media(">=desktop") {
        margin: 0;
      }

      .back-btn {
        @include vida-h5-mobile;
        align-items: center;
        background: get-color("orange");
        border-radius: rem(8px);
        color: get-color("white");
        display: flex;
        height: rem(51px);
        justify-content: center;
        width: 100%;

        @include media(">=desktop") {
          @include vida-h5-desktop;
          color: get-color("white");
          height: rem(78px);
          width: rem(282px);
        }
      }
    }
  }

  .insurance-plans-container {
    .insurance-plans-dropdown-container {
      padding: 0 0 rem(16px) 0;

      @include media(">=desktop") {
        padding: 0 0 rem(32px) 0;
      }

      .showing-for-text {
        @include vida-mobile-body-2;
        line-height: rem(16.8px);
        margin: 0 rem(14px) 0 0;

        @include media(">=desktop") {
          @include vida-mobile-body-1;
          line-height: rem(19.2px);
          margin: 0 rem(16px) 0 0;
        }
      }

      .insurance-plans-dropdown {
        @include vida-mobile-body-3;
        border: 1px solid get-color("oslo-gray");
        border-radius: rem(4px);
        height: rem(36px);
        padding: 0 rem(16px) 0 rem(10px);
        width: rem(230px);

        @include media(">=desktop") {
          @include vida-mobile-body-1;
          border-radius: rem(8px);
          width: rem(308px);
        }
      }
    }

    .insurance-plans-list {
      .insurance-plans-item {
        background: get-color("alice-blue");
        border-radius: rem(8px);
        margin: 0 0 rem(16px) 0;
        padding: rem(16px) rem(20px);

        @include media(">=desktop") {
          border-radius: rem(16px);
          margin: 0 0 rem(32px) 0;
          padding: rem(34px) rem(54px);
        }

        &:last-child {
          margin: 0;
        }

        &.active-card {
          .insurance-plans-title-flex-container {
            .dropdown-chevron {
              display: none;
            }
          }

          .insurance-plans-content-container {
            height: auto;
            overflow: auto;
          }
        }
      }
    }

    .insurance-plans-title-flex-container {
      align-items: center;
      display: flex;
      gap: rem(12px);
      justify-content: space-between;
      padding: 0 0 rem(10px) 0;
    }

    .insurance-plans-title-container {
      align-items: center;
      display: flex;
      gap: rem(11px);

      .insurance-company-logo {
        width: rem(24px);

        @include media(">=desktop") {
          width: rem(32px);
        }

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .insurance-company-name {
        .insurance-company-name-text {
          @include vida-h5-mobile;
          line-height: rem(19.2px);

          @include media(">=desktop") {
            @include vida-h5-desktop;
            line-height: rem(24px);
          }
        }
      }
    }

    .dropdown-chevron {
      cursor: pointer;
      height: rem(20px);
      width: rem(20px);

      img {
        object-fit: cover;
        width: 100%;
      }
    }

    .insurance-plan-name-pt-container {
      background: get-color("white");
      border-radius: rem(8px);
      margin: 0 0 rem(12px) 0;
      padding: rem(6px) rem(16px);
    }

    .insurance-plan-name-flex-container {
      align-items: center;
      display: flex;
      gap: rem(12px);
      justify-content: space-between;

      .insurance-plan-name {
        flex: 1;

        .insurance-plan-name-text {
          @include vida-h6-mobile;
          line-height: rem(16.8px);

          @include media(">=desktop") {
            @include vida-h6-desktop;
            line-height: rem(21.6px);
          }
        }
      }

      .insurance-plan-amount-container {
        flex: 0.5;

        .insurance-plan-amount {
          @include vida-h6-mobile;
          color: get-color("orange");
          line-height: rem(16.8px);
          text-align: end;

          @include media(">=desktop") {
            @include vida-h6-desktop;
            color: get-color("orange");
            line-height: rem(21.6px);
          }
        }

        .insurance-plan-amount-subtext {
          @include vida-extra-small-text-mobile;
          line-height: rem(12px);
          text-align: end;

          @include media(">=desktop") {
            @include vida-mobile-body-3;
            line-height: rem(14.4px);
          }
        }
      }
    }

    .insurance-plans-content-container {
      height: 0;
      overflow: hidden;

      .insurance-plans-description {
        padding: 0 0 rem(10px) 0;

        .insurance-plans-description-text {
          @include vida-mobile-body-3;
          line-height: rem(14.4px);

          @include media(">=desktop") {
            @include vida-desktop-body-3;
            line-height: rem(21.6px);
          }
        }
      }

      .insurance-plans-declared-value {
        padding: 0 0 rem(12px) 0;

        .insurance-plans-declared-value-text {
          @include vida-small-text-mobile;
          line-height: rem(14.4px);

          @include media(">=desktop") {
            @include vida-h6-desktop;
            line-height: rem(21.6px);
          }
        }
      }

      .choose-addons-plans {
        padding: 0 0 rem(10px) 0;

        .choose-addons-text {
          @include vida-mobile-bottom-nav-label;
          line-height: rem(13.2px);

          @include media(">=desktop") {
            @include vida-charging-plan-mobile;
            line-height: rem(16.8px);
          }
        }
      }
    }

    .choose-addons-list {
      padding: 0 0 rem(12px) 0;
    }

    .choose-addons-item {
      background: get-color("white");
      border-radius: rem(8px);
      margin: 0 0 rem(8px) 0;
      padding: rem(6px) rem(16px);

      &:last-child {
        margin: 0;
      }

      .choose-addons-item-container {
        align-items: center;
        display: flex;
        gap: rem(12px);
        justify-content: space-between;
      }

      .choose-addons-name-container {
        align-items: center;
        display: flex;
        gap: rem(16px);

        .choose-addons-checkbox {
          accent-color: get-color("orange");
          border: 1px solid get-color("orange");
          height: rem(20px);
          width: rem(20px);
        }

        .choose-addons-name-text {
          @include vida-mobile-bottom-nav-label;
          line-height: rem(13.2px);

          @include media(">=desktop") {
            @include vida-charging-plan-mobile;
            line-height: rem(16.8px);
          }

          span {
            vertical-align: text-top;
          }
        }
      }

      .choose-addons-amount-container {
        .choose-addons-amount-text {
          @include vida-small-bold-text-desktop;
          color: get-color("orange");
          line-height: rem(12px);
          text-align: end;

          @include media(">=desktop") {
            @include vida-h6-desktop;
            color: get-color("orange");
            line-height: rem(21.6px);
          }
        }

        .choose-addons-amount-subtext {
          @include vida-extra-small-text-mobile;
          line-height: rem(12px);
          text-align: end;

          @include media(">=desktop") {
            @include vida-mobile-body-3;
            line-height: rem(14.4px);
          }
        }
      }
    }

    .choose-addons-total-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 rem(16px) rem(12px) rem(34px);

      @include media(">=desktop") {
        padding: 0 rem(16px) rem(12px) rem(16px);
      }

      .choose-addons-total {
        .choose-addons-total-text {
          @include vida-h6-mobile;
          line-height: rem(16.8px);

          @include media(">=desktop") {
            @include vida-h6-desktop;
            line-height: rem(21.6px);
          }
        }
      }

      .choose-addons-total-amount {
        .choose-addons-total-amount-text {
          @include vida-h6-mobile;
          color: get-color("orange");
          line-height: rem(16.8px);

          @include media(">=desktop") {
            @include vida-h6-desktop;
            color: get-color("orange");
            line-height: rem(21.6px);
          }
        }
      }
    }

    .choose-addons-btn-container {
      display: flex;
      justify-content: end;

      .addons-select-btn {
        @include vida-h5-mobile;
        align-items: center;
        background: get-color("white");
        border: 1px solid get-color("orange");
        border-radius: rem(4px);
        cursor: pointer;
        display: flex;
        height: rem(35px);
        justify-content: center;
        width: rem(95px);

        @include media(">=desktop") {
          @include vida-h5-desktop;
          height: rem(40px);
          width: rem(130px);
        }

        &.selected-btn {
          background: get-color("orange");
          color: get-color("white");
        }
      }
    }

    .insurance-plans-popup-container {
      .drawer {
        @include media(">=desktop") {
          bottom: 0;
          left: 0;
          max-width: unset;
          position: fixed;
          right: 0;
          width: 100%;
        }

        .drawer__content {
          @include media(">=desktop") {
            border-radius: 0;
            border-top-left-radius: rem(16px);
            border-top-right-radius: rem(16px);
            height: rem(140px);
            padding: rem(31px) rem(88px);
          }
        }

        .drawer__body {
          .insurance-plans-popup-content-container {
            @include media(">=desktop") {
              display: flex;
            }
          }
        }
      }
    }

    .insurance-plans-details-container {
      align-items: flex-start;
      display: flex;
      flex: 1;
      gap: rem(12px);
      justify-content: space-between;
      padding: 0 rem(36px) rem(16px) rem(36px);

      @include media(">=desktop") {
        gap: rem(14px);
        justify-content: unset;
        padding: 0;
      }

      .selected-insurance-plan-name {
        .selected-insurance-plan-name-text {
          @include vida-h5-mobile;
          line-height: rem(19.2px);

          @include media(">=desktop") {
            @include vida-h6-desktop;
            line-height: rem(21.6px);
          }
        }
      }

      .selected-insurance-plan-amount {
        .selected-insurance-plan-amount-text {
          @include vida-h2-mobile;
          line-height: rem(28.8px);

          @include media(">=desktop") {
            @include vida-h3-desktop;
            line-height: rem(33.6px);
          }
        }
      }
    }

    .insurance-plans-button-container {
      display: flex;
      flex: 1;
      gap: rem(16px);

      .insurance-cancel-btn {
        @include vida-h5-mobile;
        align-items: center;
        background: get-color("white");
        border: 1px solid get-color("orange");
        border-radius: rem(8px);
        cursor: pointer;
        display: flex;
        flex: 1;
        height: rem(51px);
        justify-content: center;

        @include media(">=desktop") {
          @include vida-h5-desktop;
          height: rem(78px);
        }
      }

      .insurance-confirm-btn {
        @include vida-h5-mobile;
        align-items: center;
        background: get-color("orange");
        border-radius: rem(8px);
        color: get-color("white");
        cursor: pointer;
        display: flex;
        flex: 1;
        height: rem(51px);
        justify-content: center;

        @include media(">=desktop") {
          @include vida-h5-desktop;
          color: get-color("white");
          height: rem(78px);
        }
      }
    }
  }

  .own-insurance-popup-container {
    align-items: center;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 0 rem(16px);
    position: fixed;
    right: 0;
    top: 3.25rem;
    width: 100%;
    z-index: 9999;

    @include media(">=desktop") {
      top: rem(64px);
    }

    .own-insurance-popup-content-container {
      @include media(">=desktop") {
        max-width: rem(576px);
      }

      .own-insurance-popup-title {
        padding: 0 0 rem(16px) 0;

        .own-insurance-popup-title-text {
          @include vida-h3-mobile;
          color: get-color("white");
          line-height: rem(24px);

          @include media(">=desktop") {
            @include vida-h3-desktop;
            color: get-color("white");
            line-height: rem(33.6px);
          }
        }
      }

      .own-insurance-popup-description {
        padding: 0 0 rem(32px) 0;

        .own-insurance-popup-description-text {
          @include vida-mobile-body-1;
          color: get-color("white");
          line-height: rem(19.2px);

          @include media(">=desktop") {
            @include vida-desk-body-1;
            color: get-color("white");
            line-height: rem(24px);
          }
        }
      }

      .own-insurance-popup-btn-container {
        display: flex;
        gap: rem(16px);

        @include media(">=desktop") {
          gap: rem(12px);
        }

        .own-insurance-cancel-btn {
          @include vida-h5-mobile;
          align-items: center;
          background: get-color("white");
          border: 1px solid get-color("orange");
          border-radius: rem(8px);
          cursor: pointer;
          display: flex;
          flex: 1;
          height: rem(51px);
          justify-content: center;

          @include media(">=desktop") {
            @include vida-h5-desktop;
            height: rem(78px);
          }
        }

        .own-insurance-confirm-btn {
          @include vida-h5-mobile;
          align-items: center;
          background: get-color("orange");
          border-radius: rem(8px);
          color: get-color("white");
          cursor: pointer;
          display: flex;
          flex: 1;
          height: rem(51px);
          justify-content: center;

          @include media(">=desktop") {
            @include vida-h5-desktop;
            color: get-color("white");
            height: rem(78px);
          }
        }
      }
    }
  }

  .cpa-opt-out-popup-container {
    align-items: center;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 0 rem(16px);
    position: fixed;
    right: 0;
    top: 3.25rem;
    width: 100%;
    z-index: 9999;

    @include media(">=desktop") {
      top: rem(64px);
    }

    .cpa-opt-out-popup-content-container {
      @include media(">=desktop") {
        max-width: rem(576px);
      }

      .cpa-opt-out-popup-title {
        padding: 0 0 rem(16px) 0;

        .cpa-opt-out-popup-title-text {
          @include vida-h3-mobile;
          color: get-color("white");
          line-height: rem(24px);

          @include media(">=desktop") {
            @include vida-h3-desktop;
            color: get-color("white");
            line-height: rem(33.6px);
          }
        }
      }

      .cpa-opt-out-popup-description {
        padding: 0 0 rem(16px) 0;

        .cpa-opt-out-popup-description-text {
          @include vida-mobile-body-1;
          color: get-color("white");
          line-height: rem(19.2px);
          margin-bottom: rem(10px);

          @include media(">=desktop") {
            @include vida-desk-body-1;
            color: get-color("white");
            line-height: rem(24px);
            margin-bottom: rem(10px);
          }
        }

        .cpa-opt-out-form-container {
          border-top: 1px solid get-color("white");
          color: get-color("white");
          padding-top: rem(24px);

          .cpa-opt-out-form-title {
            padding-bottom: 23px;

            @include media(">=desktop") {
              @include vida-h6-desktop;
              color: get-color("white");
              font-weight: 700;
              line-height: rem(21.6px);
              width: 60%;
            }
          }

          .opt-out-form-values-container {
            align-items: flex-start;
            display: flex;
            gap: 16px;
            width: 60%;
            
            .opt-out-reason-checkbox {
              appearance: none;
              border: 1px solid get-color("white");
              border-radius: 0;
              flex-shrink: 0;
              height: 18px;
              outline: none;
              width: 18px;

              &:checked {
                background: url("/clientlib-site/images/svg/checkbox-selected.svg") no-repeat;
                background-size: contain;
              }

              &:not(:checked) {
                background: transparent;
              }
            }

            .opt-out-form-values {
              color: get-color("white");
              padding-bottom: 21px;
              @include media(">=desktop") {
                @include vida-desktop-body-3; 
                color: get-color("white");
              }
            }
          }
        }
      }

      .cpa-opt-out-popup-btn-container {
        display: flex;
        gap: rem(16px);

        @include media(">=desktop") {
          gap: rem(12px);
        }

        .cpa-opt-out-cancel-btn {
          @include vida-h5-mobile;
          align-items: center;
          background: get-color("white");
          border: 1px solid get-color("orange");
          border-radius: rem(8px);
          cursor: pointer;
          display: flex;
          flex: 1;
          height: rem(51px);
          justify-content: center;

          @include media(">=desktop") {
            @include vida-h5-desktop;
            height: rem(78px);
          }
        }

        .cpa-opt-out-confirm-btn {
          @include vida-h5-mobile;
          align-items: center;
          background: get-color("orange");
          border-radius: rem(8px);
          color: get-color("white");
          cursor: pointer;
          display: flex;
          flex: 1;
          height: rem(51px);
          justify-content: center;

          @include media(">=desktop") {
            @include vida-h5-desktop;
            color: get-color("white");
            height: rem(78px);
          }
        }
      }
    }
  }

  .compare-plans-dropdown-container {
    padding: 0 0 rem(24px) 0;

    @include media(">=desktop") {
      padding: 0 0 rem(34px) 0;
    }

    .showing-for-text {
      @include vida-mobile-body-2;
      line-height: rem(16.8px);
      margin: 0 rem(14px) 0 0;

      @include media(">=desktop") {
        @include vida-desk-body-1;
        line-height: rem(24px);
        margin: 0 rem(16px) 0 0;
      }
    }

    .compare-plans-select-container {
      display: inline-block;
      padding: 0 0 rem(16px) 0;
      position: relative;

      @include media(">desktop") {
        padding: 0 0 rem(24px) 0;
      }

      .compare-plans-select-icon {
        cursor: pointer;
        height: rem(24px);
        position: absolute;
        right: rem(16px);
        top: rem(12px);
        width: rem(24px);

        @include media(">desktop") {
          height: rem(40px);
          right: rem(24px);
          top: rem(8px);
          width: rem(40px);
        }

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      input {
        @include vida-mobile-body-1;
        background: get-color("white");
        border: none;
        border-radius: rem(8px);
        box-shadow: 0 0 rem(10px) 0 rgba(0, 0, 0, 0.1);
        color: get-color("mine-shaft");
        height: rem(48px);
        outline: 1px solid get-color("oslo-gray");
        padding: 0 rem(16px);
        width: rem(245px);

        @include media(">desktop") {
          @include vida-mobile-body-1;
          color: get-color("mine-shaft");
          width: rem(308px);
        }

        &:focus {
          outline: 1px solid get-color("orange");
        }
      }

      .compare-plans-select-option-container {
        background: get-color("white");
        border-radius: rem(8px);
        margin: rem(2px) 0 0 0;
        max-height: rem(160px);
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        width: 100%;
        z-index: 1;

        @include media(">desktop") {
          max-height: rem(240px);
        }

        &::-webkit-scrollbar {
          width: rem(2px);

          @include media(">desktop") {
            width: rem(4px);
          }
        }

        &::-webkit-scrollbar-track {
          background: get-color("white");
          border-radius: rem(8px);
        }

        &::-webkit-scrollbar-thumb {
          background: get-color("catskill-white");
          border-radius: rem(8px);
        }
      }

      .compare-plans-select-option {
        border-bottom: 1px solid get-color("catskill-white");
        cursor: pointer;
        height: rem(40px);
        padding: rem(12px) rem(16px);

        @include media(">desktop") {
          height: rem(56px);
          padding: rem(16px);
        }

        &:hover {
          background: get-color("catskill-white");
        }

        p {
          color: get-color("mine-shaft");
          font-size: rem(12px);

          @include media(">desktop") {
            font-size: rem(16px);
          }
        }
      }
    }
  }
}
