 /* Variables  */
$blue-100: #DDE4F6FF;
$blue-200: #BAC9EEFF;
$blue-300: #98ADE5FF;
$blue-400: #7592DDFF;
$blue-500: #5377D4FF;
$blue-600: #425FAAFF;
$blue-700: #32477FFF;
$blue-800: #213055FF;
$blue-900: #11182AFF;

