 /* Variables  */
$brand-100: #FFDDCFFF;
$brand-200: #FFBA9FFF;
$brand-300: #FF9870FF;
$brand-400: #FF7540FF;
$brand-500: #FF5310FF;
$brand-600: #CC420DFF;
$brand-700: #99320AFF;
$brand-800: #662106FF;
$brand-900: #331103FF;

