 /* Variables  */
$cyan-100: #CCFBFFFF;
$cyan-200: #99F8FFFF;
$cyan-300: #66F4FFFF;
$cyan-400: #33F1FFFF;
$cyan-500: #00EDFFFF;
$cyan-600: #00BECCFF;
$cyan-700: #008E99FF;
$cyan-800: #005F66FF;
$cyan-900: #002F33FF;

