 /* Variables  */
$green-100: #CCF9DEFF;
$green-200: #99F3BDFF;
$green-300: #66EC9CFF;
$green-400: #33E67BFF;
$green-500: #00E05AFF;
$green-600: #00B348FF;
$green-700: #008636FF;
$green-800: #005A24FF;
$green-900: #002D12FF;

