 /* Variables  */
$neutral-50: #FFFFFFFF;
$neutral-100: #F4F4F4FF;
$neutral-150: #EAEAEAFF;
$neutral-200: #DFDFDFFF;
$neutral-250: #D4D4D4FF;
$neutral-300: #C9C9C9FF;
$neutral-350: #BDBDBDFF;
$neutral-400: #A7A6A6FF;
$neutral-450: #9B9A9AFF;
$neutral-500: #8F8E8EFF;
$neutral-550: #838282FF;
$neutral-600: #767575FF;
$neutral-650: #696767FF;
$neutral-700: #5C5A5AFF;
$neutral-750: #4E4C4CFF;
$neutral-800: #3F3D3DFF;
$neutral-850: #2E2C2CFF;
$neutral-900: #1D1B1BFF;

