 /* Variables  */
$red-100: #FFCCCCFF;
$red-200: #FF9999FF;
$red-300: #FF6666FF;
$red-400: #FF3333FF;
$red-500: #FF0000FF;
$red-600: #CC0000FF;
$red-700: #990000FF;
$red-800: #660000FF;
$red-900: #330000FF;

