 /* Variables  */
$yellow-100: #FFF2CFFF;
$yellow-200: #FFE49FFF;
$yellow-300: #FFD770FF;
$yellow-400: #FFC940FF;
$yellow-500: #FFBC10FF;
$yellow-600: #CC960DFF;
$yellow-700: #99710AFF;
$yellow-800: #664B06FF;
$yellow-900: #332603FF;

