 /* Aliases  */
$dropdown-backgrounddefault: $background-secondary50;
$dropdown-backgroundhover: $background-secondaryinverse-hover;
$dropdown-backgroundactive: $background-secondary50;
$dropdown-textcolorhover: $border-inverse;
$dropdown-textcolor: $content-primary-inverse;

