 /* Aliases  */
$tab-backgrounddefault: $background-secondary50;
$tab-strokecolor: $border-inverse;
$tab-textcolor: $content-primary-inverse;
$tab-backgroundhover: $background-secondaryinverse-hover;
$tab-backgroundactive: $background-secondary50;

