 /* Aliases  */
$link-primary-cta-semibold-font-size: $font-size-400;
$link-primary-cta-semibold-font-weight: $font-weight-semibold;
$link-primary-cta-semibold-line-height: $line-height-400;
$link-primary-cta-semibold-letter-spacing: $letter-spacing-m;

