.need-vida-wrapper {
  padding-bottom: rem(32px) !important;
  padding-top: rem(32px) !important;
  transition: opacity 1.5s ease-out;

  @include media(">=desktop") {
    padding-bottom: rem(64px) !important;
    padding-top: rem(64px) !important;
  }

  .need-vida-container {
    @include media(">=desktop") {
      padding: 0 rem(52px);
    }

    .need-vida-title-container {
      padding: 0 0 rem(32px) 0;
      @include media(">=desktop") {
        padding: 0 0 rem(64px) 0;
      }

      .need-vida-title {
        @include vida-h2-mobile;
        @include media(">=desktop") {
          @include vida-h2-desk;
        }
      }
    }
  }

  .need-vida-content-container {
  }

  .need-vida-tab-pt-container {
    @include media(">=desktop") {
      display: none;
    }

    .need-vida-tab-container {
      background: rgba(228, 234, 241, 0.4);
      border-radius: rem(8px);
      display: flex;
      height: rem(52px);
      justify-content: space-between;
      margin: 0 0 rem(32px);
      padding: rem(6px);
    }

    .need-vida-tab {
      align-items: center;
      border-bottom: 2px solid get-color("orange");
      cursor: pointer;
      display: flex;
      flex: 1;
      justify-content: center;
      text-align: center;

      .need-vida-tab-title {
        @include vida-mobile-body-1;
      }

      &.active-tab {
        background: get-color("orange");
        clip-path: polygon(20% 0, 80% 0, 101% 100%, -1% 100%);

        .need-vida-tab-title {
          @include vida-h5-mobile;
          color: get-color("white");
        }

        &:first-child {
          border-bottom-left-radius: rem(4px);
          border-top-left-radius: rem(4px);
          clip-path: polygon(0 0, 70% 0, 101% 100%, 0 100%);

          .need-vida-tab-title {
            padding: 0 rem(12px) 0 0;
          }
        }

        &:last-child {
          border-bottom-right-radius: rem(4px);
          border-top-right-radius: rem(4px);
          clip-path: polygon(25% 0, 100% 0, 100% 100%, -1% 100%);

          .need-vida-tab-title {
            padding: 0 0 0 rem(12px);
          }
        }
      }
    }

    .need-vida-tab-content-container {
      .need-vida-tab-description {
        padding: 0 0 rem(16px) 0;

        .need-vida-tab-description-text {
          @include vida-mobile-body-1;
        }
      }

      .need-vida-tab-cta-link {
        .need-vida-tab-cta-link-text {
          @include vida-tertiary-cta-mobile;
        }
      }
    }
  }

  .need-vida-details-container {
    @include media("<desktop") {
      display: none;
    }
  }

  .need-vida-details-list {
    display: flex;
    gap: rem(56px);
    justify-content: space-between;
  }

  .need-vida-details-item {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: rem(32px);

    .need-vida-details-title-container {
      align-items: center;
      display: flex;
      gap: rem(16px);
      justify-content: flex-start;

      .need-vida-details-title-icon {
        height: rem(30px);
        // width: rem(30px);

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .need-vida-details-title {
        .need-vida-details-title-text {
          @include vida-h5-desktop;
        }
      }
    }

    .need-vida-details-content-container {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: rem(32px);
      height: 100%;
      justify-content: space-between;

      .need-vida-details-description {
        .need-vida-details-description-text {
          @include vida-desk-body-1;
        }
      }

      .need-vida-details-cta-link {
        .need-vida-details-cta-link-text {
          @include vida-tertiary-cta;
        }
      }
    }
  }
}
