.document-upload-wrapper {
  .document-upload-bg-img {
    background: get-color("catskill-white");
    height: 100vh;
    object-fit: cover;
    position: fixed;
    width: 100%;
  }

  .document-upload-container {
    padding-bottom: rem(24px) !important;
    padding-top: rem(32px) !important;
    position: relative;

    @include media(">=desktop") {
      display: flex;
      // gap: rem(152px);
      justify-content: space-between;
      padding-bottom: rem(152px) !important;
      padding-top: rem(37px) !important;
    }
  }

  .document-upload-left-container {
    @include media(">=desktop") {
      flex-basis: 48%;
    }

    .document-upload-banner-container {
      border-radius: rem(8px);
      margin: 0 0 rem(16px) 0;
      position: relative;

      @include media(">=desktop") {
        border-radius: rem(16px);
        margin: 0 0 rem(34px) 0;
      }

      .document-upload-banner-bg {
        height: 100%;
        position: absolute;
        width: 100%;
      }

      .document-upload-banner-content-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: rem(8px) rem(16px);
        position: relative;

        @include media(">=desktop") {
          padding: rem(12px) rem(10px) rem(12px) rem(30px);
        }
      }

      .user-info-container {
        .user-info-name-text {
          @include vida-h2-desk;
          color: get-color("white");
          line-height: rem(40px);

          @include media(">=desktop") {
            @include vida-large-title1-mobile;
            color: get-color("white");
            line-height: rem(86px);
          }
        }

        .user-info-bike-text {
          @include vida-medium-bold-text-mobile;
          color: get-color("white");
          line-height: rem(40px);

          @include media(">=desktop") {
            @include vida-large-title2-mobile;
            color: get-color("white");
            line-height: rem(54px);
          }
        }

        .bike-sub-text {
          @include vida-tertiary-cta-mobile;
          color: get-color("white");
          line-height: rem(20px);

          @include media(">=desktop") {
            @include vida-mobile-body-4;
            color: get-color("white");
            line-height: rem(20px);
          }
        }
      }

      .user-bike-img-container {
        height: rem(93px);
        width: rem(102px);

        @include media(">=desktop") {
          height: rem(158px);
          max-width: rem(192px);
          width: rem(192px);
        }

        .user-bike-img {
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .document-upload-delivery-tracker-container {
      margin: 0 0 rem(32px);

      @include media(">=desktop") {
        margin: 0;
      }
    }
  }

  .document-upload-right-container {
    @include media(">=desktop") {
      flex-basis: 48%;
    }

    .dealer-card-container {
      align-items: center;
      background-color: get-color("alice-blue");
      border-radius: rem(16px);
      display: flex;
      gap: 16px;
      margin-bottom: 34px;
      padding: rem(16px);

      .vida-dealers-card-img {
        flex-basis: 45%;
        height: rem(115px);
        margin: 0 0 rem(32px) 0;
        width: rem(100px);
        @include media(">=desktop") {
          height: rem(131px);
          margin: 0;
          width: rem(124px);
        }

        img {
          border-radius: 12px;
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }

      .vida-dealers-details-container {
        .dealers-type {
          padding: 0 0 rem(8px) 0;

          .dealers-type-text {
            @include vida-mobile-body-3;
            line-height: rem(14.4px);
            text-transform: uppercase;
            @include media(">=desktop") {
              @include vida-mobile-body-1;;
              line-height: rem(19.2px);
            }
          }
        }

        .dealers-card-title {
          padding: 0 0 rem(8px) 0;

          .dealers-card-title-text {
            @include vida-h5-mobile;
            line-height: rem(19.2px);
            @include media(">=desktop") {
              @include vida-h5-desktop;
              font-weight: 700;
              line-height: rem(24px);
            }
          }
        }

        .dealers-card-address {
          padding: 0 0 rem(8px) 0;

          .dealers-card-address-text {
            @include vida-mobile-body-1;
            line-height: rem(19.2px);
            @include media(">=desktop") {
              @include vida-mobile-body-1;
              line-height: rem(19.2px);
            }
          }
        }

        .dealers-card-get-direction-cta {
          .dealers-card-get-direction-cta-text {
            @include vida-tertiary-cta-mobile;
            display: block;
            line-height: rem(19.2px);

            @include media(">=desktop") {
              @include vida-tertiary-cta;
              line-height: rem(24px);
            }
          }
        }
      }
    }

    .document-upload-right-title {
      padding: 0 0 rem(10px) 0;

      @include media(">=desktop") {
        padding: 0 0 rem(12px) 0;
      }

      .document-upload-right-title-text {
        @include vida-h2-mobile;
        line-height: rem(28.8px);

        @include media(">=desktop") {
          @include vida-h2-desk;
          line-height: rem(57.6px);
        }
      }
    }

    .document-upload-right-description {
      padding: 0 0 rem(16px) 0;

      @include media(">=desktop") {
        padding: 0 0 rem(24px) 0;
      }

      .document-upload-right-description-text {
        @include vida-mobile-body-2;
        line-height: rem(16.8px);

        @include media(">=desktop") {
          @include vida-desktop-body-3;
          line-height: rem(21.6px);
        }
      }
    }

    .document-upload-right-secondary-title {
      padding: 0 0 rem(10px) 0;

      @include media(">=desktop") {
        padding: 0 0 rem(12px) 0;
      }

      .document-upload-right-secondary-title-text {
        @include vida-h2-mobile;
        line-height: rem(28.8px);

        @include media(">=desktop") {
          @include vida-h2-desk;
          line-height: rem(57.6px);
        }
      }
    }

    .document-upload-right-secondary-description {
      padding: 0 0 rem(16px) 0;

      @include media(">=desktop") {
        padding: 0 0 rem(33px) 0;
      }

      .document-upload-right-secondary-description-text {
        @include vida-mobile-body-2;
        line-height: rem(16.8px);

        @include media(">=desktop") {
          @include vida-desktop-body-3;
          line-height: rem(21.6px);
        }
      }
    }

    // .document-upload-digilocker-container {
    // }

    .digilocker-card-container {
      background: get-color("alice-blue");
      border-radius: rem(8px);
      margin: 0 0 rem(24px) 0;
      padding: rem(16px) rem(20px);

      @include media(">=desktop") {
        border-radius: rem(16px);
      }

      .digilocker-card-primary-text {
        @include vida-h5-mobile;
        line-height: rem(19.2px);
        padding: 0 0 rem(16px) 0;

        @include media(">=desktop") {
          @include vida-h5-desktop;
          line-height: rem(24px);
        }
      }

      .digilocker-card-secondary-text {
        @include vida-h6-mobile;
        line-height: rem(16.8px);
        padding: 0 0 rem(8px) 0;

        @include media(">=desktop") {
          @include vida-h6-desktop;
          line-height: rem(21.6px);
        }
      }

      .digilocker-card-description-text {
        @include vida-mobile-body-3;
        line-height: rem(14.4px);
        padding: 0 0 rem(16px) 0;

        @include media(">=desktop") {
          @include vida-mobile-body-1;
          line-height: rem(19.2px);
        }
      }

      .digilocker-card-verification-btn {
        align-items: center;
        background: get-color("white");
        border: 1px solid get-color("orange");
        border-radius: rem(8px);
        cursor: pointer;
        display: flex;
        height: rem(36px);
        justify-content: center;
        width: 100%;

        @include media(">=desktop") {
          height: rem(40px);
          width: rem(276px);
        }
      }

      .digilocker-logo {
        height: rem(20px);
        margin: 0 rem(4px) 0 0;
        width: rem(17px);

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .verify-with-digilocker-text {
        @include vida-tertiary-cta-mobile;
        color: get-color("mine-shaft");

        @include media(">=desktop") {
          @include vida-mobile-body-4;
        }
      }

      .digilocker-external-link-icon {
        height: rem(16px);
        margin: 0 0 0 rem(14px);
        width: rem(16px);

        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }

    // .document-upload-cards-container {
    // }

    .upload-card-container {
      background: get-color("alice-blue");
      border-radius: rem(8px);
      margin: 0 0 rem(24px) 0;
      padding: rem(16px) rem(20px);

      @include media(">=desktop") {
        border-radius: rem(16px);
      }

      &.image-card,
      &.insurance-card,
      &.address-proof-card {
        &.success {
          border: 2px solid get-color("green");
        }

        &.failed {
          border: 2px solid get-color("red");
        }
      }

      .upload-card-flex-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0 0 rem(16px) 0;
      }

      .upload-card-primary-text {
        @include vida-h5-mobile;
        line-height: rem(19.2px);

        @include media(">=desktop") {
          @include vida-h5-desktop;
        }
      }

      .upload-btn {
        align-items: center;
        background: get-color("white");
        border: 1px solid get-color("orange");
        border-radius: rem(4px);
        cursor: pointer;
        display: flex;
        gap: rem(4px);
        height: rem(36px);
        justify-content: center;
        width: rem(106px);

        @include media(">=desktop") {
          height: rem(40px);
          width: rem(120px);
        }
      }

      .upload-icon {
        height: rem(20px);
        width: rem(20px);

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .upload-btn-label {
        @include vida-tertiary-cta-mobile;
        color: get-color("mine-shaft");

        @include media(">=desktop") {
          @include vida-mobile-body-4;
          color: get-color("mine-shaft");
        }
      }

      .upload-btn-disabled {
        background-color: get-color("grey");
        opacity: 0.25;
        pointer-events: none;
      }

      .upload-card-secondary-text {
        @include vida-h6-mobile;
        line-height: rem(16.8px);
        padding: 0 0 rem(8px) 0;

        @include media(">=desktop") {
          @include vida-h6-desktop;
          line-height: rem(21.6px);
        }
      }

      .upload-card-description-text1 {
        @include vida-mobile-body-3;
        line-height: rem(14.4px);
        padding: 0 0 rem(8px) 0;

        @include media(">=desktop") {
          @include vida-mobile-body-1;
          line-height: rem(19.2px);
        }
      }

      .upload-card-description-text2 {
        @include vida-mobile-body-3;
        line-height: rem(14.4px);

        @include media(">=desktop") {
          @include vida-mobile-body-1;
          line-height: rem(19.2px);
        }
      }

      .address-type-input-container {
        padding-bottom: rem(16px);
        
        input {
          font-size: rem(16px);
        }
      }
    }
  }

  .upload-drawer-container {
    .drawer {
      @include media(">=desktop") {
        border-radius: 0;
        border-top-left-radius: rem(16px);
        border-top-right-radius: rem(16px);
        bottom: 0;
        box-shadow: 0 rem(-10px) rem(10px) 0 rgba(0, 0, 0, 0.1);
        left: 0;
        max-width: unset;
        position: fixed;
        width: 100%;
      }
    }

    .drawer__content {
      @include media(">=desktop") {
        border-radius: 0;
        border-top-left-radius: rem(16px);
        border-top-right-radius: rem(16px);
        padding: 0;
      }
    }

    .drawer__body {
      @include media(">=desktop") {
        padding: rem(37px) rem(88px);
      }
      @include media(">=desktop-lg") {
        margin: 0 auto;
        max-width: rem(1440px);
      }
    }

    .upload-popup-container {
      @include media(">=desktop") {
        align-items: flex-end;
        display: flex;
        gap: rem(250px);
        justify-content: space-between;
      }
    }

    .upload-popup-content-container {
      @include media(">=desktop") {
        flex: 1;
      }

      .upload-popup-normal-title {
        @include vida-mobile-body-3;
        color: get-color("oslo-gray");
        line-height: rem(14.4px);
        padding: 0 0 rem(4px) 0;

        @include media(">=desktop") {
          @include vida-desktop-body-3;
          color: get-color("oslo-gray");
          line-height: rem(21.6px);
          padding: 0 0 rem(12px) 0;
        }
      }

      .upload-popup-bold-title {
        @include vida-h2-mobile;
        line-height: rem(28.8px);
        padding: 0 0 rem(16px) 0;

        @include media(">=desktop") {
          @include vida-h3-desktop;
          line-height: rem(33.6px);
          padding: 0 0 rem(24px) 0;
        }
      }

      .upload-file-container {
        background: get-color("white");
        border-radius: rem(8px);
        display: flex;
        justify-content: center;
        margin: 0 0 rem(16px) 0;
        padding: rem(32px);

        @include media(">=desktop") {
          border-radius: rem(16px);
          margin: 0;
          padding: rem(29px) 0;
        }

        &.image-upload-file-container,
        &.insurance-upload-file-container,
        &.address-proof-upload-file-container {
          &.failed {
            border: 2px solid get-color("red");
          }
        }
      }

      .upload-error-msg {
        @include vida-mobile-bottom-nav-label;
        color: get-color("red");
        line-height: rem(13.2px);
        padding: 0 0 rem(16px) 0;

        @include media(">=desktop") {
          @include vida-charging-plan-mobile;
          color: get-color("red");
          line-height: rem(16.8px);
          padding: rem(14px) 0 0 0;
        }
      }

      .upload-file-content-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: rem(32px);
      }

      .upload-icon {
        height: rem(60px);
        width: rem(60px);

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .upload-file-description {
        @include vida-mobile-body-3;
        line-height: rem(14.4px);

        @include media(">=desktop") {
          @include vida-mobile-body-1;
          line-height: rem(19.2px);
        }
      }
    }

    .upload-popup-btn-container {
      @include media(">=desktop") {
        display: flex;
        flex: 1;
        gap: rem(12px);
      }

      .upload-file-btn {
        align-items: center;
        background: get-color("orange");
        border-radius: rem(8px);
        cursor: pointer;
        display: flex;
        height: rem(51px);
        justify-content: center;
        margin: 0 0 rem(16px) 0;
        position: relative;
        width: 100%;

        @include media(">=desktop") {
          height: rem(78px);
          margin: 0;
        }

        .upload-btn-label {
          @include vida-h5-mobile;
          color: get-color("white");

          @include media(">=desktop") {
            @include vida-h5-desktop;
            color: get-color("white");
          }
        }

        input {
          height: 100%;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }

      .upload-cancel-btn {
        @include vida-h5-mobile;
        align-items: center;
        background: transparent;
        border: 2px solid get-color("orange");
        border-radius: rem(8px);
        cursor: pointer;
        display: flex;
        height: rem(51px);
        justify-content: center;
        padding: 0;
        width: 100%;

        @include media(">=desktop") {
          @include vida-h5-desktop;
          height: rem(78px);
        }
      }
    }

    .aadhar-verify-popup-container {
      @include media(">=desktop") {
        align-items: flex-start;
        display: flex;
        gap: rem(250px);
        justify-content: space-between;
      }
    }

    .aadhar-verify-title-container {
      @include media(">desktop") {
        flex: 1;
      }

      .aadhar-verify-normal-title {
        @include vida-mobile-body-3;
        color: get-color("oslo-gray");
        line-height: rem(14.4px);
        padding: 0 0 rem(4px) 0;

        @include media(">=desktop") {
          @include vida-desktop-body-3;
          color: get-color("oslo-gray");
          line-height: rem(21.6px);
          padding: 0 0 rem(12px) 0;
        }
      }

      .aadhar-verify-bold-title {
        @include vida-h2-mobile;
        line-height: rem(28.8px);
        padding: 0 0 rem(16px) 0;

        @include media(">=desktop") {
          @include vida-h3-desktop;
          line-height: rem(33.6px);
        }
      }
    }

    .aadhar-verify-content-container {
      @include media(">desktop") {
        flex: 1;
      }

      .aadhar-verify-description {
        @include vida-mobile-body-3;
        line-height: rem(14.4px);
        padding: 0 0 rem(16px) 0;

        @include media(">=desktop") {
          @include vida-desk-body-1;
          line-height: rem(24px);
          padding: 0 0 rem(14px) 0;
        }
      }

      .aadhar-verify-number-input-container {
        margin: 0 0 rem(34px) 0;

        @include media(">desktop") {
          margin: 0 0 rem(24px) 0;
        }
      }

      .vida-form-group {
        .form__field-label {
          display: none;
        }
      }

      .aadhar-verify-confirm-btn {
        @include vida-h5-mobile;
        align-items: center;
        background: get-color("orange");
        border: none;
        border-radius: rem(8px);
        color: get-color("white");
        cursor: pointer;
        display: flex;
        height: rem(51px);
        justify-content: center;
        width: 100%;

        @include media(">desktop") {
          @include vida-h5-desktop;
          color: get-color("white");
          float: right;
          height: rem(78px);
          width: rem(282px);
        }
      }
    }
  }

  .continue-to-delivey-btn-container {
    @include media(">=desktop") {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    .continue-to-delivey-btn {
      @include vida-h5-mobile;
      align-items: center;
      background: get-color("orange");
      border-radius: rem(8px);
      color: get-color("white");
      cursor: pointer;
      display: flex;
      height: rem(51px);
      justify-content: center;
      margin: rem(8px) 0 0 0;
      width: 100%;

      @include media(">=desktop") {
        @include vida-h5-desktop;
        color: get-color("white");
        height: rem(78px);
        width: rem(282px);
      }
    }
  }
}
