 /* Aliases  */
$link-secondary-cta-medium-font-size: $font-size-400;
$link-secondary-cta-medium-font-weight: $font-weight-medium;
$link-secondary-cta-medium-line-height: $line-height-400;
$link-secondary-cta-medium-letter-spacing: $letter-spacing-l;

