 /* Aliases  */
$label-label-xl-medium-font-size: $font-size-600;
$label-label-xl-medium-font-weight: $font-weight-medium;
$label-label-xl-medium-line-height: $line-height-700;
$label-label-xl-medium-letter-spacing: $letter-spacing-s;

