$font-family-primary: "PP Neue Montreal";

$font-size-base: 16px;

$screen-ph: 360px;
$screen-tab: 768px;
$screen-dk: 1024px;
$screen-dk-md: 1280px;
$screen-dk-lg: 1440px;
$screen-dk-xl: 1600px;
$screen-dk-xxl: 1920px;
