 /* Aliases  */
$link-tertiary-cta-medium-font-size: $font-size-200;
$link-tertiary-cta-medium-font-weight: $font-weight-medium;
$link-tertiary-cta-medium-line-height: $line-height-200;
$link-tertiary-cta-medium-letter-spacing: $letter-spacing-xl;

