 /* Aliases  */
$link-tertiary-cta-semibold-font-size: $font-size-200;
$link-tertiary-cta-semibold-font-weight: $font-weight-semibold;
$link-tertiary-cta-semibold-line-height: $line-height-200;
$link-tertiary-cta-semibold-letter-spacing: $letter-spacing-xl;

