.vida-test-ride-message-container {
  background: #222;
  border-radius: rem(6.59px);
  height: rem(92.22px);
  margin-top: rem(5.76px);
  padding: rem(4.94px);
  @include media(">=desktop") {
    border-radius: 1rem;
    height: rem(168px);
    margin-top: rem(16px);
    padding: rem(9px);
  } 

 
}

.message {
  display: flex;
  gap: rem(13.17px);
  margin-bottom: rem(9.88px);
    
  @include media(">=desktop") {
    gap: rem(32px);
    margin-bottom: rem(18px);
  }
    
  .test-ride-asset {
    height: rem(52.7px);
    width: rem(52.7px);
    
    @include media(">=desktop") {
      flex-basis: 30%;
      height: rem(96px);
      min-width: rem(96px);
    }
    
    img {
      height: 100%;
      width: 100%;
    }
  }
    
  p {
    color: get-color("white");
    font-size: 12px;
    font-weight: 700;
    padding: rem(5.35px) 0;
    
    @include media(">=desktop") {
      font-size: 20px;
      font-weight: 700;
      padding: rem(10px) 0;
    
      span {
        font-weight: 700;
      }
    }
  }
}

.actions {
  display: flex;
  gap: rem(16px);
  
  @include media(">=desktop") {
    gap: rem(32px);
  }
  
  .test-ride__actions-icons {
    cursor: pointer;
    display: flex;
    padding: rem(3px) rem(1.62px);
    @include media(">=desktop") {
      padding: 0 rem(6px);
    }
  
    .download-icon {
      margin-left: rem(14px);
  
      @include media(">=desktop") {
        margin-left: rem(24px);
      }
    }
  
    .share-icon {
      height: rem(16.47px);
      width: rem(16.47px);
  
      @include media(">=desktop") {
        height: rem(30px);
        width: rem(30px);
      }
  
      img {
        height: 100%;
        width: 100%;
      }
    }
  
    .download-icon {
      height: rem(18.11px);
      width: rem(18.11px);
  
      @include media(">=desktop") {
        height: rem(30px);
        width: rem(30px);
      }
  
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  
  .test-ride-links {
    a {
      cursor: pointer;
      font-size: rem(13.17px);
      line-height: rem(15.81px);
      margin-right: rem(19.76px);
  
      @include media(">=desktop") {
        font-size: rem(20px);
        line-height: rem(28.8px);
        margin-right: rem(24px);
      }
    }
  }
}
