.purchase-delivery-info-container {
  border-bottom: 1px dashed get-color("mine-shaft");
  margin: 0 0 rem(16px) 0;
  padding: 0 rem(20px) rem(16px) rem(12px);

  @include media(">=desktop") {
    padding: 0 rem(20px) rem(12px);
  }

  .delivering-from-info {
    padding: 0 0 rem(16px) 0;

    @include media(">=desktop") {
      padding: 0 0 rem(16px) 0;
    }

    .delivery-info {
      color: get-color("mine-shaft");
      font-size: rem(12px);
      font-style: normal;
      font-weight: 600;
      line-height: 150%;

      @include media(">=desktop") {
        font-size: rem(18px);
        line-height: 100%;
      }
    }

    .delivery-place {
      color: get-color("mine-shaft");
      font-size: rem(12px);
      font-style: normal;
      font-weight: 450;
      line-height: 150%;

      @include media(">=desktop") {
        font-size: rem(18px);
        line-height: 100%;
      }
    }
  }

  .delivery-payment-info {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .payable-text {
      color: get-color("mine-shaft");
      font-size: rem(12px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include media(">=desktop") {
        font-size: rem(16px);
      }
    }

    .payable-amount {
      color: get-color("mine-shaft");
      font-size: rem(24px);
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @include media(">=desktop") {
        font-size: rem(28px);
        font-weight: 600;
      }
    }
  }
}

.delivery-info-container {
  background: get-color("alice-blue");
  border-radius: 8px;
  margin-bottom: 16px;

  .delivery-details-container {
    padding: 0 16px 16px;
    @include media(">=desktop") {
      padding: 0 rem(16px) rem(1px);
    }
  }

  .delivery-details-info-container {
    background: get-color("catskill-white");
    margin: 0 0 16px;
    padding: 16px;
  }
}

.delivery-bike-info-container {
  align-items: flex-start;
  border-radius: rem(8px);
  display: flex;
  gap: rem(8px);
  justify-content: space-between;
  margin: 0 0 rem(16px) 0;
  padding: rem(16px);

  @include media(">=desktop") {
    gap: rem(16px);
  }

  .delivery-bike-icon {
    height: rem(20px);
    min-height: rem(20px);
    min-width: rem(20px);
    width: rem(20px);

    @include media(">=desktop") {
      height: rem(26px);
      min-height: rem(26px);
      min-width: rem(26px);
      width: rem(26px);
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .delivery-bike-flex-container {
    display: flex;
    gap: rem(8px);
  }

  .delivery-model-flex-container {
    align-items: center;
    display: flex;
    gap: rem(12px);
    justify-content: flex-end;
  }

  .delivery-bike-model-info {
    .delivery-bike-model-info-text {
      color: get-color("mine-shaft");
      font-size: rem(14px);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 0 0 rem(8px) 0;

      @include media(">=desktop") {
        font-size: rem(20px);
      }
    }

    .delivery-bike-charges-text {
      color: get-color("mine-shaft");
      font-size: rem(10px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include media(">=desktop") {
        font-size: rem(12px);
      }
    }
  }

  .delivery-bike-model-amount {
    p {
      color: get-color("mine-shaft");
      font-size: rem(14px);
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @include media(">=desktop") {
        font-size: rem(20px);
      }
    }

    .delivery-bike-options-image {
      height: 20px;
      width: 20px;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .chevron-down-icon {
    cursor: pointer;
    height: rem(20px);
    margin: rem(-2.5px) 0 0 0;
    min-height: rem(20px);
    min-width: rem(20px);
    width: rem(20px);

    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

.delivery-add-on-container {
  .delivery-add-on-content-container {
    align-items: flex-start;
    border-bottom: 1px dashed get-color("mine-shaft");
    display: flex;
    gap: rem(32px);
    justify-content: space-between;
    padding: rem(24px) rem(16px);

    @include media(">=desktop") {
      padding: rem(28px) rem(16px);
    }

    .delivery-add-on-title-container {
      display: flex;
      gap: rem(8px);
    }
  }

  .delivery-add-on-icon {
    height: rem(20px);
    width: rem(20px);

    @include media(">=desktop") {
      height: rem(26px);
      width: rem(26px);
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  .delivery-add-on-info {
    .delivery-add-on-info-title {
      color: get-color("mine-shaft");
      font-size: rem(14px);
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @include media(">=desktop") {
        font-size: rem(20px);
        font-weight: 530;
      }
    }

    .delivery-add-on-info-sub-text {
      color: get-color("lightning-yellow");
      font-size: rem(10px);
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @include media(">=desktop") {
        font-size: rem(14px);
        padding-top: rem(8px);
      }
    }
  }

  .delivery-add-on-btn-container {
    .gst-value {
      color: get-color("black");
      font-size: rem(16);
      font-weight: 500;

      @include media(">=desktop") {
        font-size: rem(20px);
        font-weight: 530;
      }
    }

    .delivery-add-on-btn {
      color: get-color("orange");
      cursor: pointer;
      font-size: rem(16px);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-underline-position: under;

      @include media(">=desktop") {
        font-size: rem(20px);
        font-weight: 530;
      }
    }
  }

  .fame-checkbox {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: rem(12px);
  }
}

.purchase-summary-right-content-container {
  .dashed-border {
    border-top: 1px dashed get-color("mine-shaft");
    margin: 0 0 rem(16px) 0;
  }
}

.purchase-summary-right-container {
  background: get-color("white");
  border-radius: rem(8px);
  box-shadow: 0 rem(5px) rem(10px) 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 12rem;
  padding: rem(24) rem(16px);

  @include media(">=desktop") {
    border-radius: rem(16px);
    margin-bottom: 0;
    padding: rem(34px) rem(56px);
  }

  .purchase-summary-right-content-container {
    .dashed-border {
      border-top: 1px dashed get-color("mine-shaft");
      margin-bottom: rem(12px);

      @include media(">=desktop") {
        margin-bottom: 0;
      }
    }
  }
}

.disable-links {
  color: get-color("mine-shaft") !important;
  cursor: none !important;
  pointer-events: none;
  text-decoration: none;
}
