 /* Aliases  */
$link-small-link-text-medium-font-size: $font-size-100;
$link-small-link-text-medium-font-weight: $font-weight-medium;
$link-small-link-text-medium-line-height: $line-height-200;
$link-small-link-text-medium-letter-spacing: $letter-spacing-xxl;

