 /* Aliases  */
$body-body-xl-regular-font-size: $font-size-400;
$body-body-xl-regular-font-weight: $font-weight-book;
$body-body-xl-regular-line-height: $line-height-500;
$body-body-xl-regular-letter-spacing: $letter-spacing-m;

