 /* Aliases  */
$body-body-xl-semibold-font-size: $font-size-400;
$body-body-xl-semibold-font-weight: $font-weight-semibold;
$body-body-xl-semibold-line-height: $line-height-500;
$body-body-xl-semibold-letter-spacing: $letter-spacing-m;

