.vida-billing-new {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__edit {
    cursor: pointer;
    height: rem(14px);
    margin-left: rem(8px);
  }

  &__heading {
    @include h2;
    padding: 24px 0;
    @include media(">=desktop") {
      padding: 0;

      h3 {
        font-size: rem(34px);
        font-weight: 500;
        line-height: rem(51px);
      }
    }    
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__details {
    background-color: get-color("white");
    border-radius: 4px 4px 0 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: rem(14px);
    padding: rem(16px) rem(15px);
    @include media(">=desktop") {
      border-radius: 16px 16px 0 0;
    }
  }

  &__info {
    @include p1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;

    label {
      max-width: 50%;
      width: auto;
    }

    .icon-pencil-alt::before {
      font-size: rem(14px);
      margin-left: rem(4px);
    }
  }

  &__info-val {
    @include h4;
    font-weight: 500 !important;
    max-width: 200px;
    text-align: right;
    width: auto;
    word-break: break-word;
  }

  &__address {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid get-color("light-grey");
    padding: 16px;
    @include media(">=desktop") {
      border-radius: 0 0 16px 16px;
    }
  }

  &__billing {
    @include p1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__billing-add {
    @include h4-md;

    .icon-pencil-alt::before {
      font-size: rem(14px);
      margin-left: rem(4px);
    }
  }

  .popup {
    &__container {
      @include media(">=desktop") {
        max-height: rem(568px);
        max-width: rem(990px);
        padding: rem(25px) rem(25px);
      }
    }

    &__close-btn {
      color: get-color("solid-black");
      display: inline-block;
      right: rem(25px);
      top: rem(2px);
      @include media(">=desktop") {
        right: rem(33px);
        top: rem(-1px);
      }

      &:hover {
        color: get-color("orange");
      }

      [class^="icon-"],
      [class*=" icon-"] {
        font-size: rem(25px);
        font-weight: normal;
      }
    }

    &__body,
    &__content {
      height: 100%;
      margin: 0 auto;
      max-width: rem(1048px);
      padding-left: rem(10px);
    }

    &__body {
      padding: 0 rem(16px);
      @include media(">=desktop") {
        padding: 0 rem(30px);
      }
    }
  }

  &__popup-link {
    @include media(">=tablet") {
      font-size: rem(23px);
    }
    @include media(">=phone") {
      font-size: rem(20px);
    }
  }
}

.vida-model {
  &__gst {
    &-subhead {
      margin: rem(40px) 0 rem(18px) 0;
    }

    /*&-desc {
      margin-top: rem(30px);
      @include media(">=desktop") {
        margin-top: rem(12px);
      }
    }*/
  }

  &__billing-details {
    height: 200px;

    .popup {
      &__container {
        @include media(">=desktop") {
          max-height: calc(100vh - 100px);
        }
      }
    }
  }
}

.vida-gst-details {
  .form__group {
    max-width: 100%;
  }

  &__title {
    @include h2;
    margin-bottom: rem(10px);
  }

  &__message {
    @include p2;
    margin-bottom: rem(20px);
    @include media(">=desktop") {
      margin-bottom: rem(10px);
    }
  }

  &__radio-btn {
    margin-bottom: rem(10px);
  }

  &__business-card {
    background: #f6f6f6;
    border-radius: rem(16px);
    padding: rem(20px) rem(16px) rem(10px) rem(16px);
    @include media(">=desktop") {
      border-radius: rem(4px);
      padding: rem(20px) rem(16px) rem(20px) rem(16px);
    }
  }

  &__details-label {
    @include h4-md;
    margin-bottom: rem(16px);
    @include media(">=desktop") {
      margin-bottom: rem(18px);
    }
  }

  &__change-gst {
    display: flex;
    justify-content: flex-end;
    margin-bottom: rem(13px);
  }

  &__gst-number {
    .form__group {
      min-height: 0;
    }
  }
}
