.blog-re-direction-wrapper {
  background: get-color("catskill-white");
  padding-bottom: rem(32px);
  padding-top: rem(32px);

  @include media(">=desktop") {
    padding-bottom: rem(64px);
    padding-top: rem(64px);
  }

  .blog-re-direction-container {
    transition: opacity 1.5s ease-out;

    .blog-title-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 0 0 rem(32px) 0;

      @include media(">=desktop") {
        padding: 0 0 rem(64px) 0;
      }

      .blog-title {
        @include vida-h3-mobile;
        color: get-color("mine-shaft");

        @include media(">=desktop") {
          @include vida-h2-desk;
        }
      }

      .blog-re-direction-icon {
        cursor: pointer;
        height: rem(36px);
        width: rem(36px);

        @include media(">=desktop") {
          height: rem(50px);
          width: rem(50px);
        }

        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }

  .blog-card-wrapper {
    display: flex;
    gap: rem(16px);
    margin: 0 rem(-16px);
    overflow-x: scroll;
    padding: 0 rem(16px) rem(16px) rem(16px);

    @include media(">=desktop") {
      gap: rem(32px);
      justify-content: space-between;
      margin: 0;
      overflow-x: hidden;
      padding: 0;
    }

    &::-webkit-scrollbar {
      height: rem(2px);

      @include media(">=tablet") {
        display: none;
      }
    }

    &::-webkit-scrollbar-track {
      background: get-color("white");
      margin: 0 rem(20px);
    }

    &::-webkit-scrollbar-thumb {
      background: get-color("orange");
    }

    .blog-card-container {
      background: get-color("white");
      border-radius: rem(8px);
      cursor: pointer;
      display: block;
      min-height: rem(212px);
      min-width: rem(170px);
      text-decoration: none;

      @include media(">=desktop") {
        border-radius: rem(16px);
        min-height: rem(274px);
        width: rem(292px);
      }

      .blog-card-media-container {
        img,
        video {
          border-top-left-radius: rem(8px);
          border-top-right-radius: rem(8px);
          display: block;
          min-height: rem(92px);
          object-fit: cover;
          width: 100%;

          @include media(">=desktop") {
            border-top-left-radius: rem(16px);
            border-top-right-radius: rem(16px);
            min-height: rem(164px);
          }
        }

        &.img-none {
          img {
            display: none;
          }

          video {
            display: block;
          }
        }

        &.video-none {
          img {
            display: block;
          }

          video {
            display: none;
          }
        }
      }
    }

    .blog-card-content-container {
      padding: rem(16px);

      .blog-card-date {
        padding: 0 0 rem(16px) 0;

        p {
          @include vida-extra-small-text-mobile;
          color: get-color("pure-black");

          @include media(">=desktop") {
            @include vida-mobile-subtitle;
            color: get-color("pure-black");
          }
        }
      }

      .blog-card-description {
        p {
          @include vida-h5-mobile;
          color: get-color("mine-shaft");

          @include media(">=desktop") {
            @include vida-h5-desktop;
          }
        }
      }
    }
  }
}
