 /* Aliases  */
$heading-heading-l-font-size: $font-size-600;
$heading-heading-l-font-weight: $font-weight-semibold;
$heading-heading-l-line-height: $line-height-700;
$heading-heading-l-letter-spacing: $letter-spacing-xs;

