 /* Aliases  */
$heading-heading-s-font-size: $font-size-400;
$heading-heading-s-font-weight: $font-weight-semibold;
$heading-heading-s-line-height: $line-height-400;
$heading-heading-s-letter-spacing: $letter-spacing-m;

