.vida-find-charging-station {
  background: get-color("catskill-white");
}

.find-charging-station-wrapper {
  padding-bottom: rem(32px) !important;
  padding-top: rem(32px) !important;

  @include media(">=desktop") {
    padding-bottom: rem(64px) !important;
    padding-top: rem(64px) !important;
  }

  .find-charging-station-container {
    transition: opacity 1.5s ease-out;
    @include media(">=desktop") {
      align-items: center;
      display: flex;
      gap: rem(64px);
      justify-content: space-between;
      padding: 0;
    }

    .find-charging-station-content-container {
      padding: 0 0 rem(32px) 0;

      @include media(">=desktop") {
        flex: 1.1;
        padding: 0;
      }

      .find-charging-station-title-container {
        padding: 0 0 rem(32px) 0;

        @include media(">=desktop") {
          padding: 0 0 rem(64px) 0;
        }

        .find-charging-station-title {
          @include vida-h2-mobile;

          @include media(">=desktop") {
            @include vida-h2-desk;
          }
        }
      }

      .charging-station-info-container {
        .charging-station-info-list {
          align-items: flex-start;
          display: flex;
          justify-content: flex-start;

          @include media(">=desktop") {
            gap: (32px);
            //justify-content: flex-start;
          }
        }
      }
    }

    .charging-station-info-item {
      align-items: flex-start;
      display: flex;
      gap: rem(6px);
      padding-right: rem(10px);
      @include media(">=desktop") {
        gap: rem(9px);
        padding-right: 0;
      }

      .charging-station-info-icon {
        height: rem(20px);
        width: rem(20px);

        @include media(">=desktop") {
          height: rem(30px);
          width: rem(30px);
        }

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .charging-station-info-flex-container {
      }

      .charging-station-info-title {
        padding: 0 0 rem(6px) 0;

        @include media(">=desktop") {
          padding: 0 0 rme(9px) 0;
        }

        .charging-station-info-title-text {
          @include vida-mobile-body-3;

          @include media(">=desktop") {
            @include vida-desktop-body-3;
          }
        }
      }

      .charging-station-info-number {
        .charging-station-info-number-text {
          @include vida-label-value-text-mobile;

          @include media(">=desktop") {
            @include vida-label-value-text-desktop;
          }
        }
      }
    }
  }

  .charging-accordian-container {
    background: get-color("white");
    border-radius: rem(8px);
    box-shadow: 0 0 rem(10px) 0 rgba(0, 0, 0, 0.2);
    padding: rem(32px) rem(16px);

    @include media(">=desktop") {
      border-radius: rem(12px);
      box-shadow: 0 0 rem(15px) 0 rgba(0, 0, 0, 0.2);
      flex: 1.75;
      height: fit-content;
      padding: rem(48px) rem(24px);
    }

    .charging-accordian-title-container {
      display: flex;
      gap: rem(8px);

      @include media(">=desktop") {
        gap: rem(16px);
      }

      .charging-accordian-title-icon {
        height: rem(34px);
        margin: 0;
        width: rem(56px);

        @include media(">=desktop") {
          height: rem(58px);
          margin: 0;
          width: rem(96px);
        }

        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .charging-accordian-title-flex-container {
      align-items: center;
      display: flex;
      flex-basis: 90%;
      justify-content: space-between;
    }

    .charging-accordian-title {
      flex: 2.5;

      .charging-accordian-title-text {
        @include vida-h5-mobile;

        @include media(">=desktop") {
          @include vida-h3-desktop;
        }
      }
    }

    .charging-accordian-plus-minus-icon-container {
      flex: 1;

      .charging-accordian-plus-minus-icon {
        cursor: pointer;
        float: right;
        height: rem(24px);
        width: rem(24px);

        @include media(">=desktop") {
          height: rem(32px);
          width: rem(32px);
        }

        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .charging-accordian-content-container {
      height: 0;
      overflow: hidden;

      &.card-open {
        height: auto;
        overflow: auto;
      }

      .charging-accordian-content-flex-container {
        padding: rem(32px) 0 0 0;
        @include media(">=desktop") {
          display: flex;
          gap: rem(48px);
          justify-content: space-between;
          padding: rem(48px) 0 0 0;
        }

        &.spacing {
          padding: rem(32px) 0;

          @include media(">=desktop") {
            padding: rem(48px) 0;
          }
        }

        .charging-accordian-input-info-container {
          @include media(">=desktop") {
            flex: 1;
          }
        }
      }
    }

    .charging-accordian-input-container {
      padding: 0 0 rem(32px) 0;
      position: relative;

      @include media(">=desktop") {
        padding: 0 0 rem(48px) 0;
      }

      .charging-station-search-icon {
        height: rem(20px);
        left: rem(16px);
        position: absolute;
        top: rem(14px);
        width: rem(20px);

        @include media(">=desktop") {
          height: rem(30px);
          left: rem(21px);
          top: rem(21px);
          width: rem(30px);
        }

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .charging-station-location-icon {
        cursor: pointer;
        height: rem(20px);
        position: absolute;
        right: rem(16px);
        top: rem(14px);
        width: rem(20px);

        @include media(">=desktop") {
          height: rem(30px);
          right: rem(21px);
          top: rem(21px);
          width: rem(30px);
        }

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      input {
        @include vida-tertiary-cta-mobile;
        background: get-color("alice-blue");
        border: none;
        border-radius: rem(8px);
        color: get-color("mine-shaft");
        height: rem(48px);
        outline: none;
        padding: 0 rem(16px) 0 rem(44px);
        width: 100%;

        @include media(">=desktop") {
          @include vida-mobile-body-4;
          border-radius: rem(12px);
          height: rem(72px);
          padding: 0 rem(21px) 0 rem(63px);
        }

        &:focus {
          border: 2px solid get-color("orange");
        }
      }

      .city-option-container {
        background: get-color("white");
        border-radius: rem(8px);
        margin: rem(2px) 0 0 0;
        max-height: rem(160px);
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        width: 100%;
        z-index: 1;

        @include media(">desktop") {
          max-height: rem(240px);
        }

        &::-webkit-scrollbar {
          width: rem(2px);

          @include media(">desktop") {
            width: rem(4px);
          }
        }

        &::-webkit-scrollbar-track {
          background: get-color("white");
          border-radius: rem(8px);
        }

        &::-webkit-scrollbar-thumb {
          background: get-color("catskill-white");
          border-radius: rem(8px);
        }
      }

      .charging-station-error-msg {
        color: get-color("red");
        font-size: rem(12px);
        font-weight: 400;
        margin: rem(4px) 0 0 rem(4px);

        @include media(">desktop") {
          font-size: rem(16px);
        }
      }

      .city-option {
        border-bottom: 1px solid get-color("catskill-white");
        cursor: pointer;
        height: rem(40px);
        padding: rem(12px) rem(16px);

        @include media(">desktop") {
          height: rem(56px);
          padding: rem(16px);
        }

        &:hover {
          background: get-color("catskill-white");
        }

        p {
          color: get-color("mine-shaft");
          font-size: rem(12px);

          @include media(">desktop") {
            font-size: rem(16px);
          }
        }
      }
    }

    .charging-accordian-stations-info-container {
      padding: 0 0 rem(32px) 0;
      @include media(">=desktop") {
        padding: 0;
      }

      .charging-accordian-stations-info-list {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
      }
    }

    .charging-accordian-stations-info-item {
      align-items: baseline;
      display: flex;
      gap: rem(6px);

      @include media(">=desktop") {
        gap: rem(9px);
      }

      .charging-accordian-stations-info-icon {
        height: rem(20px);
        width: rem(20px);

        @include media(">=desktop") {
          height: rem(30px);
          width: rem(30px);
        }

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .charging-accordian-stations-info-flex-container {
      }

      .charging-accordian-stations-info-number {
        padding: 0 0 rem(6px) 0;

        @include media(">=desktop") {
          padding: 0 0 rem(9px) 0;
        }

        .charging-accordian-stations-info-number-text {
          @include vida-label-value-text-mobile;

          @include media(">=desktop") {
            @include vida-label-value-text-desktop;
          }
        }
      }

      .charging-accordian-stations-info-title {
        .charging-accordian-stations-info-title-text {
          @include vida-mobile-body-3;

          @include media(">=desktop") {
            @include vida-desktop-body-3;
          }
        }
      }
    }

    .charging-accordian-stations-map-container {
      @include media(">=desktop") {
        flex: 1;
      }

      .mmi-map {
        border-radius: rem(8px);
        height: rem(200px) !important;
        margin: 0 !important;
        width: 100% !important;
        @include media(">=desktop") {
          border-radius: rem(12px);
          max-width: rem(300px) !important;
        }
      }
    }

    .charging-accordian-find-stations-text-container {
      padding: 0 0 rem(16px) 0;

      @include media(">=desktop") {
        padding: 0 0 rem(24px) 0;
      }

      .charging-accordian-find-stations-text {
        @include vida-h5-mobile;

        @include media(">=desktop") {
          @include vida-h3-desktop;
        }
      }
    }

    .charging-accordian-find-stations-description-container {
      padding: 0 0 rem(16px);

      @include media(">=desktop") {
        padding: 0 0 rem(24px) 0;
      }

      .charging-accordian-find-stations-description {
        @include vida-mobile-body-3;

        @include media(">=desktop") {
          @include vida-desktop-body-3;
        }
      }
    }

    .charging-accordian-request-station-btn-container {
      .charging-accordian-request-station-btn {
        @include vida-h5-mobile;
        align-items: center;
        background: get-color("orange");
        border-radius: rem(8px);
        color: get-color("white");
        cursor: pointer;
        display: flex;
        height: rem(51px);
        justify-content: center;
        text-decoration: none;
        width: 100%;

        @include media(">=desktop") {
          @include vida-h5-desktop;
          border-radius: rem(12px);
          color: get-color("white");
          height: rem(72px);
        }
      }
    }
  }

  .d-block {
    display: block;
  }

  .d-none {
    display: none;
  }
}
