@import '../../../PrimitiveTokens.scss';
@import '../../../SemanticTokens.scss';

/* Aliases  */
$button-horzontalpadding: $space-l;
$button-verticalpadding: $space-m;
$button-fontsize: $label-label-m-medium-font-size;
$button-lineheight: $label-label-m-medium-line-height;

