 /* Aliases  */
$body-body-xs-regular-font-size: $font-size-100;
$body-body-xs-regular-font-weight: $font-weight-book;
$body-body-xs-regular-line-height: $line-height-300;
$body-body-xs-regular-letter-spacing: $letter-spacing-xl;

