.offer-cards {
  display: flex;
  // margin-left: rem(20px);
  // margin-right: rem(20px);
  @include media(">=desktop") {
    // margin-left: rem(88px);
    // margin-right: rem(56px);
  }

  &__container {
    border-radius: rem(12px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: rem(16px);
    margin-right: rem(32px);
    min-height: rem(288px);
    min-width: rem(240px);
    padding: rem(16px);
    width: rem(240px);
    @include media(">=desktop") {
      min-height: rem(330px);
      min-width: rem(400px);
      padding: rem(24px);
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon-container {
    border-radius: 50%;
    height: rem(20px);
    width: auto;
    @include media(">=desktop") {
      height: rem(30px);
      width: auto;
    }

    img {
      height: 100%;
      object-fit: contain;
      object-position: left;
      width: 100%;
    }
  }

  &__title {
    @include vida-h3-mobile;
    font-weight: 600;
    max-width: rem(176px);
    padding-top: rem(16px);
    @include media(">=desktop") {
      @include vida-h3-desktop;
      max-width: 100%;
    }
  }

  &__description {
    @include vida-mobile-body-1;
    padding-top: rem(16px);
    @include media(">=desktop") {
      @include vida-desk-body-1;
    }
  }

  &__banner-image {
    border-radius: rem(8px);
    height: rem(104px);
    padding-top: rem(16px);
    width: rem(208px);
    @include media(">=desktop") {
      height: rem(156px);
      width: rem(336px);
    }

    img {
      border-radius: rem(8px);
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__sub-text {
    @include vida-mobile-body-3;
    padding-top: rem(16px);
    @include media(">=desktop") {
      @include vida-desktop-body-3;
    }
  }

  &__bottom-wrapper {
    padding-bottom: rem(12px);
  }

  &__offer-button {
    @include vida-h5-mobile;
    background-color: get-color("white");
    border-radius: rem(8px);
    color: get-color("orange");
    font-size: rem(16px);
    padding: rem(8px) rem(16px);
    text-align: center;
    text-decoration: none;
    @include media(">=desktop") {
      @include vida-h5-desktop;
      color: get-color("orange");
      padding: rem(12px) rem(24px);
    }
  }

  &__know-more-text {
    @include vida-tertiary-cta-mobile;
    cursor: pointer;
    text-decoration: underline;
    @include media(">=desktop") {
      @include vida-tertiary-cta;
    }
  }

  &::after {
    content: "";
    padding: rem(8px);
    @include media(">=desktop") {
      padding: 0;
    }
  }
}

.bg-primary-card-color {
  background-color: get-color("orange");

  .offer-cards {
    &__title,
    &__description,
    &__sub-text {
      color: get-color("white");
    }
  }
}

.bg-secondary-card-color {
  background-color: get-color("white");

  .offer-cards {
    &__title,
    &__description,
    &__sub-text {
      color: get-color("mine-shaft");
    }
  }
}

.bg-tertiary-card-color {
  background-color: get-color("white");
  height: rem(267px);
  margin-right: rem(32px);
  max-height: rem(267px);
  max-width: rem(240px);
  min-height: rem(267px);
  min-width: rem(240px);
  width: rem(240px);

  @include media(">=desktop") {
    height: rem(388px);
    margin-right: rem(48px);
    max-height: rem(388px);
    max-width: rem(360px);
    min-height: rem(388px);
    min-width: rem(360px);
    width: rem(360px);
  }

  &:last-child {
    margin-right: 0;
  }

  .offer-cards {
    &__title,
    &__description,
    &__sub-text {
      color: get-color("mine-shaft");
      padding-top: rem(16px);

      @include media(">=desktop") {
        padding-top: rem(24px);
      }
    }

    &__offer-button {
      background-color: get-color("orange");
      color: get-color("white");
    }
  }
}

.offers-card__horizontal--variable-width {
  .offer-cards {
    gap: rem(32px);
    @include media(">=desktop") {
      gap: rem(21px);
    }

    &__icon-container {
      height: rem(30px);
      @include media(">=desktop") {
        height: rem(48px);
      }
    }
  }

  .offer-cards__container {
    margin-right: 0;
    min-height: rem(237px);
    @include media(">=desktop") {
      margin-right: 2rem;
      margin-right: unset;
      min-height: rem(330px);
      min-width: unset;
      width: 25%;
    }
  }
}

.offers-card__horizontal--offer-icon {
  .offer-cards::after {
    @include media(">=desktop") {
      content: "";
      padding: 0.5rem;
    }
  }

  .offer-cards__icon-container {
    height: rem(72px);
    width: rem(72px);
    @include media(">=desktop") {
      height: rem(90px);
      width: rem(90px);
    }
  }

  .bg-tertiary-card-color {
    height: rem(192px);
    max-height: rem(192px);
    min-height: rem(192px);

    @include media(">=desktop") {
      height: rem(330px);
      max-height: rem(330px);
      min-height: rem(330px);
    }
  }
}

.offers-card__horizontal--battery-plus {
  .offer-cards {
    gap: rem(32px);

    @include media(">=desktop") {
      gap: rem(21px);
      padding-top: 0;
    }

    &__icon-container {
      height: rem(30px);

      @include media(">=desktop") {
        height: rem(48px);
      }
    }

    &__title,
    &__description {
      padding-top: rem(16px);
      @include media(">=desktop") {
        padding-top: rem(24px);
      }
    }

    &__bottom-wrapper {
      padding-bottom: 0;
    }
  }

  .offer-cards__container {
    margin-right: 0;
    min-height: unset;
    padding: rem(16px) rem(16px) rem(29px) rem(16px);
    @include media(">=desktop") {
      margin-bottom: rem(5px);
      margin-right: 0;
      max-width: rem(408px);
      min-height: unset;
      padding: rem(24px) rem(24px) rem(44px) rem(24px);
    }
  }

  .horizontal-scroll-container {
    margin-bottom: 0;
    margin-top: rem(16px);
    @include media(">=desktop") {
      margin-bottom: 0;
      margin-top: rem(36px);
    }
  }

  .product-offer-cards {
    padding: rem(32px) 0;
    @include media(">=desktop") {
      padding: rem(64) rem(0) rem(59px) rem(0);
    }
  }
}
