.buy-now-pre-booking-vida2 {
  background-color: get-color("catskill-white");
  position: relative;

  &__wrapper {
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: rem(764px);
    padding-bottom: rem(32px);
    padding-top: rem(40px);
    position: relative;
    z-index: 1;
    @include media(">=desktop") {
      justify-content: space-between;
      min-height: rem(900px);
      padding-top: rem(48px);
    }
    @include media(">=desktop-lg") {
      padding-left: rem(88px);
      padding-right: rem(88px);
    }
  }

  &__background {
    position: absolute;
    width: 100%;

    img {
      background: get-color("catskill-white");
      height: 100vh;
      object-fit: cover;
      position: fixed;
      width: 100%;
    }
  }

  &__container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }

  &__left-wrapper {
    animation: slideUp 0.8s ease-in-out forwards;
    background-color: get-color("alice-blue");
    border-radius: rem(16px) rem(16px) 0 0;
    bottom: 0;
    box-shadow: 0 rem(-10px) rem(10px) 0 rgba(0, 0, 0, 0.1);
    height: fit-content;
    margin-left: -1.25rem;
    opacity: 0;
    padding: 0 rem(16px) rem(24px) rem(16px);
    position: fixed;
    transform: translateY(200%);
    transition: all 1s linear;
    width: 100%;
    z-index: 999;

    @include media(">=desktop") {
      animation: leftFadeIn 0.8s ease-in-out forwards;
      border-radius: rem(16px);
      box-shadow: none;
      display: block;
      left: 0;
      margin-left: 0;
      max-width: 622px;
      opacity: 0;
      padding: rem(32px);
      position: relative;
      transform: translateX(-100%);
      z-index: auto;
    }

    .booking-otp-container {
      .booking-login-otp-primary-text {
        padding: 0 0 rem(4px);

        p {
          color: get-color("oslo-gray");
          font-size: rem(12px);
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          @include media(">=desktop") {
            font-size: rem(18px);
          }
        }
      }

      .vida-otp-form-group {
        max-width: none;
      }

      .vida-access-otp-btn {
        @include media(">=desktop") {
          float: right;
          margin: rem(16px) 0 0 0;
          width: 50%;
        }
      }
    }
  }

  .pre-booking {
    max-height: rem(560px);
    overflow: scroll;
    overflow-x: hidden;
    @include media(">=desktop") {
      max-height: inherit;
      overflow: visible;
    }

    .booking-city-search-input {
      @include media(">=desktop") {
        font-size: rem(20px);
      }

      &:disabled {
        background-color: get-color("light-grey");
      }
    }
  }

  &__right-wrapper {
    animation: slideUp 0.8s ease-in-out forwards;
    opacity: 0;
    transform: translateY(200%);
    width: 100%;
    @include media(">=desktop") {
      animation: rightFadeIn 0.8s ease-in-out 1.5s forwards;
      max-width: 30.75rem;
      opacity: 0;
      transform: translateX(200%);
    }
  }

  &__top-banner {
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: rem(156px);
    min-width: rem(320px);
    object-fit: cover;
    padding-left: rem(13px);
    padding-top: rem(19px);
    @include media(">=desktop") {
      min-height: rem(197px);
      min-width: rem(492px);
      padding-bottom: rem(14px);
      padding-left: rem(31px);
      padding-top: rem(16px);
    }
  }

  &__user-details-wrapper {
    align-items: center;
    display: flex;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;

    @include media(">=desktop") {
      justify-content: flex-end;
      position: relative;
    }
  }

  &__user-details {
    @include media(">=desktop") {
      left: 0;
      position: absolute;
    }
  }

  &__user-name {
    font-size: rem(48px);
    font-style: normal;
    font-weight: 600;
    line-height: rem(40px);
    @include media(">=desktop") {
      font-size: rem(72px);
      font-weight: 600;
      line-height: rem(60px);
    }
  }

  &__bike-name {
    font-size: rem(30px);
    font-style: normal;
    font-weight: 600;
    line-height: rem(40px);
    @include media(">=desktop") {
      font-size: rem(45px);
      font-weight: 600;
      line-height: rem(60px);
    }
  }

  &__sub-text {
    font-size: rem(14px);
    font-style: normal;
    font-weight: 500;
    line-height: rem(20px);
    padding-top: rem(3px);
    @include media(">=desktop") {
      font-size: rem(24px);
      padding-top: rem(15px);
    }
  }

  &__bike-image {
    bottom: -12px;
    height: rem(150px);
    position: relative;
    width: rem(164px);
    z-index: 2;
    @include media(">=desktop") {
      bottom: -21px;
      height: rem(196px);
      width: rem(233px);
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__price-details {
    background-color: get-color("white");
    border-radius: 0 0 rem(16px) rem(16px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: rem(16px);
    padding: rem(24px) rem(23px);
    @include media(">=desktop") {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      gap: rem(24px);
      padding: rem(18px) rem(56px);
    }
  }

  &__price-lists {
    align-items: center;
    // border-bottom: rem(1px) solid get-color("mine-shaft");
    display: flex;
    gap: rem(12px);
    justify-content: space-between;
    margin-bottom: rem(12px);
    padding-bottom: rem(12px);
    @include media(">=desktop") {
      margin-bottom: rem(17px);
      padding-bottom: rem(17px);
    }
  }

  &__compare-text {
    color: get-color("orange");
    font-size: rem(16px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include media(">=desktop") {
      font-size: rem(20px);
    }
  }

  &__price-list-wrapper {
    background-color: get-color("alice-blue");
    border-radius: rem(8px);
    display: flex;
    flex-direction: column;
    padding: rem(10px) rem(25px);
    @include media(">=desktop") {
      padding: rem(12px) rem(32px);
    }
  }

  &__price-wrapper {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__price-label-text {
    color: get-color("mine-shaft");
    font-size: rem(12px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include media(">=desktop") {
      font-size: rem(20px);
    }
  }

  &__price {
    color: get-color("mine-shaft");
    font-size: rem(24px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @include media(">=desktop") {
      font-size: rem(28px);
    }
  }

  &__subtext {
    font-size: rem(10px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: end;
    width: 100%;
    @include media(">=desktop") {
      font-size: rem(12px);
    }
  }

  &__showroom-text {
    color: get-color("mine-shaft");
    display: flex;
    font-size: rem(10px);
    font-style: normal;
    font-weight: 400;
    justify-content: flex-end;
    line-height: normal;
    width: 100%;
    @include media(">=desktop") {
      font-size: rem(12px);
    }
  }

  &__compare-wrapper {
    display: flex;
    justify-content: center;
  }

  &__specifications-container {
    border-bottom: rem(1px) solid get-color("mine-shaft");
    display: flex;
    gap: rem(6px);
    margin-bottom: rem(16px);
    padding-bottom: rem(16px);
  }

  &__specifications-wrapper {
    display: flex;
    gap: rem(6px);
    width: 50%;
  }

  &__specification-value-wrapper {
    align-items: baseline;
    display: flex;
  }

  &__specification-icon {
    @include media(">=desktop") {
    }
    height: rem(20px);
    width: rem(20px);

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__specification-detail-wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(10px);
  }

  &__specification-text {
    color: get-color("mine-shaft");
    font-size: rem(12px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include media(">=desktop") {
      font-size: rem(18px);
    }
  }

  &__specification-value {
    color: get-color("mine-shaft");
    font-size: rem(24px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: rem(4px);
    @include media(">=desktop") {
      font-size: rem(28px);
      font-weight: 530;
    }
  }

  &__specification-unit {
    color: get-color("mine-shaft");
    font-size: rem(12px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include media(">=desktop") {
      font-size: rem(14px);
    }
  }

  &__download-share-wrapper {
    // cursor: pointer;
    display: flex;
    gap: rem(16px);
    justify-content: flex-end;
  }

  &__share {
    height: rem(22px);
    width: rem(22px);
    @include media(">=desktop") {
      display: none;
    }

    a {
      cursor: pointer;
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__download {
    cursor: pointer;
    height: rem(22px);
    width: rem(22px);

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
  
  .back-button {
    @include vida-mobile-body-1;
    background: transparent;
    font-weight: 500;
    line-height: rem(19.2px);
    margin: 0 0 rem(16px) 1.5rem;
    padding: 0;
    position: relative;
    @include media(">=desktop") {
      @include vida-mobile-body-4;
      line-height: rem(24px);
      margin: 0 0 rem(24px) rem(32px);
    }

    &::after {
      background-image: url("/clientlib-site/images/svg/chevron-left.svg");
      background-position: center;
      background-repeat: no-repeat;
      content: "";
      height: 1rem;
      left: -1.5rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1rem;

      @include media(">=desktop") {
        left: -2rem;
      }
    }
  }
}

.pre-booking {
  &__details {
    border-bottom: rem(1px) solid get-color("mine-shaft");
    margin-bottom: rem(16px);
    padding-bottom: rem(16px);
    padding-top: rem(16px);
    @include media(">=desktop") {
      margin-bottom: rem(24px);
      padding-bottom: rem(0);
      padding-top: 0;
    }
  }

  &__details-design-vida {
    padding-top: rem(16px);
    @include media(">=desktop") {
      padding-top: 0;
    }
  }

  &__details-design-vida {
    padding-top: rem(16px);
    @include media(">=desktop") {
      padding-top: 0;
    }
  }

  &__beginLabel {
    color: get-color("oslo-gray");
    font-size: rem(12px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include media(">=desktop") {
      font-size: rem(18px);
    }
  }

  &__headerLabel {
    color: get-color("mine-shaft");
    font-size: rem(24px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @include media(">=desktop") {
      font-size: rem(28px);
      font-weight: 600;
      padding-top: rem(16px);
    }
  }

  &__subHeaderLabel {
    @include vida-h3-mobile;
    padding-bottom: rem(16px);
    padding-top: rem(16px);
    @include media(">=desktop") {
      @include vida-h3-desktop;
      font-size: rem(24px);
      padding-bottom: rem(16px);
      padding-top: rem(16px);
    }
  }

  &__confirm-button-wrapper {
    display: flex;
    justify-content: center;
    @include media(">=desktop") {
      justify-content: flex-end;
    }
  }

  &__confirm {
    background: get-color("orange");
    border-radius: rem(8px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    color: get-color("white");
    font-size: rem(16px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: rem(24px);
    max-width: 330px;
    min-width: 330px;
    padding: rem(16px);
    @include media(">=desktop") {
      font-size: rem(20px);
      margin-top: rem(16px);
      max-width: 275px;
      min-width: 275px;
      padding: rem(16px) rem(32px);
    }

    &:disabled {
      background-color: get-color("oslo-gray");
    }
  }
}

.scooter {
  &__info {
    border-bottom: rem(1px) solid get-color("mine-shaft");
    margin-bottom: rem(16px);
    padding-bottom: rem(16px);
    @include media(">=desktop") {
      margin-bottom: rem(16px);
      padding-bottom: rem(16px);
    }
  }

  &__header {
    @include vida-h2-mobile;
    padding-bottom: rem(13px);
    @include media(">=desktop") {
      @include vida-h2-desk;
      font-size: rem(28px);
      padding-bottom: rem(16px);
    }
  }

  &__sub-header {
    @include vida-h3-mobile;
    padding-bottom: rem(16px);
    @include media(">=desktop") {
      @include vida-h3-desktop;
      font-size: rem(24px);
      padding-bottom: rem(16px);
    }
  }

  &__type-text {
    border-radius: rem(8px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    font-size: rem(16px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    min-width: rem(104px);
    padding: rem(16px);
    @include media(">=desktop") {
      font-size: rem(20px);
      font-weight: 600;
      min-width: rem(170px);
      padding: rem(16px) rem(32px);
    }
  }

  &__color-label {
    color: get-color("mine-shaft");
    font-size: rem(20px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: rem(18px);
    padding-top: rem(16px);
    @include media(">=desktop") {
      font-size: rem(24px);
      font-weight: 600;
      padding-bottom: rem(16px);
      padding-top: rem(16px);
    }
  }

  &__color-container {
    @include media(">=desktop") {
    }
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: rem(32px);
  }

  &__colors {
    border-radius: 50%;
    height: rem(15px);
    padding: 0;
    width: rem(15px);
    @include media(">=desktop") {
      height: rem(24px);
      width: rem(24px);
    }
  }

  &__selected {
    background: get-color("orange");
    color: get-color("white");
    pointer-events: none;
  }

  &__not-selected {
    background: get-color("white");
    border: rem(1px) solid get-color("orange");
    color: get-color("black");
  }

  &__black-border {
    border: rem(1px) solid get-color("black");
    height: rem(15px);
    width: rem(15px);
    @include media(">=desktop") {
      border-width: rem(1.62px);
      height: rem(24px);
      width: rem(24px);
    }
  }

  &__colors-outline {
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-width: rem(1px);
    display: flex;
    height: rem(32px);
    justify-content: center;
    width: rem(32px);
    @include media(">=desktop") {
      border-width: rem(1.62px);
      height: rem(46px);
      width: rem(46px);
    }
  }

  &__colors-selected {
    height: rem(26px);
    width: rem(26px);
    @include media(">=desktop") {
      height: rem(32px);
      width: rem(32px);
    }
  }

  &__variant-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: rem(8px);
    @include media(">=desktop") {
      flex-wrap: wrap;
      gap: rem(24px);
    }
  }
}

.add-more-link {
  color: get-color("orange");
  font-size: rem(16px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @include media(">=desktop") {
    font-size: rem(20px);
  }
}

.dealers {
  &__headerLabel {
    @include vida-h2-mobile;
    padding-bottom: rem(16px);
    @include media(">=desktop") {
      @include vida-h2-desk;
      padding-bottom: rem(32px);
    }
  }
}

.drawer__header {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: rem(8px);

  .header__line {
    background: get-color("pure-black");
    border-radius: rem(48px);
    height: rem(4px);
    width: rem(48px);
  }
}

.slide-down {
  transform: translateY(90%) !important;
}

.confirm {
  &__pop-up {
    @include media(">=desktop") {
    }
    align-items: center;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: rem(52px);
    width: 100%;
    z-index: 9999;
  }

  &__content {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: rem(15px);
    margin-right: rem(15px);
  }

  &__pop-up {
    .buy-options__content {
      max-width: rem(328px);
      @include media(">=desktop") {
        max-width: rem(734px);
      }
    
      .buy-options__header {
        @include vida-h2-mobile;
        color: get-color("white");
        line-height: rem(28.8px);
        text-align: center;
        @include media(">=desktop") {
          @include vida-h2-desk;
          color: get-color("white");
          line-height: rem(57.6px);
          
        }
      }

      .purchase-options-container {
        display: flex;
        flex-direction: column;
        gap: rem(16px);
        justify-content: space-between;
        margin-top: rem(16px);

        @include media(">=desktop") {
          flex-direction: row;
          gap: rem(20px);
          margin-top: rem(32px);
        }

        .purchase-option {
          align-items: center;
          background-color: get-color("white");
          border-radius: rem(8px);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-sizing: border-box;
          cursor: pointer;
          display: flex;
          flex-basis: 100%;
          height: rem(56px);
          justify-content: center;
          padding: rem(16px);

          @include media(">=desktop") {
            box-sizing: border-box;
            flex-basis: 48%;
            gap: rem(20px);
            height: rem(80px);
            padding: rem(24px) rem(32px);
          }

          // &:nth-child(2) {
          //   padding: rem(20px) rem(16px) rem(12px);
          //   @include media(">=desktop") {
          //     padding: rem(30px) rem(32px) rem(18px);
          //   }
          // }

          // &:nth-child(3) {
          //   padding: rem(14px) rem(16px);
          //   @include media(">=desktop") {
          //     padding: rem(22px) rem(32px);
          //   }
          // }

          &:nth-child(1) {
            padding: rem(20px) rem(16px) rem(12px);
            @include media(">=desktop") {
              padding: rem(30px) rem(32px) rem(18px);
            }
          }

          &:nth-child(2) {
            padding: rem(14px) rem(16px);
            @include media(">=desktop") {
              padding: rem(22px) rem(32px);
            }
          }

          &:hover {
            border: 2px solid get-color("orange");
          }

          .direct-purchase-button {
            @include vida-h5-mobile;
            line-height: rem(24px);
            @include media(">=desktop") {
              @include vida-h5-desktop;
            }
          }
          // p {
          //   @include media(">=desktop") {
          //     @include vida-h5-desktop;
          //   }
          // }
        }
      }

      .buy-options-button-container {
        display: flex;
        gap: rem(16px);
        margin: rem(32px) 0;
  
        .cancel-button,
        .confirm-button {
          @include vida-h5-mobile;
          border-radius: rem(8px);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
          flex-basis: 49%;
          line-height: rem(24px);
          padding: rem(16px) rem(32px);
          @include media(">=desktop") {
            @include vida-h5-desktop;
          }
        }
  
        .cancel-button {
          background: get-color("white");
          border: 2px solid get-color("orange");
          color: get-color("mine-shaft");
          @include media(">=desktop") {
            border: 1px solid get-color("orange");
          }
        }
  
        .confirm-button {
          background: get-color("orange");
          color: get-color("white");
          @include media(">=desktop") {
            color: get-color("white");
          }
        }
      }
    }
  }

  &__header {
    color: get-color("white");
    font-size: rem(16px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include media(">=desktop") {
      font-size: rem(18px);
    }
  }

  &__sub-header {
    color: get-color("white");
    font-size: rem(16px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @include media(">=desktop") {
      font-size: rem(28px);
      font-weight: 600;
    }
  }

  &__desc {
    @include media(">=desktop") {
    }
    color: get-color("white");
    font-size: rem(16px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: rem(16px);
  }

  &__confirm-msg {
    color: get-color("white");
    font-size: rem(16px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: rem(24px);
    @include media(">=desktop") {
      font-size: rem(20px);
    }
  }

  &__api-error-msg {
    color: get-color("catskill-white");
    font-size: rem(18px);
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.125rem;
    margin-top: rem(15px);

    a {
      color: get-color("orange");
      font-size: rem(20px);
      font-weight: 500;
      line-height: rem(24px);
    }
  }

  &__button-container {
    display: flex;
    flex-direction: row;
    gap: rem(16px);
    padding-top: rem(32px);
    @include media(">=desktop") {
      gap: rem(24px);
    }
  }

  &__confirm-button {
    background-color: get-color("orange");
    color: get-color("white");

    &--full-width {
      width: 100%;
    }
  }

  &__cancel-button {
    background-color: get-color("white");
    border: rem(2px) solid get-color("orange");
    color: get-color("mine-shaft");
  }

  &__confirm-cancel-button {
    border-radius: rem(8px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    flex: 1;
    font-size: rem(16px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: rem(16px);
    text-align: center;
    width: rem(156px);
    @include media(">=desktop") {
      flex: none;
      font-size: rem(20px);
      padding: rem(16px) rem(32px);
      width: rem(267px);
    }

    &.confirm__confirm-button--full-width {
      width: 100%;
    }
  }
}

.booking-tab-container {
  display: none;
  padding: rem(8px) rem(16px);
  width: 100%;
}

.booking-tab-wrapper {
  align-self: stretch;
  background: get-color("catskill-white");
  border-radius: rem(8px);
  // margin-bottom: rem(16px);

  @include media(">=tablet") {
    // margin-bottom: rem(32px);
  }

  .tab-container {
    // align-items: flex-start;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .tab-one-container {
      align-items: flex-start;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      width: 50%;
    }

    .tab-two-container {
      align-items: flex-end;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      // pointer-events: none; // no buy journey as of now
      width: 50%;
    }

    .tab-one-container-active {
      align-items: center;
      background-color: get-color("orange");
      border: none;
      border-bottom-left-radius: rem(5px);
      border-top-left-radius: rem(5px);
      clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);

      text-align: center;
      transition: background-color 0.3s ease;

      @include media(">=tablet") {
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
      }

      .text-one.active {
        color: get-color("white");
        font-family: PP Neue Montreal;
        font-size: rem(14px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;

        @include media(">=tablet") {
          font-size: rem(18px);
          font-weight: 600;
        }
      }

      .tab-price.active {
        color: get-color("white");
        font-family: PP Neue Montreal;
        font-size: rem(16px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        @include media(">=tablet") {
          font-size: rem(20px);
          font-weight: 600;
        }
      }

      .second-text.active {
        color: get-color("white");
        font-family: PP Neue Montreal;
        font-size: rem(10px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        @include media(">=tablet") {
          font-size: rem(16px);
        }
      }
    }

    .tab-two-container-active {
      align-items: flex-end;
      background-color: get-color("orange");
      border: none;
      border-radius: 0;
      border-bottom-right-radius: rem(5px);
      border-top-right-radius: rem(5px);
      clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
      justify-content: flex-end;
      text-align: center;
      transition: background-color 0.3s ease;
      width: 80%;

      @include media(">=tablet") {
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
        width: 60%;
      }

      .tab-two-text {
        display: flex;
        flex: 0.8;
      }

      .text-one.active {
        color: get-color("white");
        font-family: PP Neue Montreal;
        font-size: rem(14px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;

        @include media(">=tablet") {
          font-size: rem(18px);
          font-weight: 600;
        }
      }

      .tab-price.active {
        color: get-color("white");
        font-family: PP Neue Montreal;
        font-size: rem(16px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        @include media(">=tablet") {
          font-size: rem(20px);
          font-weight: 600;
        }
      }

      .second-text.active {
        color: get-color("white");
        font-family: PP Neue Montreal;
        font-size: rem(10px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        @include media(">=tablet") {
          font-size: rem(16px);
        }
      }
    }

    .text-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: rem(8px) rem(24px) rem(8px) rem(4px);

      @include media(">=tablet") {
        align-items: flex-start;
        margin-left: rem(12px);
      }

      .text-one {
        color: get-color("mine-shaft");
        font-family: PP Neue Montreal;
        font-size: rem(14px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;

        @include media(">=tablet") {
          font-size: rem(18px);
        }
      }

      .tab-price {
        color: get-color("mine-shaft");
        font-family: PP Neue Montreal;
        font-size: rem(16px);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;

        @include media(">=tablet") {
          font-size: rem(20px);
        }
      }

      .second-text {
        color: var(--Neutral-Black, #000);

        /* Mobile/Extra Small Text - Mobile */
        font-family: PP Neue Montreal;
        font-size: rem(10px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;

        @include media(">=tablet") {
          font-size: rem(16px);
        }
      }
    }
  }

  .orange-bottom-line {
    background-color: get-color("orange");
    border-radius: rem(2px);
    box-shadow: 0 rem(-1px) rem(5px) 0 rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    height: rem(2px);

    @include media(">=tablet") {
      border-radius: rem(2px);
      box-shadow: 0 rem(-1px) rem(5px) 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.booking-login-container {
  .user-access-login-primary-text {
    padding: 0 0 rem(4px) 0;

    p {
      color: get-color("oslo-gray");
      font-size: rem(12px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include media(">=desktop") {
        font-size: rem(18px);
      }
    }
  }

  .user-access-login-bold-text {
    padding: 0 0 rem(24px) 0;

    p {
      color: get-color("mine-shaft");
      font-size: rem(24px);
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @include media(">=desktop") {
        font-size: rem(48px);
      }
    }
  }

  .vida-form-group {
    margin: 0;
    margin: 0 0 rem(16px);
    min-width: 100%;

    @include media(">=desktop") {
      min-height: rem(60px);
    }
  }

  .vida-form-field-input {
    border: 1px solid get-color("oslo-gray") !important;
    border-radius: rem(8px) !important;
    height: rem(52px);
    margin: 0;
    width: 100%;

    @include media(">=desktop") {
      height: rem(56px);
    }
  }

  .form__field-message {
    margin-top: rem(4px);
  }

  .vida-form-field-info {
    display: none;
  }

  .user-access-login-privacy-policy {
    padding: rem(12px) 0 rem(16px);

    @include media(">=desktop") {
      padding: 0 0 rem(32px);
    }

    p {
      color: get-color("oslo-gray");
      font-size: rem(12px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include media(">=desktop") {
        font-size: rem(16px);
      }
    }
  }

  .vida-access-login-btn-container {
    margin: 0;

    @include media(">=desktop") {
      align-items: flex-end;
      border: none;
    }

    .vida-access-login-btn {
      align-items: center;
      background: get-color("orange");
      border-radius: rem(8px);
      color: get-color("white");
      display: flex;
      font-size: rem(16px);
      font-style: normal;
      font-weight: 600;
      height: rem(52px);
      justify-content: center;
      line-height: normal;
      margin: 0;
      padding: 0;
      width: 100%;

      @include media(">=desktop") {
        font-size: rem(20px);
        width: 50%;
      }
    }
  }
}

.buy-now-pre-booking-vida2 {
  &__offer-scroll-wrapper {
    background-color: get-color("black");
    height: 22px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
  }

  &__img-scroll {
    animation: scrollText 20s infinite linear;
    display: inline-block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;

    img {
      display: inline-block;
      font-size: 50px;
      margin: 0;
      padding: 0;
    }
  }

  &__dealers-container {
    max-height: rem(560px);
    overflow: scroll;
    overflow-x: hidden;
    @include media(">=desktop") {
      max-height: inherit;
      overflow: visible;
    }
  }
}

.d-none {
  display: none;
}

// to add animation for offer card streaming text
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

// keyframes for slide animation
@keyframes leftFadeIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rightFadeIn {
  from {
    opacity: 0;
    transform: translateX(200%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(200%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
