.delivery-tracker-wrapper {
  background: get-color("white");
  border: 1px solid get-color("orange");
  border-radius: rem(8px);
  box-shadow: 0 0 rem(10px) 0 rgba(0, 0, 0, 0.1);
  padding: rem(20px) rem(17px);

  @include media(">=desktop") {
    border: 2px solid get-color("orange");
    border-radius: rem(16px);
    padding: rem(24px) rem(26px);
  }

  .delivery-tracker-container {
    .delivery-tracker-title {
      @include vida-h5-mobile;
      line-height: rem(19.2px);
      margin: 0 0 rem(4px) 0;

      @include media(">=desktop") {
        @include vida-h5-desktop;
        line-height: rem(24px);
      }
    }

    .delivery-tracker-description {
      @include vida-mobile-body-3;
      line-height: rem(14.4px);
      margin: 0 0 rem(22px) 0;

      @include media(">=desktop") {
        @include vida-mobile-body-1;
        line-height: rem(19.2px);
        margin: 0 0 rem(24px) 0;
      }
    }
  }

  .delivery-stepper-tracker-container {
    align-items: flex-start;
    display: flex;

    &.payment-in-progress {
      .stepper-initial-tracker {
        .stepper-initial-circle {
          background: get-color("orange");
        }

        .stepper-initial-line {
          background: get-color("orange");
        }
      }

      .stepper-tracker-bar-container {
        .stepper-tracker-bar {
          &:nth-child(1) {
            .stepper-tracker-circle {
              background: get-color("orange");
              border: none;
            }

            .stepper-tracker-image {
              img {
                filter: none;
              }
            }

            .stepper-tracker-title {
              .stepper-tracker-title-text {
                color: get-color("mine-shaft");
              }
            }
          }
        }
      }
    }

    &.document-upload-in-progress {
      .stepper-initial-tracker {
        .stepper-initial-circle {
          background: get-color("orange");
        }

        .stepper-initial-line {
          background: get-color("orange");
        }
      }

      .stepper-tracker-bar-container {
        .stepper-tracker-bar {
          &:nth-child(1) {
            .stepper-tracker-circle {
              background: get-color("aqua-green");
              border: none;
            }

            .stepper-tracker-image {
              img {
                filter: none;
              }
            }

            .stepper-tracker-line {
              background: get-color("orange");
            }

            .stepper-tracker-title {
              .stepper-tracker-title-text {
                color: get-color("mine-shaft");
              }
            }
          }

          &:nth-child(2) {
            .stepper-tracker-circle {
              background: get-color("orange");
              border: none;
            }

            .stepper-tracker-image {
              img {
                filter: none;
              }
            }

            .stepper-tracker-title {
              .stepper-tracker-title-text {
                color: get-color("mine-shaft");
              }
            }
          }
        }
      }
    }

    &.document-verification-in-progress {
      .stepper-initial-tracker {
        .stepper-initial-circle {
          background: get-color("orange");
        }

        .stepper-initial-line {
          background: get-color("orange");
        }
      }

      .stepper-tracker-bar-container {
        .stepper-tracker-bar {
          &:nth-child(1),
          &:nth-child(2) {
            .stepper-tracker-circle {
              background: get-color("aqua-green");
              border: none;
            }

            .stepper-tracker-image {
              img {
                filter: none;
              }
            }

            .stepper-tracker-line {
              background: get-color("orange");
            }

            .stepper-tracker-title {
              .stepper-tracker-title-text {
                color: get-color("mine-shaft");
              }
            }
          }

          &:nth-child(3) {
            .stepper-tracker-circle {
              background: get-color("orange");
              border: none;
            }

            .stepper-tracker-image {
              img {
                filter: none;
              }
            }

            .stepper-tracker-title {
              .stepper-tracker-title-text {
                color: get-color("mine-shaft");
              }
            }
          }
        }
      }
    }

    &.delivery-in-progress {
      .stepper-initial-tracker {
        .stepper-initial-circle {
          background: get-color("orange");
        }

        .stepper-initial-line {
          background: get-color("orange");
        }
      }

      .stepper-tracker-bar-container {
        .stepper-tracker-bar {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            .stepper-tracker-circle {
              background: get-color("aqua-green");
              border: none;
            }

            .stepper-tracker-image {
              img {
                filter: none;
              }
            }

            .stepper-tracker-line {
              background: get-color("orange");
            }

            .stepper-tracker-title {
              .stepper-tracker-title-text {
                color: get-color("mine-shaft");
              }
            }
          }

          &:nth-child(4) {
            .stepper-tracker-circle {
              background: get-color("orange");
              border: none;
            }

            .stepper-tracker-image {
              img {
                filter: none;
              }
            }

            .stepper-tracker-title {
              .stepper-tracker-title-text {
                color: get-color("mine-shaft");
              }
            }
          }
        }
      }
    }

    &.delivery-completed {
      .stepper-initial-tracker {
        .stepper-initial-circle {
          background: get-color("orange");
        }

        .stepper-initial-line {
          background: get-color("orange");
        }
      }

      .stepper-tracker-bar-container {
        .stepper-tracker-bar {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            .stepper-tracker-circle {
              background: get-color("aqua-green");
              border: none;
            }

            .stepper-tracker-image {
              img {
                filter: none;
              }
            }

            .stepper-tracker-line {
              background: get-color("orange");
            }

            .stepper-tracker-title {
              .stepper-tracker-title-text {
                color: get-color("mine-shaft");
              }
            }
          }
        }
      }

      .stepper-end-tracker {
        .stepper-end-circle {
          background: get-color("orange");
        }

        .stepper-end-line {
          background: get-color("orange");
        }
      }
    }

    .stepper-initial-tracker {
      align-items: center;
      display: flex;

      .stepper-initial-circle {
        background: get-color("catskill-white");
        border-radius: 50%;
        height: rem(8px);
        width: rem(8px);

        @include media(">=desktop") {
          height: rem(10px);
          width: rem(10px);
        }
      }

      .stepper-initial-line {
        background: get-color("catskill-white");
        height: rem(2px);
        width: rem(18px);

        @include media(">=desktop") {
          width: rem(32px);
        }
      }
    }

    .stepper-tracker-bar-container {
      display: flex;
      margin: rem(-10px) 0 0 0;

      .stepper-tracker-bar {
        &:last-child {
          .stepper-tracker-line {
            display: none;
          }

          .stepper-tracker-title {
            margin: 0 0 0 rem(-6px);

            @include media(">=desktop") {
              margin: 0 0 0 rem(-12px);
            }
          }
        }
      }

      .stepper-tracker-bar-flex-container {
        align-items: center;
        display: flex;
        margin: 0 0 rem(8px) 0;
      }

      .stepper-tracker-circle {
        align-items: center;
        background: get-color("white");
        border: 1px solid get-color("oslo-gray");
        border-radius: 50%;
        display: flex;
        height: rem(28px);
        justify-content: center;
        width: rem(28px);

        @include media(">=desktop") {
          height: rem(30px);
          width: rem(30px);
        }
      }

      .stepper-tracker-image {
        height: rem(16.8px);
        width: rem(16.8px);

        @include media(">=desktop") {
          height: rem(18px);
          width: rem(18px);
        }

        img {
          filter: invert(0.5);
          object-fit: cover;
          width: 100%;
        }
      }

      .stepper-tracker-line {
        background: get-color("catskill-white");
        height: rem(2px);
        width: rem(40px);

        @include media(">=desktop") {
          width: rem(72px);
        }
      }

      .stepper-tracker-title {
        margin: 0 0 0 rem(-12px);
        max-width: rem(56px);
        text-align: center;

        @include media(">=desktop") {
          margin: 0 0 0 rem(-16px);
        }

        .stepper-tracker-title-text {
          @include vida-mobile-body-3;
          color: get-color("oslo-gray");
          line-height: rem(14.4px);

          @include media(">=desktop") {
            @include vida-mobile-body-1;
            color: get-color("oslo-gray");
            line-height: rem(19.2px);
          }
        }
      }
    }

    .stepper-end-tracker {
      align-items: center;
      display: flex;
      margin: 0 0 0 rem(-7px);

      @include media(">=desktop") {
        margin: 0 0 0 rem(-1px);
      }

      .stepper-end-line {
        background: get-color("catskill-white");
        height: rem(2px);
        width: rem(18px);

        @include media(">=desktop") {
          margin: 0 0 0 rem(-12px);
          width: rem(32px);
        }
      }

      .stepper-end-circle {
        background: get-color("catskill-white");
        border-radius: 50%;
        height: rem(8px);
        width: rem(8px);

        @include media(">=desktop") {
          height: rem(10px);
          width: rem(10px);
        }
      }
    }
  }
}
