 /* Variables  */
$font-size-700: 40px;
$font-size-500: 24px;
$font-size-400: 20px;
$font-size-300: 16px;
$font-size-200: 14px;
$font-size-100: 12px;
$font-size-600: 32px;
$font-size-900: 60px;
$font-size-1000: 72px;
$font-size-800: 48px;
$font-size-1200: 96px;
$font-size-1400: 120px;
$font-size-1300: 108px;
$font-size-1100: 84px;
$font-size-1500: 132px;
$font-size-50: 10px;

