 /* Variables  */
$line-height-1100: 72px;
$line-height-900: 56px;
$line-height-700: 40px;
$line-height-300: 20px;
$line-height-1000: 64px;
$line-height-200: 18px;
$line-height-600: 32px;
$line-height-400: 24px;
$line-height-100: 14px;
$line-height-800: 48px;
$line-height-1400: 96px;
$line-height-1200: 80px;
$line-height-1300: 88px;
$line-height-1500: 104px;
$line-height-1600: 112px;
$line-height-500: 28px;

