@import "../../../../site/styles/base/typography";

.vida-booking-details-dealers {
  width: 100%;

  &__errors {

    color: #c00;
  }

  &__pincode {
    .form__field-message {
      @include p2;
      margin-bottom: rem(20px);
    }
  }

  &__title {
    @include h2;
    display: none;
    @include media(">=desktop") {
      display: block;
    }
  }

  &__user-name {
    @include h2;
    color: get-color("orange");
    margin-bottom: rem(20px);
    text-transform: capitalize;
  }

  &__step {
    @include p2;
    display: none;
    @include media(">=desktop") {
      color: get-color("solid-grey");
      display: block;
      margin-bottom: rem(5px);

      span {
        padding: 0 2px;
      }
    }
  }

  &__btn-container {
    margin-bottom: rem(30px);
    margin-top: rem(40px);

    .btn {
      @include media(">=desktop") {
        height: auto;
        max-height: rem(60px);
        min-width: rem(222px);
        width: auto;
      }
    }
  }

  &__change-value {
    margin-bottom: rem(13px);
  }

  &__promo-banner {
    @include btn-action;
    align-items: center;
    background-color: get-color("smoke-white");
    border-radius: 16px;
    display: flex;
    gap: rem(10px);
    margin-bottom: rem(10px);
    margin-top: rem(30px);
    max-width: 400px;
    padding: rem(21px);
    width: auto;
    @include media(">=desktop") {
      gap: rem(20px);
      margin-bottom: rem(20px);
    }
  }

  &__scooter-icon {
    background-color: get-color("white");
    border-radius: 50%;
    color: get-color("blue");
    font-size: 24px;
    padding: 7px;
  }

  &__switch-account {
    @include links;
    display: flex;
    gap: 5px;
    margin-bottom: rem(30px);
    // margin-top: rem(10px);
    text-align: left;
    @include media(">=desktop") {
      margin-bottom: rem(120px);
      // margin-top: 10px;
    }
  }

  &__listofdealers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 300px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px !important;
    }

    &::-webkit-scrollbar-track {
      background-color: get-color("lighter-blue") !important;
      border-radius: 0 16px 16px 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: get-color("dark-blue") !important;
      border-radius: 0 4px 4px 0;
      height: 50px;
    }
  }

  &__dealer {
    border: 1px solid transparent;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    margin: 5px;
    margin-bottom: 10px;
    min-height: 120px;
    padding: 8px;
    width: 200px;

    &--active {
      background: #fff;
      border: 1px solid #00c6d5;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }

    div {
      color: #777676;
      font-size: 14px;
      font-weight: 400;
      margin-top: 20px;
      word-break: break-word;
    }
  }
}

.vida-booking-details-dealers__register {
  .popup {
    height: auto;

    .popup__close-btn {
      color: get-color("solid-black");
      display: block;
      right: rem(16px);

      @include media(">=desktop") {
        right: rem(30px);
        top: rem(3px);
      }

      &:hover {
        color: get-color("orange");
      }

      [class^="icon-"],
      [class*=" icon-"] {
        font-size: rem(25px);
        font-weight: normal;
      }
    }

    .popup__container {
      border-radius: rem(16px);
      height: rem(410px);
      max-height: calc(100% - 60px);
      overflow-y: auto;
      padding: rem(20px) 0;
      width: rem(328px);

      @include media(">=desktop") {
        border-radius: rem(32px);
        height: rem(280px);
        padding: rem(30px) 0;
        width: rem(620px);
      }

      .popup__body {
        overflow-y: auto;
        padding: 0 rem(16px);

        @include media(">=desktop") {
          padding: 0 rem(30px);
        }
      }

      .popup__content {
        p {
          margin: rem(30px) 0;
        }

        div {
          display: flex;
          flex-direction: row;
          gap: 0 rem(15px);
          justify-content: flex-end;
        }
      }
    }

  }
}
