.vida-dealer-card {
  &__bottom-sec {
    display: flex;
    justify-content: space-between;
    @include media(">=desktop") {
      justify-content: flex-start;
    }

    &-phone-number {
      background-position: center left;
      background-repeat: no-repeat;
      padding: 10px 6px 10px 26px;      
    }

    &-map {
      background-repeat: no-repeat;
      background-size: rem(40px);
      cursor: pointer;
      display: block;
      height: rem(40px);
      width: rem(40px);
    }

    &-link {
      height: rem(40px);
      width: rem(40px);
    }

    &.no-phone {
      justify-content: flex-end;
      @include media(">=desktop") {
        justify-content: flex-start;
      }
    }
  }

  

  &__dealer {
    border: 1px solid transparent;
    border-radius: rem(25px);
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    margin: rem(5px);
    margin-bottom: rem(10px);
    min-height: rem(120px);
    padding: rem(8px);
    padding: rem(8px) rem(20px);
    width: 100%;

    &--active {
      background: #fff;
      border: 1px solid #00c6d5;
    }

    p {
      font-size: rem(16px);
      font-weight: 500;
      text-align: left;
    }

    div {
      color: #777676;
      font-size: rem(14px);
      font-weight: 400;
      margin-top: rem(6px);
      word-break: break-word;
    }
  }
}
