.accordian-container {
  background: get-color("catskill-white");

  &__wrapper {
    background: inherit;
    border-bottom: rem(1px) solid get-color("mine-shaft");
    padding-bottom: rem(24px);
    padding-top: rem(24px);
  }

  .flex-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    gap: rem(5px);
    padding-top: rem(24px);
    @include media(">=desktop") {
      gap: rem(9px);
      padding-bottom: rem(12px);
    }

    .pre-title {
      @include vida-mobile-subtitle;
      color: get-color("white") !important;
      text-align: left;

      @include media(">=desktop") {
        @include vida-desktop-subtitle;
      }
    }

    .title {
      @include vida-h2-mobile;
      color: get-color("white") !important;
      text-align: left;
      @include media(">=desktop") {
        @include vida-h2-desk;
      }
    }

    &__image {
      box-sizing: border-box;
      height: rem(288px);
      padding: rem(24px) 0 0;

      @include media(">=desktop") {
        padding-bottom: rem(12px) !important;
      }
  
      @include media(">tablet") {
        height: rem(270px);
      }
  
      img {
        border-radius: rem(8px);
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  &__header-wrapper {
    display: flex;
    flex-grow: 1;
  }

  &__header {
    @include vida-h5-mobile;
    background: inherit;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0;
    text-align: left;
    width: 100%;
  }

  &__header-icon {
    height: rem(18px);
    width: rem(18px);

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    position: relative;

    &__wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  &__image {
    box-sizing: border-box;
    height: rem(288px);
    padding: rem(24px) 0 rem(16px);

    @include media(">tablet") {
      height: rem(448px);
    }

    img {
      border-radius: rem(8px);
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__video {
    padding: rem(32px) 0 rem(16px);

    @include media(">tablet") {
      padding: 0;
      padding-bottom: rem(32px);
    }

    video {
      border-radius: rem(8px);
      // max-height: 10.125rem;
      width: 100%;

      @include media(">tablet") {
        max-height: rem(520px);
      }
    }
  }

  &__ytvideo {
    padding: rem(32px) 0 rem(16px);
    width: 100%;

    @include media(">tablet") {
      padding: 0;
      padding-bottom: rem(32px);
    }
  }

  iframe {
    border-radius: rem(8px);
    // max-height: 10.125rem !important;
    width: 100%;

    @include media(">tablet") {
      height: rem(520px);
    }
  }

  &__data {
    @include vida-mobile-body-2;
    background: inherit;
    color: get-color("mine-shaft") !important;
    cursor: pointer;
    padding-top: rem(8px);
    text-decoration: none;

    &:hover {
      color: get-color("orange") !important;
    }
  }

  &__readMore-link,
  &__knowmore-link {
    @include vida-tertiary-cta-mobile;
    cursor: pointer;
    text-decoration: underline;
  }

  &__knowmore-link {
    font-weight: 400;
    @include media(">tablet") {
      font-size: rem(20px);
    }
  }

  &__readMore-content {
    border-top: rem(1px) solid get-color("oslo-gray");
  }

  &__readMore-wrapper,
  &__knowmore-wrapper {
    padding-top: rem(32px);
  }

  &__expand {
    animation: accordian-open 5s linear forwards;
  }

  &__close {
    animation: accordian-close 5s linear forwards;
  }

  &__close-icon-opacity {
    animation: close-icon-opacity 1s linear forwards;
  }
}

@keyframes accordian-open {
  from {
    max-height: 0;
  }

  80% {
    max-height: 800px;
  }

  to {
    max-height: 800px;
  }
}

@keyframes accordian-close {
  from {
    max-height: 800px;
  }

  80% {
    max-height: 0;
  }

  to {
    max-height: 0;
  }
}

@keyframes close-icon-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
