.track-delivery-wrapper {
  .track-delivery-bg-img {
    background: get-color("catskill-white");
    height: 100vh;
    object-fit: cover;
    position: fixed;
    width: 100%;
  }

  .track-delivery-container {
    padding-bottom: rem(24px) !important;
    padding-top: rem(32px) !important;
    position: relative;

    @include media(">=desktop") {
      display: flex;
      gap: rem(88px);
      justify-content: space-between;
      padding-bottom: rem(152px) !important;
      padding-top: rem(37px) !important;
    }
    @include media(">=desktop-md") {
      gap: rem(235px);
    }
  }

  .track-delivery-left-container {
    @include media(">=desktop") {
      flex: 1;
    }

    .track-delivery-normal-title {
      @include vida-mobile-body-3;
      line-height: rem(14.4px);
      padding: 0 0 rem(16px) 0;

      @include media(">=desktop") {
        @include vida-desktop-body-3;
        line-height: rem(21.6px);
        padding: 0 0 rem(5px) 0;
      }
    }

    .track-delivery-bold-title {
      @include vida-h2-mobile;
      line-height: rem(28.8px);
      padding: 0 0 rem(18px) 0;

      @include media(">=desktop") {
        @include vida-h2-desk;
        line-height: rem(57.6px);
        padding: 0 0 rem(34px) 0;
      }
    }

    .track-delivery-banner-container {
      border-radius: rem(8px);
      margin: 0 0 rem(16px) 0;
      position: relative;

      @include media(">=desktop") {
        border-radius: rem(16px);
        height: rem(160px);
        margin: 0 0 rem(34px) 0;
        width: rem(492px);
      }

      .track-delivery-banner-bg {
        height: 100%;
        position: absolute;
        width: 100%;
      }

      .track-delivery-banner-content-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: rem(8px) rem(16px);
        position: relative;

        @include media(">=desktop") {
          padding: rem(12px) rem(10px) rem(12px) rem(30px);
        }
      }

      .user-info-container {
        .user-info-name-text {
          @include vida-h2-desk;
          color: get-color("white");
          line-height: rem(40px);

          @include media(">=desktop") {
            @include vida-large-title1-mobile;
            color: get-color("white");
            line-height: rem(86px);
          }
        }

        .user-info-bike-text {
          @include vida-medium-bold-text-mobile;
          color: get-color("white");
          line-height: rem(40px);

          @include media(">=desktop") {
            @include vida-large-title2-mobile;
            color: get-color("white");
            line-height: rem(54px);
          }
        }

        .bike-sub-text {
          @include vida-tertiary-cta-mobile;
          color: get-color("white");
          line-height: rem(20px);

          @include media(">=desktop") {
            @include vida-mobile-body-4;
            color: get-color("white");
            line-height: rem(20px);
          }
        }
      }

      .user-bike-img-container {
        height: rem(93px);
        width: rem(102px);

        @include media(">=desktop") {
          height: rem(158px);
          max-width: rem(192px);
          width: rem(192px);
        }

        .user-bike-img {
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .track-delivery-delivery-tracker-container {
      margin: 0 0 rem(24px) 0;

      @include media(">=desktop") {
        margin: 0;
      }
    }

    .track-delivery-download-invoice {
      padding-top: rem(24px);
      @include media(">=desktop") {
        padding-top: rem(34px);
      }

      a {
        @include vida-tertiary-cta-mobile;
        line-height: rem(19.2px);
        // padding-top: rem(24px);

        @include media(">=desktop") {
          @include vida-tertiary-cta;
          line-height: rem(24px);
        
        }
      }
    }
  }

  .track-delivery-right-container {
    @include media(">=desktop") {
      flex: 1.1;
    }

    .track-delivery-title-container {
      align-items: flex-start;
      display: flex;
      margin: 0 0 rem(24px) 0;
      @include media(">=desktop") {
        margin: 0 0 rem(34px) 0;
      }

      .track-delivery-title-text {
        @include vida-h2-mobile;
        line-height: rem(28.8px);
        margin: 0 0 rem(10px) 0;

        @include media(">=desktop") {
          @include vida-h2-desk;
          line-height: rem(57.6px);
          margin: 0 0 rem(16px) 0;
        }
      }

      .track-delivery-description-text {
        @include vida-mobile-body-2;
        line-height: rem(16.8px);

        @include media(">=desktop") {
          @include vida-desktop-body-3;
          line-height: rem(21.6px);
        }
      }

      .track-delivery-dropdown-icon {
        display: none;
        height: rem(30px);
        width: rem(30px);
        @include media(">=desktop") {
          display: none;
          height: rem(36px);
          width: rem(36px);
        }

        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .track-delivery-download-invoice {
      padding-top: rem(24px);
      @include media(">=desktop") {
        padding-top: rem(34px);
      }

      a {
        @include vida-tertiary-cta-mobile;
        line-height: rem(19.2px);
        // padding-top: rem(24px);

        @include media(">=desktop") {
          @include vida-tertiary-cta;
          line-height: rem(24px);
        
        }
      }
    }
  }

  .final-tracker-wrapper {
    background: get-color("alice-blue");
    border: 1px solid get-color("orange");
    border-radius: rem(8px);
    box-shadow: 0 0 rem(10px) 0 rgba(0, 0, 0, 0.1);
    padding: rem(20px) rem(17px);
  
    @include media(">=desktop") {
      border: 2px solid get-color("orange");
      border-radius: rem(16px);
      padding: rem(24px) rem(26px);
    }
  
    .final-stepper-tracker-container {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
  
      &.payment-in-progress {
        .stepper-initial-tracker {
          .stepper-initial-circle {
            background: get-color("orange");
          }
  
          .stepper-initial-line {
            background: get-color("orange");
          }
        }
  
        .stepper-tracker-bar-container {
          .stepper-tracker-bar {
            &:nth-child(1) {
              .stepper-tracker-circle {
                background: get-color("orange");
                border: none;
              }
  
              .stepper-tracker-image {
                img {
                  filter: none;
                }
              }
  
              .stepper-tracker-title {
                .stepper-tracker-title-text {
                  color: get-color("mine-shaft");
                }
              }
            }
          }
        }
      }
  
      &.document-upload-in-progress {
        .stepper-initial-tracker {
          .stepper-initial-circle {
            background: get-color("orange");
          }
  
          .stepper-initial-line {
            background: get-color("orange");
          }
        }
  
        .stepper-tracker-bar-container {
          .stepper-tracker-bar {
            &:nth-child(1) {
              .stepper-tracker-circle {
                background: get-color("aqua-green");
                border: none;
              }
  
              .stepper-tracker-image {
                img {
                  filter: none;
                }
              }
  
              .stepper-tracker-line {
                background: get-color("orange");
              }
  
              .stepper-tracker-title {
                .stepper-tracker-title-text {
                  color: get-color("mine-shaft");
                }
              }
            }
  
            &:nth-child(2) {
              .stepper-tracker-circle {
                background: get-color("orange");
                border: none;
              }
  
              .stepper-tracker-image {
                img {
                  filter: none;
                }
              }
  
              .stepper-tracker-title {
                .stepper-tracker-title-text {
                  color: get-color("mine-shaft");
                }
              }
            }
          }
        }
      }
  
      &.document-verification-in-progress {
        .stepper-initial-tracker {
          .stepper-initial-circle {
            background: get-color("orange");
          }
  
          .stepper-initial-line {
            background: get-color("orange");
          }
        }
  
        .stepper-tracker-bar-container {
          .stepper-tracker-bar {
            &:nth-child(1),
            &:nth-child(2) {
              .stepper-tracker-circle {
                background: get-color("aqua-green");
                border: none;
              }
  
              .stepper-tracker-image {
                img {
                  filter: none;
                }
              }
  
              .stepper-tracker-line {
                background: get-color("orange");
              }
  
              .stepper-tracker-title {
                .stepper-tracker-title-text {
                  color: get-color("mine-shaft");
                }
              }
            }
  
            &:nth-child(3) {
              .stepper-tracker-circle {
                background: get-color("orange");
                border: none;
              }
  
              .stepper-tracker-image {
                img {
                  filter: none;
                }
              }
  
              .stepper-tracker-title {
                .stepper-tracker-title-text {
                  color: get-color("mine-shaft");
                }
              }
            }
          }
        }
      }
  
      &.delivery-in-progress {
        .stepper-initial-tracker {
          .stepper-initial-circle {
            background: get-color("orange");
          }
  
          .stepper-initial-line {
            background: get-color("orange");
          }
        }
  
        .stepper-tracker-bar-container {
          .stepper-tracker-bar {
            &:nth-child(1) {
              .stepper-tracker-circle {
                background: get-color("aqua-green");
                border: none;
              }
  
              .stepper-tracker-image {
                img {
                  filter: none;
                }
              }
  
              .stepper-tracker-line {
                background: get-color("orange");
              }
  
              .stepper-tracker-title {
                .stepper-tracker-title-text {
                  color: get-color("mine-shaft");
                }
              }
            }
  
            &:nth-child(2) {
              .stepper-tracker-circle {
                background: get-color("orange");
                border: none;
              }
  
              .stepper-tracker-image {
                img {
                  filter: none;
                }
              }
  
              .stepper-tracker-title {
                .stepper-tracker-title-text {
                  color: get-color("mine-shaft");
                }
              }
            }
          }
        }
      }
  
      &.delivery-completed {
        .stepper-initial-tracker {
          .stepper-initial-circle {
            background: get-color("orange");
          }
  
          .stepper-initial-line {
            background: get-color("orange");
          }
        }
  
        .stepper-tracker-bar-container {
          .stepper-tracker-bar {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
              .stepper-tracker-circle {
                background: get-color("aqua-green");
                border: none;
              }
  
              .stepper-tracker-image {
                img {
                  filter: none;
                }
              }
  
              .stepper-tracker-line {
                background: get-color("orange");
              }
  
              .stepper-tracker-title {
                .stepper-tracker-title-text {
                  color: get-color("mine-shaft");
                }
              }
            }
          }
        }
  
        .stepper-end-tracker {
          .stepper-end-circle {
            background: get-color("orange");
          }
  
          .stepper-end-line {
            background: get-color("orange");
          }
        }
      }
  
      .stepper-initial-tracker {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-left: rem(10px);
  
        .stepper-initial-circle {
          background: get-color("catskill-white");
          border-radius: 50%;
          height: rem(8px);
          width: rem(8px);
  
          @include media(">=desktop") {
            height: rem(10px);
            width: rem(10px);
          }
        }
  
        .stepper-initial-line {
          background: get-color("catskill-white");
          height: rem(18px);
          width: rem(2px);
  
          @include media(">=desktop") {
            height: rem(32px);
          }
        }
      }
  
      .stepper-tracker-bar-container {
        flex-direction: column;
        margin: rem(-10px) 0 0 0;
  
        .stepper-tracker-bar {
          align-items: start;
          display: flex;
          gap: rem(30px);

          &:first-child {
            .stepper-tracker-title {
              .stepper-tracker-title-sub-text {
                display: block;
              }
            }
          }

          &:last-child {
            .stepper-tracker-line {
              display: none;
            }
  
            .stepper-tracker-title {
              margin: 0 0 0 rem(-6px);
  
              @include media(">=desktop") {
                margin: 0 0 0 rem(-12px);
              }
            }
          }
        }
  
        .stepper-tracker-bar-flex-container {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 0 rem(8px) 0;
        }
  
        .stepper-tracker-circle {
          align-items: center;
          background: get-color("white");
          border: 1px solid get-color("oslo-gray");
          border-radius: 50%;
          display: flex;
          height: rem(28px);
          justify-content: center;
          width: rem(28px);
  
          @include media(">=desktop") {
            height: rem(30px);
            width: rem(30px);
          }
        }
  
        .stepper-tracker-image {
          height: rem(16.8px);
          width: rem(16.8px);
  
          @include media(">=desktop") {
            height: rem(18px);
            width: rem(18px);
          }
  
          img {
            filter: invert(0.5);
            object-fit: cover;
            width: 100%;
          }
        }
  
        .stepper-tracker-line {
          background: get-color("catskill-white");
          height: rem(40px);
          width: rem(2px);
  
          @include media(">=desktop") {
            height: rem(72px);
          }
        }
  
        .stepper-tracker-title {
          margin: 0 0 0 rem(-12px);
  
          @include media(">=desktop") {
            margin: 0 0 0 rem(-16px);
          }
  
          .stepper-tracker-title-text {
            @include vida-h6-mobile;
            color: get-color("oslo-gray");
            line-height: rem(16.8px);
  
            @include media(">=desktop") {
              @include vida-h5-desktop;
              color: get-color("oslo-gray");
              line-height: rem(24px);
            }
          }

          .stepper-tracker-title-sub-text {
            @include vida-mobile-body-3;
            display: none;
            line-height: rem(14.4px);
            margin: 0 0 rem(4px) 0;

            @include media(">=desktop") {
              @include vida-mobile-body-1;
              line-height: rem(19.2px);
              margin: 0 0 rem(6px) 0;
            }
          }

          .stepper-tracker-title-sub-title {
            @include vida-mobile-body-3;
            line-height: rem(14.4px);
            margin: 0 0 rem(4px) 0;

            @include media(">=desktop") {
              @include vida-mobile-body-1;
              line-height: rem(19.2px);
              margin: 0 0 rem(6px) 0;
            }
          }
        }
      }
  
      .stepper-end-tracker {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-left: rem(10px);
  
        .stepper-end-line {
          background: get-color("catskill-white");
          height: rem(18px);
          width: rem(2px);
  
          @include media(">=desktop") {
            height: rem(32px);
          }
        }
  
        .stepper-end-circle {
          background: get-color("catskill-white");
          border-radius: 50%;
          height: rem(8px);
          width: rem(8px);
  
          @include media(">=desktop") {
            height: rem(10px);
            width: rem(10px);
          }
        }
      }
    }
  }  

  .track-delivery-download-invoice {
    display: none;
  }
}
