.vida-subscription-details {
  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    .subscription-wrapper {
      margin: rem(32px) 0 0;
      @include media(">=desktop") {
        margin: rem(48px) 0;
      }
    }

    .vida-subscription-details__icon {
      .vida-subscription-details__icontext {
        &-heading {
          @include vida-h2-mobile;
          color: get-color("orange");
          line-height: rem(28px);
          margin-top: rem(8px);
          @include media(">=desktop") {
            @include vida-h2-desk;
            line-height: rem(58px);
          }
        }

        &-description {
          &__heading {
            @include vida-h3-desktop;
            color: get-color("mine-shaft");
            line-height: rem(32px);
            margin-bottom: rem(32px);
            margin-top: rem(16px);
            @include media(">=desktop") {
              font-size: rem(64px);
              font-weight: bold;
              line-height: rem(76px);
              margin-bottom: rem(56px);
            }
          }
        }
      }
    }

    .vida-subscription-details__card {
      display: grid;
      gap: rem(16px);
      @include media(">=desktop") {
        gap: rem(40px);
        grid-template-columns: 1fr 1fr;
      }

      &-section {
        background-color: get-color("alice-blue");
        border-radius: rem(8px);
        padding: rem(24px) rem(43.5px);
        @include media(">=desktop") {
          border-radius: rem(16px);
          padding: rem(24px) rem(40px);
        }

        &:nth-last-child(1):nth-child(odd) {
          @include media(">desktop") {
            grid-column: 1 / -1;
            justify-self: center;
          }          
        }

        &__heading {
          @include vida-h3-mobile;
          line-height: rem(24px);
          padding: 0 rem(12px);
          @include media(">=desktop") {
            @include vida-h3-desktop;
            line-height: rem(32px);
          }
        }

        &__description {
          @include vida-mobile-body-2;
          padding-top: rem(8px);
          @include media(">=desktop") {
            @include vida-desk-body-1;
            line-height: rem(24px);
            padding-top: rem(16px);
          }
        }
      }
    }
  }
}
