 /* Variables  */
$space-2xl: 32px;
$space-m: 12px;
$space-2xs: 4px;
$space-12xl: 112px;
$space-4xl: 48px;
$space-6xl: 64px;
$space-11xl: 104px;
$space-9xl: 88px;
$space-8xl: 80px;
$space-l: 16px;
$space-s: 8px;
$space-3xs: 2px;
$space-xl: 24px;
$space-7xl: 72px;
$space-10xl: 96px;
$space-3xl: 40px;
$space-5xl: 56px;
$space-xs: 6px;
$space-15xl: 134px;
$space-20xl: 174px;
$space-25xl: 214px;
$space-50xl: 414px;
$space-37xl: 310px;

