 /* Aliases  */
$label-label-s-semibold-font-size: $font-size-200;
$label-label-s-semibold-font-weight: $font-weight-semibold;
$label-label-s-semibold-line-height: $line-height-200;
$label-label-s-semibold-letter-spacing: $letter-spacing-xl;

