.mmi-map {
  border-radius: rem(10px);
  height: rem(226px);
  margin: 0 auto;
  margin-bottom: rem(16px);
  max-width: rem(600px);
  @include media(">desktop") {
    border-radius: rem(16px);
    height: rem(330px);
    margin-bottom: rem(34px);
  }
}

.mapboxgl-popup-content {
  padding: 20px 10px 15px !important;
}

.mapboxgl-popup-close-button {
  padding: 10px;

  &:hover {
    background-color: unset !important;
  }
}

.map-control {
  display: none !important;
}

.maplibregl-ctrl-scale,
.mapboxgl-ctrl-scale {
  display: none !important;
}
