.vida-blog-card {
  margin-bottom: rem(20px);
  @include media(">=desktop") {
    padding-left: 80px;
  }

  a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
  }


  a:hover {
    color: get-color("orange");
    text-decoration: underline;
  }

  &__name {
    color: get-color("solid-grey");
    font-size: rem(20px);
    font-weight: 400;
    line-height: rem(20px);
    @include media(">=desktop") {
      font-size: rem(30px);
      font-weight: 500;
      line-height: rem(51px);
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(25px);
    margin-top: rem(25px);
    @include media(">=phone") {
      margin-left: rem(10px);
    }
    @include media(">=desktop") {
      margin-left: rem(5px);
    }
  }


  &__body {
    display: flex;
    flex-wrap: wrap;
    @include media(">=desktop") {
      flex-wrap: wrap;
      gap: rem(13px);
    }
  }

  &__imgsize {
    border-radius: rem(16px);
    cursor: pointer;
    width: 100%;
  }

  &__articlebody {
    border: 1.4px solid #d2d1d1;
    border-radius: rem(16px);
    box-shadow: 0 6px 26px rgba(40, 40, 40, 0.08);
    margin: 10px;
    margin-bottom: rem(16px);
    width: 100%;
    @include media(">=desktop") {
      width: 22%;
    }
  }

  &__content {
    margin-bottom: rem(16px);
    margin-top: rem(15px);
    padding: 0 rem(10px);
  }

  &__category {
    background-color: get-color("mandys-pink");
    display: inline-block;
    font-size: rem(12px);
    font-weight: bold;

    padding: 5px;
  }

  &__time {
    color: #969696;
    font-size: rem(12px);
    line-height: rem(16px);
    padding-right: rem(10px);
  }

  &__by {
    color: #777676;
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(18px);
    padding-top: rem(6px);
  }

  &__channelname {
    @include media(">=desktop") {}
    color: #ff5310;
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(18px);
    padding-top: rem(6px);
  }

  &__blogname {
    color: get-color("black");
    cursor: pointer;
    font-size: rem(18px);
    font-weight: 400;
    line-height: rem(22px);
    padding-top: rem(5px);
    @include media(">=desktop") {
      font-size: rem(21px);
      line-height: rem(32px);
    }
  }
}
