 /* Aliases  */
$label-label-xs-semibold-font-size: $font-size-50;
$label-label-xs-semibold-font-weight: $font-weight-semibold;
$label-label-xs-semibold-line-height: $line-height-100;
$label-label-xs-semibold-letter-spacing: $letter-spacing-xxl;

