.vida-order-card-details {
  +.vida-order-card-details {
    margin-top: rem(30px);
  }

  .vida-card {
    &__container {
      border: none;
      border-radius: 0;
      box-shadow: none;
    }

    &__warning {
      margin-top: rem(20px);
    }

    &__data {
      &-info {
        color: get-color("orange");
        margin-bottom: rem(5px);
      }

      .cancel-info {
        border: 1px solid get-color("disclaimer-red");
        border-radius: rem(16px);
        display: flex;
        gap: rem(8px);
        justify-content: flex-start;
        margin-top: rem(24px);
        max-width: 100%;
        padding: rem(12px) rem(16px);
        @include media(">=desktop") {
          justify-content: space-between;
          max-width: rem(420px);
        }

        .info-image-wrapper {
          height: 24px;
          width: 24px;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .info-msg {
          @include vida-desk-body-1;
          color: get-color("disclaimer-red");
          line-height: rem(24px);

          span {
            font-weight: 500;
          }
        }
      }
    }

    &__button-container {
      .btn--secondary {
        @include media("<tablet") {
          margin-top: 0;
        }
      }
    }
  }

  .notification {
    margin-top: rem(20px);
  }
}
