/* Font declarations for PP Neue Montreal */

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/Variable/PPNeueMontreal-Variable.woff2') format('woff2-variations');
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/Variable/PPNeueMontreal-Variable.woff2') format('woff2-variations');
  font-weight: 300 800;
  font-style: italic;
  font-display: swap;
} 