 /* Variables  */
$brand-100-mode-1: #FFDDCFFF;
$brand-200-mode-1: #FFBA9FFF;
$brand-300-mode-1: #FF9870FF;
$brand-400-mode-1: #FF7540FF;
$brand-500-mode-1: #FF5310FF;
$brand-600-mode-1: #CC420DFF;
$brand-700-mode-1: #99320AFF;
$brand-800-mode-1: #662106FF;
$brand-900-mode-1: #331103FF;
$neutral-50-mode-1: #FFFFFFFF;
$neutral-100-mode-1: #F4F4F4FF;
$neutral-150-mode-1: #EAEAEAFF;
$neutral-200-mode-1: #DFDFDFFF;
$neutral-250-mode-1: #D4D4D4FF;
$neutral-300-mode-1: #C9C9C9FF;
$neutral-350-mode-1: #BDBDBDFF;
$neutral-400-mode-1: #A7A6A6FF;
$neutral-450-mode-1: #9B9A9AFF;
$neutral-500-mode-1: #8F8E8EFF;
$neutral-550-mode-1: #838282FF;
$neutral-600-mode-1: #767575FF;
$neutral-650-mode-1: #696767FF;
$neutral-700-mode-1: #5C5A5AFF;
$neutral-750-mode-1: #4E4C4CFF;
$neutral-800-mode-1: #3F3D3DFF;
$neutral-850-mode-1: #2E2C2CFF;
$neutral-900-mode-1: #1D1B1BFF;
$cyan-100-mode-1: #CCFBFFFF;
$cyan-200-mode-1: #99F8FFFF;
$cyan-300-mode-1: #66F4FFFF;
$cyan-400-mode-1: #33F1FFFF;
$cyan-500-mode-1: #00EDFFFF;
$cyan-600-mode-1: #00BECCFF;
$cyan-700-mode-1: #008E99FF;
$cyan-800-mode-1: #005F66FF;
$cyan-900-mode-1: #002F33FF;
$red-100-mode-1: #FFCCCCFF;
$red-200-mode-1: #FF9999FF;
$red-300-mode-1: #FF6666FF;
$red-400-mode-1: #FF3333FF;
$red-500-mode-1: #FF0000FF;
$red-600-mode-1: #CC0000FF;
$red-700-mode-1: #990000FF;
$red-800-mode-1: #660000FF;
$red-900-mode-1: #330000FF;
$yellow-100-mode-1: #FFF2CFFF;
$yellow-200-mode-1: #FFE49FFF;
$yellow-300-mode-1: #FFD770FF;
$yellow-400-mode-1: #FFC940FF;
$yellow-500-mode-1: #FFBC10FF;
$yellow-600-mode-1: #CC960DFF;
$yellow-700-mode-1: #99710AFF;
$yellow-800-mode-1: #664B06FF;
$yellow-900-mode-1: #332603FF;
$green-100-mode-1: #CCF9DEFF;
$green-200-mode-1: #99F3BDFF;
$green-300-mode-1: #66EC9CFF;
$green-400-mode-1: #33E67BFF;
$green-500-mode-1: #00E05AFF;
$green-600-mode-1: #00B348FF;
$green-700-mode-1: #008636FF;
$green-800-mode-1: #005A24FF;
$green-900-mode-1: #002D12FF;
$blue-100-mode-1: #DDE4F6FF;
$blue-200-mode-1: #BAC9EEFF;
$blue-300-mode-1: #98ADE5FF;
$blue-400-mode-1: #7592DDFF;
$blue-500-mode-1: #5377D4FF;
$blue-600-mode-1: #425FAAFF;
$blue-700-mode-1: #32477FFF;
$blue-800-mode-1: #213055FF;
$blue-900-mode-1: #11182AFF;
$transparent-black-50-mode-1: #1D1B1B80;
$transparent-white-50-mode-1: #FFFFFF80;
$font-size-700-mode-1: 40px;
$font-size-500-mode-1: 24px;
$font-size-400-mode-1: 20px;
$font-size-300-mode-1: 16px;
$letter-spacing-xl-mode-1: 0.25px;
$letter-spacing-l-mode-1: 0.15px;
$letter-spacing-m-mode-1: 0.1px;
$letter-spacing-s-mode-1: 0px;
$font-size-200-mode-1: 14px;
$letter-spacing-xs-mode-1: -0.25px;
$font-weight-semibold-mode-1: 600px;
$font-weight-medium-mode-1: 500px;
$font-weight-regular-mode-1: 450px;
$font-weight-light-mode-1: 300px;
$line-height-1100-mode-1: 72px;
$line-height-900-mode-1: 56px;
$font-size-100-mode-1: 12px;
$letter-spacing-xxl-mode-1: 0.4px;
$line-height-700-mode-1: 40px;
$line-height-300-mode-1: 20px;
$font-weight-book-mode-1: 400px;
$line-height-1000-mode-1: 64px;
$font-size-600-mode-1: 32px;
$line-height-200-mode-1: 18px;
$line-height-600-mode-1: 32px;
$font-weight-bold-mode-1: 800px;
$line-height-400-mode-1: 24px;
$line-height-100-mode-1: 14px;
$font-size-900-mode-1: 60px;
$font-size-1000-mode-1: 72px;
$font-size-800-mode-1: 48px;
$line-height-800-mode-1: 48px;
$font-size-1200-mode-1: 96px;
$font-size-1400-mode-1: 120px;
$font-size-1300-mode-1: 108px;
$font-size-1100-mode-1: 84px;
$font-size-1500-mode-1: 132px;
$line-height-1400-mode-1: 96px;
$line-height-1200-mode-1: 80px;
$line-height-1300-mode-1: 88px;
$line-height-1500-mode-1: 104px;
$line-height-1600-mode-1: 112px;
$space-2xl-mode-1: 32px;
$space-m-mode-1: 12px;
$space-2xs-mode-1: 4px;
$space-12xl-mode-1: 112px;
$space-4xl-mode-1: 48px;
$space-6xl-mode-1: 64px;
$space-11xl-mode-1: 104px;
$space-9xl-mode-1: 88px;
$space-8xl-mode-1: 80px;
$space-l-mode-1: 16px;
$space-s-mode-1: 8px;
$space-3xs-mode-1: 2px;
$space-xl-mode-1: 24px;
$space-7xl-mode-1: 72px;
$space-10xl-mode-1: 96px;
$space-3xl-mode-1: 40px;
$space-5xl-mode-1: 56px;
$width-l-mode-1: 4px;
$width-xl-mode-1: 8px;
$radius-xs-mode-1: 4px;
$radius-s-mode-1: 8px;
$radius-m-mode-1: 12px;
$radius-l-mode-1: 16px;
$width-xs-mode-1: 1px;
$radius-pill-mode-1: 999px;
$width-s-mode-1: 1.5px;
$width-m-mode-1: 2px;
$radius-circle-mode-1: 50px;
$breakpoint-s-mode-1: 393px;
$breakpoint-m-mode-1: 768px;
$breakpoint-l-mode-1: 1024px;
$breakpoint-xl-mode-1: 1440px;
$font-size-50-mode-1: 10px;
$opacity-false: 100px;
$opacity-true: 40px;
$line-height-500-mode-1: 28px;
$radio-innerfill-hover: #FFFFFFFF;
$space-xs-mode-1: 6px;
$swtichon-on: 0px;
$swtichoff-off: 0px;
$swtichoff-on: 100px;
$tab-strokewidth-off: 0px;
$transparent-black-0-mode-1: #1D1B1B00;
$transparent-white-0-mode-1: #FFFFFF00;
$radius-xxs-mode-1: 2px;
$space-15xl-mode-1: 134px;
$space-20xl-mode-1: 174px;
$space-25xl-mode-1: 214px;
$space-50xl-mode-1: 414px;
$space-37xl-mode-1: 310px;
$radius-0-mode-1: 0px;
$dropdown-iconvisbility-default: 100px;
$dropdown-iconvisbility-hover: 100px;
$dropdown-iconvisbility-pressed: 0px;
$tab-strokeweight-default: 0px;

 /* Aliases  */
$content-primary-mode-1: $neutral-900;
$content-secondary-mode-1: $neutral-800;
$content-tertiary-mode-1: $neutral-700;
$content-primary-inverse-mode-1: $neutral-50;
$content-secondary-inverse-mode-1: $neutral-200;
$content-tertiary-inverse-mode-1: $neutral-400;
$content-disabled-mode-1: $neutral-400;
$content-brand-mode-1: $brand-500;
$content-link-mode-1: $brand-500;
$content-link-hover-mode-1: $brand-600;
$content-link-pressed-mode-1: $brand-700;
$content-notice-mode-1: $yellow-400;
$content-notice-bold-mode-1: $yellow-600;
$content-negative-mode-1: $red-500;
$content-negative-bold-mode-1: $red-600;
$content-positive-mode-1: $green-600;
$content-positive-bold-mode-1: $green-800;
$background-primary-mode-1: $neutral-50;
$background-hover-mode-1: $neutral-100;
$background-selected-mode-1: $brand-100;
$background-disabled-mode-1: $neutral-100;
$background-primaryinverse-mode-1: $neutral-900;
$background-brand-mode-1: $brand-500;
$background-brand-hover-mode-1: $brand-600;
$background-brand-pressed-mode-1: $brand-700;
$background-info-mode-1: $blue-500;
$background-info-subtle-mode-1: $blue-100;
$background-notice-mode-1: $yellow-500;
$background-notice-subtle-mode-1: $yellow-100;
$background-negative-mode-1: $red-500;
$background-negative-subtle-mode-1: $red-100;
$background-positive-mode-1: $green-600;
$background-positive-subtle-mode-1: $green-100;
$border-primary-mode-1: $neutral-600;
$border-secondary-mode-1: $neutral-400;
$border-tertiary-mode-1: $neutral-200;
$border-disabled-mode-1: $neutral-300;
$border-inverse-mode-1: $neutral-50;
$border-brand-mode-1: $brand-500;
$border-focus-mode-1: $brand-600;
$border-info-mode-1: $blue-500;
$border-notice-mode-1: $yellow-500;
$border-negative-mode-1: $red-500;
$border-positive-mode-1: $green-600;
$surface-l0-mode-1: $neutral-50;
$surface-l1-mode-1: $neutral-50;
$surface-l2-mode-1: $neutral-50;
$surface-l3-mode-1: $neutral-50;
$surface-l4-mode-1: $neutral-50;
$surface-l5-mode-1: $neutral-50;
$surface-l6-mode-1: $neutral-50;
$overlay-50-mode-1: $transparent-black-50;
$overlay-50-inverse-mode-1: $transparent-white-50;
$heading-heading-4xl-font-size-desktop: $font-size-1100;
$heading-heading-4xl-font-size-mobile: $font-size-1000;
$heading-heading-4xl-line-height-desktop: $line-height-1300;
$heading-heading-4xl-line-height-mobile: $line-height-1200;
$heading-heading-4xl-font-weight-desktop: $font-weight-semibold;
$heading-heading-4xl-font-weight-mobile: $font-weight-semibold;
$heading-heading-l-font-size-desktop: $font-size-700;
$heading-heading-l-font-size-mobile: $font-size-600;
$heading-heading-l-font-weight-desktop: $font-weight-semibold;
$heading-heading-l-font-weight-mobile: $font-weight-semibold;
$heading-heading-l-line-height-desktop: $line-height-800;
$heading-heading-l-line-height-mobile: $line-height-700;
$heading-heading-3xl-font-size-desktop: $font-size-1000;
$heading-heading-3xl-font-size-mobile: $font-size-900;
$heading-heading-3xl-font-weight-desktop: $font-weight-semibold;
$heading-heading-3xl-font-weight-mobile: $font-weight-semibold;
$heading-heading-3xl-line-height-desktop: $line-height-1100;
$heading-heading-3xl-line-height-mobile: $line-height-900;
$heading-heading-m-font-size-desktop: $font-size-600;
$heading-heading-m-font-size-mobile: $font-size-500;
$heading-heading-m-font-weight-desktop: $font-weight-semibold;
$heading-heading-m-font-weight-mobile: $font-weight-semibold;
$heading-heading-m-line-height-desktop: $line-height-700;
$heading-heading-m-line-height-mobile: $line-height-600;
$heading-heading-2xl-font-size-desktop: $font-size-900;
$heading-heading-2xl-font-size-mobile: $font-size-800;
$heading-heading-2xl-font-weight-desktop: $font-weight-semibold;
$heading-heading-2xl-font-weight-mobile: $font-weight-semibold;
$heading-heading-2xl-line-height-desktop: $line-height-1100;
$heading-heading-2xl-line-height-mobile: $line-height-900;
$heading-heading-s-font-size-desktop: $font-size-500;
$heading-heading-s-font-size-mobile: $font-size-400;
$heading-heading-s-font-weight-desktop: $font-weight-semibold;
$heading-heading-s-font-weight-mobile: $font-weight-semibold;
$heading-heading-s-line-height-desktop: $line-height-600;
$heading-heading-s-line-height-mobile: $line-height-400;
$heading-heading-4xl-letter-spacing-desktop: $letter-spacing-xs;
$heading-heading-4xl-letter-spacing-mobile: $letter-spacing-xs;
$heading-heading-l-letter-spacing-desktop: $letter-spacing-xs;
$heading-heading-l-letter-spacing-mobile: $letter-spacing-xs;
$heading-heading-3xl-letter-spacing-desktop: $letter-spacing-xs;
$heading-heading-3xl-letter-spacing-mobile: $letter-spacing-xs;
$heading-heading-m-letter-spacing-desktop: $letter-spacing-s;
$heading-heading-m-letter-spacing-mobile: $letter-spacing-s;
$heading-heading-2xl-letter-spacing-desktop: $letter-spacing-m;
$heading-heading-2xl-letter-spacing-mobile: $letter-spacing-m;
$heading-heading-s-letter-spacing-desktop: $letter-spacing-m;
$heading-heading-s-letter-spacing-mobile: $letter-spacing-m;
$body-body-xl-regular-font-size-desktop: $font-size-500;
$body-body-xl-regular-font-size-mobile: $font-size-400;
$body-body-xl-regular-font-weight-desktop: $font-weight-book;
$body-body-xl-regular-font-weight-mobile: $font-weight-book;
$body-body-xl-regular-line-height-desktop: $line-height-600;
$body-body-xl-regular-line-height-mobile: $line-height-500;
$body-body-xl-regular-letter-spacing-desktop: $letter-spacing-m;
$body-body-xl-regular-letter-spacing-mobile: $letter-spacing-m;
$body-body-l-regular-font-size-desktop: $font-size-400;
$body-body-l-regular-font-size-mobile: $font-size-300;
$body-body-l-regular-font-weight-desktop: $font-weight-book;
$body-body-l-regular-font-weight-mobile: $font-weight-book;
$body-body-l-regular-line-height-desktop: $line-height-500;
$body-body-l-regular-line-height-mobile: $line-height-400;
$body-body-l-regular-letter-spacing-desktop: $letter-spacing-l;
$body-body-l-regular-letter-spacing-mobile: $letter-spacing-l;
$body-body-m-regular-font-size-desktop: $font-size-300;
$body-body-m-regular-font-size-mobile: $font-size-200;
$body-body-m-regular-font-weight-desktop: $font-weight-book;
$body-body-m-regular-font-weight-mobile: $font-weight-book;
$body-body-m-regular-line-height-desktop: $line-height-400;
$body-body-m-regular-line-height-mobile: $line-height-300;
$body-body-m-regular-letter-spacing-desktop: $letter-spacing-xl;
$body-body-m-regular-letter-spacing-mobile: $letter-spacing-xl;
$body-body-s-regular-font-size-desktop: $font-size-200;
$body-body-s-regular-font-size-mobile: $font-size-100;
$body-body-s-regular-font-weight-desktop: $font-weight-book;
$body-body-s-regular-font-weight-mobile: $font-weight-book;
$body-body-s-regular-line-height-desktop: $line-height-300;
$body-body-s-regular-line-height-mobile: $line-height-200;
$body-body-s-regular-letter-spacing-desktop: $letter-spacing-xl;
$body-body-s-regular-letter-spacing-mobile: $letter-spacing-xl;
$body-body-xs-regular-font-size-desktop: $font-size-100;
$body-body-xs-regular-font-size-mobile: $font-size-50;
$body-body-xs-regular-font-weight-desktop: $font-weight-book;
$body-body-xs-regular-font-weight-mobile: $font-weight-book;
$body-body-xs-regular-line-height-desktop: $line-height-300;
$body-body-xs-regular-line-height-mobile: $line-height-200;
$body-body-xs-regular-letter-spacing-desktop: $letter-spacing-xl;
$body-body-xs-regular-letter-spacing-mobile: $letter-spacing-xl;
$link-primary-cta-medium-font-size-desktop: $font-size-500;
$link-primary-cta-medium-font-size-mobile: $font-size-400;
$link-primary-cta-medium-font-weight-desktop: $font-weight-medium;
$link-primary-cta-medium-font-weight-mobile: $font-weight-medium;
$link-primary-cta-medium-line-height-desktop: $line-height-500;
$link-primary-cta-medium-line-height-mobile: $line-height-400;
$link-primary-cta-medium-letter-spacing-desktop: $letter-spacing-m;
$link-primary-cta-medium-letter-spacing-mobile: $letter-spacing-m;
$link-secondary-cta-medium-font-size-desktop: $font-size-400;
$link-secondary-cta-medium-font-size-mobile: $font-size-300;
$link-secondary-cta-medium-font-weight-desktop: $font-weight-medium;
$link-secondary-cta-medium-font-weight-mobile: $font-weight-medium;
$link-secondary-cta-medium-line-height-desktop: $line-height-400;
$link-secondary-cta-medium-line-height-mobile: $line-height-300;
$link-secondary-cta-medium-letter-spacing-desktop: $letter-spacing-l;
$link-secondary-cta-medium-letter-spacing-mobile: $letter-spacing-l;
$heading-heading-xl-font-size-desktop: $font-size-800;
$heading-heading-xl-font-size-mobile: $font-size-600;
$heading-heading-xl-font-weight-desktop: $font-weight-semibold;
$heading-heading-xl-font-weight-mobile: $font-weight-semibold;
$heading-heading-xl-line-height-desktop: $line-height-900;
$heading-heading-xl-line-height-mobile: $line-height-700;
$heading-heading-xl-letter-spacing-desktop: $letter-spacing-m;
$heading-heading-xl-letter-spacing-mobile: $letter-spacing-m;
$heading-heading-xs-font-size-desktop: $font-size-400;
$heading-heading-xs-font-size-mobile: $font-size-200;
$heading-heading-xs-font-weight-desktop: $font-weight-book;
$heading-heading-xs-font-weight-mobile: $font-weight-book;
$heading-heading-xs-line-height-desktop: $line-height-400;
$heading-heading-xs-line-height-mobile: $line-height-300;
$heading-heading-xs-letter-spacing-desktop: $letter-spacing-xl;
$heading-heading-xs-letter-spacing-mobile: $letter-spacing-xl;
$label-label-xl-medium-font-size-desktop: $font-size-700;
$label-label-xl-medium-font-size-mobile: $font-size-600;
$label-label-xl-medium-font-weight-desktop: $font-weight-medium;
$label-label-xl-medium-font-weight-mobile: $font-weight-medium;
$label-label-xl-medium-line-height-desktop: $line-height-800;
$label-label-xl-medium-line-height-mobile: $line-height-700;
$label-label-xl-medium-letter-spacing-desktop: $letter-spacing-s;
$label-label-xl-medium-letter-spacing-mobile: $letter-spacing-s;
$label-label-l-medium-font-size-desktop: $font-size-600;
$label-label-l-medium-font-size-mobile: $font-size-500;
$label-label-l-medium-font-weight-desktop: $font-weight-medium;
$label-label-l-medium-font-weight-mobile: $font-weight-medium;
$label-label-l-medium-line-height-desktop: $line-height-700;
$label-label-l-medium-line-height-mobile: $line-height-600;
$label-label-l-medium-letter-spacing-desktop: $letter-spacing-m;
$label-label-l-medium-letter-spacing-mobile: $letter-spacing-m;
$label-label-m-medium-font-size-desktop: $font-size-400;
$label-label-m-medium-font-size-mobile: $font-size-300;
$label-label-m-medium-font-weight-desktop: $font-weight-medium;
$label-label-m-medium-font-weight-mobile: $font-weight-medium;
$label-label-m-medium-line-height-desktop: $line-height-400;
$label-label-m-medium-line-height-mobile: $line-height-300;
$label-label-m-medium-letter-spacing-desktop: $letter-spacing-m;
$label-label-m-medium-letter-spacing-mobile: $letter-spacing-m;
$label-label-s-medium-font-size-desktop: $font-size-300;
$label-label-s-medium-font-size-mobile: $font-size-200;
$label-label-s-medium-font-weight-desktop: $font-weight-medium;
$label-label-s-medium-font-weight-mobile: $font-weight-medium;
$label-label-s-medium-line-height-desktop: $line-height-300;
$label-label-s-medium-line-height-mobile: $line-height-200;
$label-label-s-medium-letter-spacing-desktop: $letter-spacing-xl;
$label-label-s-medium-letter-spacing-mobile: $letter-spacing-xl;
$label-label-xs-medium-font-size-desktop: $font-size-100;
$label-label-xs-medium-font-size-mobile: $font-size-50;
$label-label-xs-medium-font-weight-desktop: $font-weight-medium;
$label-label-xs-medium-font-weight-mobile: $font-weight-medium;
$label-label-xs-medium-line-height-desktop: $line-height-100;
$label-label-xs-medium-line-height-mobile: $line-height-100;
$label-label-xs-medium-letter-spacing-desktop: $letter-spacing-xxl;
$label-label-xs-medium-letter-spacing-mobile: $letter-spacing-xxl;
$heading-heading-2xs-font-size-desktop: $font-size-200;
$heading-heading-2xs-font-size-mobile: $font-size-100;
$heading-heading-2xs-font-weight-desktop: $font-weight-semibold;
$heading-heading-2xs-font-weight-mobile: $font-weight-semibold;
$heading-heading-2xs-line-height-desktop: $line-height-300;
$heading-heading-2xs-line-height-mobile: $line-height-200;
$heading-heading-2xs-letter-spacing-desktop: $letter-spacing-xxl;
$heading-heading-2xs-letter-spacing-mobile: $letter-spacing-xxl;
$heading-heading-5xl-font-size-desktop: $font-size-1300;
$heading-heading-5xl-font-size-mobile: $font-size-1200;
$heading-heading-5xl-font-weight-desktop: $font-weight-semibold;
$heading-heading-5xl-font-weight-mobile: $font-weight-semibold;
$heading-heading-5xl-line-height-desktop: $line-height-1500;
$heading-heading-5xl-line-height-mobile: $line-height-1400;
$heading-heading-5xl-letter-spacing-desktop: $letter-spacing-xs;
$heading-heading-5xl-letter-spacing-mobile: $letter-spacing-xs;
$link-tertiary-cta-medium-font-size-desktop: $font-size-300;
$link-tertiary-cta-medium-font-size-mobile: $font-size-200;
$link-tertiary-cta-medium-font-weight-desktop: $font-weight-medium;
$link-tertiary-cta-medium-font-weight-mobile: $font-weight-medium;
$link-tertiary-cta-medium-line-height-desktop: $line-height-300;
$link-tertiary-cta-medium-line-height-mobile: $line-height-200;
$link-tertiary-cta-medium-letter-spacing-desktop: $letter-spacing-xl;
$link-tertiary-cta-medium-letter-spacing-mobile: $letter-spacing-xl;
$link-small-link-text-medium-font-size-desktop: $font-size-200;
$link-small-link-text-medium-font-size-mobile: $font-size-100;
$link-small-link-text-medium-font-weight-desktop: $font-weight-medium;
$link-small-link-text-medium-font-weight-mobile: $font-weight-medium;
$link-small-link-text-medium-line-height-desktop: $line-height-200;
$link-small-link-text-medium-line-height-mobile: $line-height-200;
$link-small-link-text-medium-letter-spacing-desktop: $letter-spacing-xxl;
$link-small-link-text-medium-letter-spacing-mobile: $letter-spacing-xxl;
$fill-dark: $button-dark-fill;
$fill-light: $button-light-fill;
$fill-link: $link-fill;
$text-color-dark: $textcolor-dark;
$text-color-light: $button-light-textcolor;
$text-color-link: $textcolor-link;
$button-horzontalpadding-s: $space-m;
$button-horzontalpadding-m: $space-l;
$button-horzontalpadding-l: $space-xl;
$button-verticalpadding-s: $space-s;
$button-verticalpadding-m: $space-m;
$button-verticalpadding-l: $space-l;
$button-fontsize-s: $label-label-s-semibold-font-size;
$button-fontsize-m: $label-label-m-medium-font-size;
$button-fontsize-l: $label-label-l-medium-font-size;
$button-lineheight-s: $label-label-s-medium-line-height;
$button-lineheight-m: $label-label-m-medium-line-height;
$button-lineheight-l: $label-label-l-medium-line-height;
$button-dark-fill-default: $button-defaultfill;
$button-dark-fill-hover: $button-hoverfill;
$button-dark-fill-pressed: $button-pressedfill;
$button-dark-stroke-default: $border-brand;
$button-dark-stroke-hover: $border-focus;
$button-dark-stroke-pressed: $border-focus;
$button-light-fill-default: $button-light-defaultfill;
$button-light-fill-hover: $button-light-hoverfill;
$button-light-fill-pressed: $button-light-pressedfill;
$button-light-stroke-default: $border-brandlight;
$button-light-stroke-hover: $border-brandlight-hover;
$button-light-stroke-pressed: $border-brandlight-pressed;
$content-brand-focus-mode-1: $brand-600;
$body-body-xl-semibold-font-size-desktop: $font-size-500;
$body-body-xl-semibold-font-size-mobile: $font-size-400;
$body-body-xl-semibold-font-weight-desktop: $font-weight-semibold;
$body-body-xl-semibold-font-weight-mobile: $font-weight-semibold;
$body-body-xl-semibold-line-height-desktop: $line-height-600;
$body-body-xl-semibold-line-height-mobile: $line-height-500;
$body-body-xl-semibold-letter-spacing-desktop: $letter-spacing-m;
$body-body-xl-semibold-letter-spacing-mobile: $letter-spacing-m;
$body-body-l-semibold-font-size-desktop: $font-size-400;
$body-body-l-semibold-font-size-mobile: $font-size-300;
$body-body-l-semibold-font-weight-desktop: $font-weight-semibold;
$body-body-l-semibold-font-weight-mobile: $font-weight-semibold;
$body-body-l-semibold-line-height-desktop: $line-height-500;
$body-body-l-semibold-line-height-mobile: $line-height-400;
$body-body-l-semibold-letter-spacing-desktop: $letter-spacing-l;
$body-body-l-semibold-letter-spacing-mobile: $letter-spacing-l;
$body-body-m-semibold-font-size-desktop: $font-size-300;
$body-body-m-semibold-font-size-mobile: $font-size-200;
$body-body-m-semibold-font-weight-desktop: $font-weight-semibold;
$body-body-m-semibold-font-weight-mobile: $font-weight-semibold;
$body-body-m-semibold-line-height-desktop: $line-height-400;
$body-body-m-semibold-line-height-mobile: $line-height-300;
$body-body-m-semibold-letter-spacing-desktop: $letter-spacing-xl;
$body-body-m-semibold-letter-spacing-mobile: $letter-spacing-xl;
$body-body-s-semibold-font-size-desktop: $font-size-200;
$body-body-s-semibold-font-size-mobile: $font-size-100;
$body-body-s-semibold-font-weight-desktop: $font-weight-semibold;
$body-body-s-semibold-font-weight-mobile: $font-weight-semibold;
$body-body-s-semibold-line-height-desktop: $line-height-300;
$body-body-s-semibold-line-height-mobile: $line-height-200;
$body-body-s-semibold-letter-spacing-desktop: $letter-spacing-xl;
$body-body-s-semibold-letter-spacing-mobile: $letter-spacing-xl;
$body-body-xs-semibold-font-size-desktop: $font-size-100;
$body-body-xs-semibold-font-size-mobile: $font-size-50;
$body-body-xs-semibold-font-weight-desktop: $font-weight-semibold;
$body-body-xs-semibold-font-weight-mobile: $font-weight-semibold;
$body-body-xs-semibold-line-height-desktop: $line-height-300;
$body-body-xs-semibold-line-height-mobile: $line-height-200;
$body-body-xs-semibold-letter-spacing-desktop: $letter-spacing-xl;
$body-body-xs-semibold-letter-spacing-mobile: $letter-spacing-xl;
$label-label-xl-semibold-font-size-desktop: $font-size-700;
$label-label-xl-semibold-font-size-mobile: $font-size-600;
$label-label-xl-semibold-font-weight-desktop: $font-weight-semibold;
$label-label-xl-semibold-font-weight-mobile: $font-weight-semibold;
$label-label-xl-semibold-line-height-desktop: $line-height-800;
$label-label-xl-semibold-line-height-mobile: $line-height-700;
$label-label-xl-semibold-letter-spacing-desktop: $letter-spacing-s;
$label-label-xl-semibold-letter-spacing-mobile: $letter-spacing-s;
$label-label-l-semibold-font-size-desktop: $font-size-600;
$label-label-l-semibold-font-size-mobile: $font-size-500;
$label-label-l-semibold-font-weight-desktop: $font-weight-semibold;
$label-label-l-semibold-font-weight-mobile: $font-weight-semibold;
$label-label-l-semibold-line-height-desktop: $line-height-700;
$label-label-l-semibold-line-height-mobile: $line-height-600;
$label-label-l-semibold-letter-spacing-desktop: $letter-spacing-m;
$label-label-l-semibold-letter-spacing-mobile: $letter-spacing-m;
$label-label-m-semibold-font-size-desktop: $font-size-400;
$label-label-m-semibold-font-size-mobile: $font-size-300;
$label-label-m-semibold-font-weight-desktop: $font-weight-semibold;
$label-label-m-semibold-font-weight-mobile: $font-weight-semibold;
$label-label-m-semibold-line-height-desktop: $line-height-400;
$label-label-m-semibold-line-height-mobile: $line-height-300;
$label-label-m-semibold-letter-spacing-desktop: $letter-spacing-m;
$label-label-m-semibold-letter-spacing-mobile: $letter-spacing-m;
$label-label-s-semibold-font-size-desktop: $font-size-300;
$label-label-s-semibold-font-size-mobile: $font-size-200;
$label-label-s-semibold-font-weight-desktop: $font-weight-semibold;
$label-label-s-semibold-font-weight-mobile: $font-weight-semibold;
$label-label-s-semibold-line-height-desktop: $line-height-300;
$label-label-s-semibold-line-height-mobile: $line-height-200;
$label-label-s-semibold-letter-spacing-desktop: $letter-spacing-xl;
$label-label-s-semibold-letter-spacing-mobile: $letter-spacing-xl;
$label-label-xs-semibold-font-size-desktop: $font-size-100;
$label-label-xs-semibold-font-size-mobile: $font-size-50;
$label-label-xs-semibold-font-weight-desktop: $font-weight-semibold;
$label-label-xs-semibold-font-weight-mobile: $font-weight-semibold;
$label-label-xs-semibold-line-height-desktop: $line-height-100;
$label-label-xs-semibold-line-height-mobile: $line-height-100;
$label-label-xs-semibold-letter-spacing-desktop: $letter-spacing-xxl;
$label-label-xs-semibold-letter-spacing-mobile: $letter-spacing-xxl;
$link-primary-cta-semibold-font-size-desktop: $font-size-500;
$link-primary-cta-semibold-font-size-mobile: $font-size-400;
$link-primary-cta-semibold-font-weight-desktop: $font-weight-semibold;
$link-primary-cta-semibold-font-weight-mobile: $font-weight-semibold;
$link-primary-cta-semibold-line-height-desktop: $line-height-500;
$link-primary-cta-semibold-line-height-mobile: $line-height-400;
$link-primary-cta-semibold-letter-spacing-desktop: $letter-spacing-m;
$link-primary-cta-semibold-letter-spacing-mobile: $letter-spacing-m;
$input-fill-default: $background-primary;
$input-fill-hover: $background-hover;
$input-fill-pressed: $border-inverse;
$input-stroke-default: $border-tertiary;
$input-stroke-hover: $border-secondary;
$input-stroke-pressed: $border-secondary;
$input-text-color-default: $content-secondary-inverse;
$input-text-color-hover: $content-tertiary-inverse;
$input-text-color-pressed: $content-tertiary-inverse;
$link-fill-default: $link-pressedfill;
$link-fill-hover: $link-hoverfill;
$link-fill-pressed: $link-defaultfill;
$link-stroke-default: $border-transparent;
$link-stroke-hover: $border-transparent;
$link-stroke-pressed: $border-transparent;
$link-secondary-cta-semibold-font-size-desktop: $font-size-400;
$link-secondary-cta-semibold-font-size-mobile: $font-size-300;
$link-secondary-cta-semibold-font-weight-desktop: $font-weight-semibold;
$link-secondary-cta-semibold-font-weight-mobile: $font-weight-semibold;
$link-secondary-cta-semibold-line-height-desktop: $line-height-400;
$link-secondary-cta-semibold-line-height-mobile: $line-height-300;
$link-secondary-cta-semibold-letter-spacing-desktop: $letter-spacing-l;
$link-secondary-cta-semibold-letter-spacing-mobile: $letter-spacing-l;
$link-tertiary-cta-semibold-font-size-desktop: $font-size-300;
$link-tertiary-cta-semibold-font-size-mobile: $font-size-200;
$link-tertiary-cta-semibold-font-weight-desktop: $font-weight-semibold;
$link-tertiary-cta-semibold-font-weight-mobile: $font-weight-semibold;
$link-tertiary-cta-semibold-line-height-desktop: $line-height-300;
$link-tertiary-cta-semibold-line-height-mobile: $line-height-200;
$link-tertiary-cta-semibold-letter-spacing-desktop: $letter-spacing-xl;
$link-tertiary-cta-semibold-letter-spacing-mobile: $letter-spacing-xl;
$link-small-link-text-semibold-font-size-desktop: $font-size-200;
$link-small-link-text-semibold-font-size-mobile: $font-size-100;
$link-small-link-text-semibold-font-weight-desktop: $font-weight-semibold;
$link-small-link-text-semibold-font-weight-mobile: $font-weight-semibold;
$link-small-link-text-semibold-line-height-desktop: $line-height-200;
$link-small-link-text-semibold-line-height-mobile: $line-height-200;
$link-small-link-text-semibold-letter-spacing-desktop: $letter-spacing-xxl;
$link-small-link-text-semibold-letter-spacing-mobile: $letter-spacing-xxl;
$background-tertiary-mode-1: $brand-100;
$background-tertiaryhover-mode-1: $brand-200;
$background-tertiarypressed-mode-1: $brand-300;
$radio-fill-default: $background-primary;
$radio-fill-hover: $background-selected;
$radio-fill-pressed: $background-selected;
$radio-stroke-default: $border-tertiary;
$radio-stroke-hover: $background-brand;
$radio-stroke-pressed: $border-brand;
$radio-inner-s: $space-2xs;
$radio-inner-m: $space-xs;
$radio-inner-l: $space-s;
$radio-text-color-default: $content-tertiary;
$radio-text-color-hover: $content-primary;
$radio-text-color-pressed: $content-primary;
$radio-innerfill-default: $background-primary;
$radio-innerfill-pressed: $background-brand;
$radio-outer-s: $space-s;
$radio-outer-m: $space-m;
$radio-outer-l: $space-l;
$toggle-buttonradius-s: $space-m;
$toggle-buttonradius-m: $space-l;
$toggle-buttonradius-l: $space-xl;
$toggle-buttonouterradius-s: $space-3xs;
$toggle-buttonouterradius-m: $space-2xs;
$toggle-buttonouterradius-l: $space-s;
$radio-spacing-s: $space-2xs;
$radio-spacing-m: $space-xs;
$radio-spacing-l: $space-s;
$swtichon-off: $radius-xxs;
$switch-innerfill-default: $background-primaryinverse;
$switch-innerfill-hover: $background-selected;
$switch-innerfill-pressed: $background-brand;
$switch-stroke-default: $background-primaryinverse;
$switch-stroke-hover: $background-selected;
$switch-stroke-pressed: $background-brand;
$toggle-innerfill-off: $background-primary;
$toggle-innerfill-on: $background-primary;
$toggle-stroke-off: $border-secondary;
$toggle-stroke-on: $background-brand;
$toggle-fill-off: $background-secondary-pressed;
$toggle-fill-on: $background-brand;
$background-secondary-mode-1: $neutral-200;
$tab-textfill-off: $content-secondary;
$tab-textfill-on: $content-primary;
$tab-stroke-off: $background-primary;
$tab-stroke-on: $background-brand;
$tab-strokewidth-on: $width-m;
$tab-fontweight-off: $font-weight-book;
$tab-fontweight-on: $font-weight-semibold;
$tab-backgrounddefault-light: $background-transparent;
$tab-backgrounddefault-dark: $background-secondary50;
$tab-backgrounddefault-brand: $background-primary;
$tab-strokecolor-light: $border-brand;
$tab-strokecolor-dark: $border-inverse;
$tab-strokecolor-brand: $border-brand;
$tab-textcolor-light: $content-primary;
$tab-textcolor-dark: $content-primary-inverse;
$tab-textcolor-brand: $content-primary;
$tab-backgroundhover-light: $background-hover;
$tab-backgroundhover-dark: $background-secondaryinverse-hover;
$tab-backgroundhover-brand: $background-selected;
$tab-backgroundactive-light: $background-primary;
$tab-backgroundactive-dark: $background-secondary50;
$tab-backgroundactive-brand: $background-primary;
$tab-background-default: $tab-backgrounddefault;
$tab-background-hover: $tab-backgroundhover;
$tab-background-pressed: $tab-backgroundactive;
$tab-strokecolor-default: $tab-backgrounddefault;
$tab-strokecolor-hover: $tab-backgroundhover;
$tab-strokecolor-pressed: $tab-backgroundactive;
$background-secondary50-mode-1: $neutral-650;
$background-secondaryinverse-hover-mode-1: $neutral-550;
$background-transparent-mode-1: $transparent-white-0;
$border-transparent-mode-1: $transparent-white-0;
$border-brandlight-mode-1: $brand-100;
$border-brandlight-hover-mode-1: $brand-200;
$border-brandlight-pressed-mode-1: $brand-300;
$button-defaultfill-primary: $background-brand;
$button-defaultfill-secondary: $background-primaryinverse;
$button-defaultfill-tertiary: $background-transparent;
$button-defaultfill-destructive: $background-negative;
$button-hoverfill-primary: $background-brand-hover;
$button-hoverfill-secondary: $background-secondary50;
$button-hoverfill-tertiary: $background-transparent50;
$button-hoverfill-destructive: $background-negative-hover;
$button-pressedfill-primary: $background-brand-pressed;
$button-pressedfill-secondary: $background-primaryinverse;
$button-pressedfill-tertiary: $background-transparent;
$button-pressedfill-destructive: $background-negative-pressed;
$background-transparent50-mode-1: $transparent-white-50;
$background-negative-hover-mode-1: $red-600;
$background-negative-pressed-mode-1: $red-700;
$button-light-defaultfill-primary: $background-tertiary;
$button-light-defaultfill-secondary: $background-secondary;
$button-light-defaultfill-tertiary: $background-transparent;
$button-light-defaultfill-destructive: $background-negative-subtle;
$button-light-hoverfill-primary: $background-tertiaryhover;
$button-light-hoverfill-secondary: $background-secondary-hover;
$button-light-hoverfill-tertiary: $background-transparent;
$button-light-hoverfill-destructive: $background-negative-subtle-hover;
$button-light-pressedfill-primary: $background-tertiarypressed;
$button-light-pressedfill-secondary: $background-secondary-pressed;
$button-light-pressedfill-tertiary: $background-transparent;
$button-light-pressedfill-destructive: $background-negative-subtle-pressed;
$link-pressedfill-primary: $background-transparent;
$link-pressedfill-secondary: $background-transparent50;
$link-pressedfill-tertiary: $background-transparent;
$link-pressedfill-destructive: $background-transparent;
$link-hoverfill-primary: $background-transparent50;
$link-hoverfill-secondary: $background-transparent50;
$link-hoverfill-tertiary: $background-transparent;
$link-hoverfill-destructive: $background-transparent50;
$link-defaultfill-primary: $background-transparent;
$link-defaultfill-secondary: $background-transparent;
$link-defaultfill-tertiary: $background-transparent;
$link-defaultfill-destructive: $background-transparent;
$background-negative-subtle-hover-mode-1: $red-200;
$background-negative-subtle-pressed-mode-1: $red-300;
$background-secondary-hover-mode-1: $neutral-300;
$background-secondary-pressed-mode-1: $neutral-400;
$textcolor-dark-primary: $content-primary-inverse;
$textcolor-dark-secondary: $content-primary-inverse;
$textcolor-dark-tertiary: $content-secondary;
$textcolor-dark-destructive: $content-primary-inverse;
$textcolor-light-primary: $content-brand;
$textcolor-light-secondary: $content-secondary;
$textcolor-light-tertiary: $content-secondary;
$textcolor-light-destructive: $content-negative;
$textcolor-link-primary: $content-brand;
$textcolor-link-secondary: $content-secondary;
$textcolor-link-tertiary: $content-secondary;
$textcolor-link-destructive: $content-negative;
$checkbox-background-default: $background-hover;
$checkbox-background-hover: $background-secondary;
$checkbox-background-pressed: $background-brand;
$checkbox-strokecolor-default: $border-secondary;
$checkbox-strokecolor-hover: $border-brand;
$checkbox-strokecolor-pressed: $border-brand;
$checkbox-innercolor-default: $content-primary-inverse-light;
$checkbox-innercolor-hover: $content-secondary-inverse;
$checkbox-innercolor-pressed: $content-primary-inverse;
$checkbox-size-s: $space-l;
$checkbox-size-m: $space-xl;
$checkbox-size-l: $space-2xl;
$checkbox-spacing-s: $space-xs;
$checkbox-spacing-m: $space-s;
$checkbox-spacing-l: $space-s;
$checkbox-innersize-s: $space-xs;
$checkbox-innersize-m: $space-s;
$checkbox-innersize-l: $space-m;
$content-primary-inverse-light-mode-1: $neutral-100;
$dropdown-selector-selectorwidth-s: $space-25xl;
$dropdown-selector-selectorwidth-m: $space-37xl;
$dropdown-selector-selectorwidth-l: $space-50xl;
$dropdown-selector-stroke-default: $border-secondary;
$dropdown-selector-stroke-hover: $border-primary;
$dropdown-selector-stroke-pressed: $border-brand;
$dropdown-option-background-default: $background-primary;
$dropdown-option-background-hover: $background-selected;
$dropdown-option-background-pressed: $background-selected;
$dropdown-option-textcolor-default: $content-tertiary-inverse;
$dropdown-option-textcolor-hover: $content-secondary;
$dropdown-option-textcolor-pressed: $content-primary;
$button-light-textcolor-default: $textcolor-light;
$button-light-textcolor-hover: $textcolor-lighthover;
$button-light-textcolor-pressed: $textcolor-lighthover;
$textcolor-lighthover-primary: $content-primary-inverse;
$textcolor-lighthover-secondary: $content-primary-inverse;
$textcolor-lighthover-tertiary: $content-secondary;
$textcolor-lighthover-destructive: $content-primary-inverse;
$tab-horzontalpadding-s: $space-m;
$tab-horzontalpadding-m: $space-l;
$tab-horzontalpadding-l: $space-xl;
$tab-verticalpadding-s: $space-s;
$tab-verticalpadding-m: $space-m;
$tab-verticalpadding-l: $space-l;
$dropdown-background-default: $dropdown-backgrounddefault;
$dropdown-background-hover: $dropdown-backgroundhover;
$dropdown-background-pressed: $dropdown-backgroundactive;
$dropdown-strokecolor-default: $dropdown-textcolor;
$dropdown-strokecolor-hover: $dropdown-textcolorhover;
$dropdown-strokecolor-pressed: $dropdown-textcolorhover;
$dropdown-backgrounddefault-light: $background-primary;
$dropdown-backgrounddefault-dark: $background-secondary50;
$dropdown-backgrounddefault-brand: $background-primary;
$dropdown-backgroundhover-light: $background-hover;
$dropdown-backgroundhover-dark: $background-secondaryinverse-hover;
$dropdown-backgroundhover-brand: $background-selected;
$dropdown-backgroundactive-light: $background-primary;
$dropdown-backgroundactive-dark: $background-secondary50;
$dropdown-backgroundactive-brand: $background-primary;
$dropdown-textcolorhover-light: $border-brand;
$dropdown-textcolorhover-dark: $border-inverse;
$dropdown-textcolorhover-brand: $border-brand;
$dropdown-textcolor-light: $content-primary;
$dropdown-textcolor-dark: $content-primary-inverse;
$dropdown-textcolor-brand: $content-primary;
$navbar-fillcolor-light: $content-primary;
$navbar-fillcolor-dark: $content-primary-inverse;
$navbar-fillcolor-brand: $content-brand;
$navbar-background-light: $background-hover;
$navbar-background-dark: $background-secondary50;
$navbar-background-brand: $background-primary;
$navbar-maxwidth-s: $breakpoint-s;
$navbar-maxwidth-m: $breakpoint-l;
$navbar-maxwidth-l: $breakpoint-xl;
$tab-strokeweight-hover: $radius-xxs;
$tab-strokeweight-pressed: $radius-xxs;
$navbar-horzontalpadding-s: $space-xl;
$navbar-horzontalpadding-m: $space-3xl;
$navbar-horzontalpadding-l: $space-9xl;

