@import './PrimitiveTokens.scss';

 /***************SEMANTIC COLORS***************/
  
 /* Background   */

 $background-primary: $neutral-50;
 $background-hover: $neutral-100;
 $background-selected: $brand-100;
 $background-disabled: $neutral-100;
 $background-primaryinverse: $neutral-900;
 $background-brand: $brand-500;
 $background-brand-hover: $brand-600;
 $background-brand-pressed: $brand-700;
 $background-info: $blue-500;
 $background-info-subtle: $blue-100;
 $background-notice: $yellow-500;
 $background-notice-subtle: $yellow-100;
 $background-negative: $red-500;
 $background-negative-subtle: $red-100;
 $background-positive: $green-600;
 $background-positive-subtle: $green-100;
 $background-tertiary: $brand-100;
 $background-tertiaryhover: $brand-200;
 $background-tertiarypressed: $brand-300;
 $background-secondary: $neutral-200;
 $background-secondary50: $neutral-650;
 $background-secondaryinverse-hover: $neutral-550;
 $background-transparent: $transparent-white-0;
 $background-transparent50: $transparent-white-50;
 $background-negative-hover: $red-600;
 $background-negative-pressed: $red-700;
 $background-negative-subtle-hover: $red-200;
 $background-negative-subtle-pressed: $red-300;
 $background-secondary-hover: $neutral-300;
 $background-secondary-pressed: $neutral-400;

 /* Border  */
 $border-primary: $neutral-600;
 $border-secondary: $neutral-400;
 $border-tertiary: $neutral-200;
 $border-disabled: $neutral-300;
 $border-inverse: $neutral-50;
 $border-brand: $brand-500;
 $border-brand-hover: $brand-600;
 $border-brand-pressed: $brand-700;
 $border-focus: $brand-600;
 $border-info: $blue-500;
 $border-notice: $yellow-500;
 $border-negative: $red-500;
 $border-positive: $green-600;
 $border-transparent: $transparent-white-0;
 $border-brandlight: $brand-100;
 $border-brandlight-hover: $brand-200;
 $border-brandlight-pressed: $brand-300;
 
  /* Surface  */ 
$surface-l0: $neutral-50;
$surface-l1: $neutral-50;
$surface-l2: $neutral-50;
$surface-l3: $neutral-50;
$surface-l4: $neutral-50;
$surface-l5: $neutral-50;
$surface-l6: $neutral-50;

 /* Overlay  */ 
 $overlay-50: $transparent-black-50;
 $overlay-50-inverse: $transparent-white-50;

  /* Content  */
$content-primary: $neutral-900;
$content-secondary: $neutral-800;
$content-tertiary: $neutral-700;
$content-primary-inverse: $neutral-50;
$content-secondary-inverse: $neutral-200;
$content-tertiary-inverse: $neutral-400;
$content-disabled: $neutral-400;
$content-brand: $brand-500;
$content-link: $brand-500;
$content-link-hover: $brand-600;
$content-link-pressed: $brand-700;
$content-notice: $yellow-400;
$content-notice-bold: $yellow-600;
$content-negative: $red-500;
$content-negative-bold: $red-600;
$content-positive: $green-600;
$content-positive-bold: $green-800;
$content-brand-focus: $brand-600;
$content-primary-inverse-light: $neutral-100;

/***************SEMANTIC TYPOGRAPHY***************/


// Responsive breakpoints reference
@mixin respond-to($breakpoint) {
  @if $breakpoint == 'mobile' {
    @media (min-width: $breakpoint-s) {
      @content;
    }
  } @else if $breakpoint == 'tablet' {
    @media (min-width: $breakpoint-m) {
      @content;
    }
  } @else if $breakpoint == 'laptop' {
    @media (min-width: $breakpoint-l) {
      @content;
    }
  } @else if $breakpoint == 'desktop' {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}