.vida-navigation {
  height: rem(38px);
  @include media(">=desktop") {
    height: rem(53px);
  }



  .vida-navigation-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
    @include media(">=desktop") {
      justify-content: center;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__links {       
    color: get-color("solid-grey");
    font-size: rem(16px);
    padding: rem(10px);
    text-decoration: none;
    white-space: nowrap;

    @include media(">=desktop") {
      padding: rem(16px) rem(20px);
    }

    &:visited,
    &:active {
      color: get-color("solid-grey");
    }

    &:hover {
      border-bottom: 2px solid get-color("orange");
      color: get-color("orange");
      
    }
  }
}


