 /* Aliases  */
$label-label-m-semibold-font-size: $font-size-300;
$label-label-m-semibold-font-weight: $font-weight-semibold;
$label-label-m-semibold-line-height: $line-height-300;
$label-label-m-semibold-letter-spacing: $letter-spacing-m;

