 /* Aliases  */
$body-body-m-regular-font-size: $font-size-300;
$body-body-m-regular-font-weight: $font-weight-book;
$body-body-m-regular-line-height: $line-height-400;
$body-body-m-regular-letter-spacing: $letter-spacing-xl;

