.velocity-scroll__container {
  position: relative;
  width: 100%;
  font-size: 2.25rem; // text-4xl
  font-weight: bold;
  letter-spacing: -0.02em;
  @media (min-width: 768px) {
    font-size: 4.5rem; // md:text-7xl
    line-height: 5rem; // md:leading-[5rem]
  }
}

.velocity-scroll__parallax-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.velocity-scroll__parallax-inner {
  display: inline-block;
}

.velocity-scroll__parallax-text {
  display: inline-block;
} 