.vida2-common-banner-container {
  margin: 0 0 rem(36px) 0;
  position: relative;

  .vida2-common-banner-bg {
    border-radius: rem(16px);
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }

  .vida2-common-banner-content-container {
    display: flex;
    justify-content: space-between;
    //It is needed
    padding: rem(12px) rem(10px) rem(12px) rem(10px);
    position: relative;

    @include media(">desktop") {
      padding: rem(12px) rem(24px) rem(12px) rem(30px);
    }
  }

  .user-info-name-text {
    @include vida-large-title1-mobile;
    color: get-color("white");
    line-height: rem(86.4px);
    @include media("<desktop") {
      line-height: normal;
    }
  }

  .user-info-bike-text {
    @include vida-large-title2-mobile;
    color: get-color("white");
    line-height: rem(54px);
    @include media("<desktop") {
      line-height: normal;
    }
  }

  .bike-sub-text {
    @include vida-mobile-body-4;
    color: get-color("white");
    line-height: rem(20px);
  }

  .user-bike-img-container {
    height: rem(158px);
    width: rem(102px);
    @include media("<desktop") {
      height: auto !important;
    }
    @include media(">=desktop") {
      width: rem(192px);
    }
    // width: rem(192px); need this
  }

  .user-bike-img {
    object-fit: cover;
    width: 100%;
  }
}
