.vida2-button {
  border-radius: rem(8px);
  font-size: rem(16px);
  font-weight: 700;
  line-height: rem(19.2px);
  padding: rem(16px);

  &--primary {
    background: get-color("orange");
    border: rem(1px) solid get-color("orange");
    box-shadow: 0 rem(5px) rem(10px) 0 get-opaque-color("pure-black", 0.1);
    color: get-color("white");
  }

  &--secondary {
    background: get-color("white");
    border: rem(1px) solid get-color("orange");
    box-shadow: 0 rem(5px) rem(10px) 0 get-opaque-color("pure-black", 0.1);
    color: get-color("mine-shaft");
  }

  &--ternary {
    background: transparent;
    border-bottom: rem(1px) solid get-color("orange");
    border-radius: 0;
    color: get-color("orange");
    font-size: rem(16px);
    font-weight: 530;
    line-height: rem(19.2px);
    padding: 0;
    text-align: center;
    width: fit-content;

    @include media(">=desktop") {
      font-size: rem(20px);
      font-weight: 500;
      line-height: rem(24px);
    }
  }

  &:disabled {
    background: get-color("oslo-gray");
    border: none;
    color: get-color("catskill-white");
    cursor: none;
    pointer-events: none;
  }

  .secondary-label {
    font-size: rem(12px);
    font-weight: 400;
    line-height: rem(14.4px);
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
