.vida2-tabs {
  align-items: stretch;
  column-gap: rem(8px);
  display: flex;
  flex-direction: row;
  gap: rem(16px);
  justify-content: flex-start;
  width: 100%;

  @include media(">=desktop") {
    column-gap: rem(16px);
  }
}
