.vida-user-orders {
  margin-bottom: rem(20px);

  &__type {
    margin-bottom: rem(30px);

    @include media(">=desktop") {
      margin-bottom: rem(60px);
    }

    &-title {
      margin: rem(20px) 0 rem(10px) 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__popup-handle {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &__payment-owner {
    width: 100%;
  }

  &__orders-details {
    width: 100%;
  }

  &__user-order-summary {
    display: flex;
    flex-direction: row;
    gap: rem(16px);
    margin-bottom: rem(20px);
    padding: 0 35px;
    width: 100%;
  }

  &__back-btn {
    background: get-color("white");
    color: get-color("solid-black");
    display: block;
    font-size: rem(24px);
    padding: rem(16px) rem(19px);
    right: rem(16px);
    transform: rotate(90deg);
  }

  + .popup {
    height: auto;

    .popup__close-btn {
      color: get-color("solid-black");
      display: block;
      right: rem(16px);

      @include media(">=desktop") {
        right: rem(30px);
        top: rem(3px);
      }

      &:hover {
        color: get-color("orange");
      }

      [class^="icon-"],
      [class*=" icon-"] {
        font-size: rem(25px);
        font-weight: normal;
      }
    }

    .popup__container {
      border-radius: rem(16px);
      height: rem(410px);
      max-height: calc(100% - 60px);
      overflow-y: auto;
      padding: rem(20px) 0;
      width: rem(328px);

      @include media(">=desktop") {
        border-radius: rem(32px);
        height: rem(380px);
        padding: rem(30px) 0;
        width: rem(620px);
      }

      .popup__body {
        overflow-y: auto;
        padding: 0 rem(16px);

        @include media(">=desktop") {
          padding: 0 rem(30px);
        }
      }
    }
  }

  &__my-order {
    border: 1px solid #d2d1d1;
    border-radius: 16px;
    -webkit-box-orient: horizontal;
    box-shadow: 0 6px 26px rgb(40 40 40 / 8%);
    margin-bottom: rem(16px);
    padding: 1.25rem 1rem;
  }

  &__show-details {
    border-top: 1px solid #d2d1d1;
    padding-top: rem(22px);
    text-align: center;
    @include media(">=desktop") {
      padding-top: rem(15px);
    }
  }

  &__order-selection {
    @include p1;
    background-color: get-color("titanium-white");
    border-radius: rem(100px);
    display: inline-block;
    margin-bottom: rem(20px);
    padding: rem(5px) rem(0);

    span {
      border-radius: rem(100px);
      display: inline-block;
      padding: rem(10px) rem(20px);
    }

    &--active {
      background-color: get-color("solid-black");
      border-radius: rem(15px);
      color: get-color("white");
      cursor: pointer;
      padding: rem(5px) rem(12px);
    }

    &--inactive {
      cursor: pointer;
      padding: rem(0) rem(10px);
    }
  }

  &__verify-email-dialog {
    .popup {
      top: 0;
      z-index: 999;

      &__container {
        border-radius: 25px;
        height: fit-content;
        padding: 20px;
        width: 350px;
      }

      &__close-btn {
        display: block;
        right: 0;
      }

      &__content {
        h3 {
          margin-bottom: rem(20px);
        }

        p {
          margin-bottom: rem(20px);
        }
      }
    }

    &__button-container {
      text-align: right;
    }
  }

  &__no-record {
    margin-top: rem(70px);

    h3 {
      margin-bottom: rem(10px);
    }

    h4 {
      color: get-color("solid-grey");
    }

    .btn {
      margin-top: rem(20px);
    }
  }

  .vida-profile-details__verify-email-popup {
    .popup {
      height: 100vh;

      .popup__close-btn {
        display: block;
      }
    }
  }

  &__cancel-loan {
    /* .popup {
      &__container {
        height: 190px;
        width: 240px;
      
        @include media(">=desktop") {
          height: 190px;
          padding-bottom: rem(30px);
          padding-top: rem(16px);
          width: rem(220px);
        }
      }
  
      &__body,
      &__content {
        height: 100%;
      }
  
      &__close-btn {
        bottom: 10px;
        @include media(">=desktop") {
          display: none;
        }
      }
   
    }
*/
    
    &-popup {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0;
      padding-right: rem(20px);

      p {
        @include label;
      }

      h4 {
        font-weight: 500;
      }

      &-list {
        text-align: left;
      }
    }

    
    .popup {
      height: 100vh;

      &__container {
        padding: rem(15px);
        @include media(">=desktop") {
          max-height: rem(568px);
          max-width: rem(990px);
          padding: rem(25px) rem(25px);
        }
      }

      &__close-btn {
        color: get-color("solid-black");
        display: inline-block;
        right: rem(25px);
        top: rem(2px);
        @include media(">=desktop") {
          right: rem(33px);
          top: rem(-1px);
        }

        &:hover {
          color: get-color("orange");
        }

        [class^="icon-"],
        [class*=" icon-"] {
          font-size: rem(25px);
          font-weight: normal;
        }
      }

      &__body,
      &__content {
        height: 100%;
        margin: 0 auto;
        max-width: rem(1048px);
        padding-left: rem(10px);
      }

      &__body {
        padding: 0 rem(16px);
        @include media(">=desktop") {
          padding: 0 rem(30px);
        }
      }

      &--full-screen {
        .popup__container {
          border-radius: unset !important;
          @include media(">=desktop") {
            max-height: 35.5rem;
            max-width: 61.875rem;
            padding: 1.5625rem 0;
          }
        }

        .popup__body,
        .popup__content {
          height: 100%;
          user-select: none;
        }
      }

      &--medium {
        top: 0 !important;

        .popup__container {
          border-radius: 32px !important;
          height: max-content !important;
          margin-top: 100px;
          max-height: fit-content !important;
          max-width: 620px !important;
          min-height: 150px;
          min-width: 280px;
          width: 60vw !important;

          @media screen and (min-device-pixel-ratio: 0) {
            /* webkit specific CSS */
            height: 65vh !important;
            max-height: 65vh !important;
            max-width: 620px !important;
            width: 80vw !important;
          }
        }

        .popup__body,
        .popup__content {
          height: 100%;
        }
      }
    }

    .btn--primary {
      margin-right: 20px;
    }
  }

}

.vida-user-orders__cancel-loan,
.vida-user-orders {
  .btn--primary {
    background-color: get-color("orange");
    border: none;
    border-radius: rem(8px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    color: get-color("white");
    font-size: rem(16px);
    font-style: normal;
    font-weight: 600;
    height: auto;
    line-height: normal;
    min-width: 100%;
    text-align: center;
    @include media(">=desktop") {
      border-radius: rem(8px);
      font-size: rem(20px);
      min-width: unset;
      padding: rem(16px) rem(32px);
    }

    &:disabled {
      background-color: get-color("oslo-gray");
    }
  }

  .cancel-button {
    @include vida-h5-mobile;
    align-self: center;
    color: get-color("orange");
    cursor: pointer;
    font-weight: 500;
    line-height: rem(19.2px);
    width: auto;
    @include media(">=tablet") {
      @include vida-h5-desktop;
      align-self: center;
      color: get-color("orange");
      flex: auto;
      height: auto;
    }
  }

  .disable-button {
    color: get-color("oslo-gray") !important;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
  }
}

.cancel-order-popup {
  align-items: center;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 3.25rem;
  width: 100%;
  z-index: 999;

  &-content {
    background-color: get-color("alice-blue");
    border-radius: 16px;
    max-width: rem(328px);
    overflow: hidden;
    padding: rem(32px) rem(16px);
    position: relative;
    @include media(">=desktop") {
      max-width: rem(650px);
      padding: rem(32px);
    }

    .cancel-order-header {
      @include vida-h2-mobile;
      line-height: rem(28.8px);
      margin-bottom: rem(16px);
      text-align: center;
      @include media(">=desktop") {
        @include vida-h3-desktop;
        line-height: rem(33.6px);
        text-align: left;
      }
    }

    .popup-close-btn {
      background: none;
      border: none;
      color: inherit;
      color: get-color("pure-black");
      cursor: pointer;
      display: block;
      font: inherit;
      padding: 0;
      position: absolute;
      right: rem(16px);
      top: rem(16px);

      @include media(">=desktop") {
        right: rem(32px);
        top: rem(24px);
      }

      .icon-x::before {
        content: "\e949";
        font-size: rem(24px);
        font-weight: 600;
      }
    }

    .cancel-order-description {
      @include vida-mobile-body-2;
      line-height: rem(16.8px);
      margin-bottom: rem(16px);
      text-align: center;
      @include media(">=desktop") {
        @include vida-desktop-body-3;
        line-height: rem(21.6px);
        text-align: left;
      }
    }

    .cancel-order-form {
      .text-area-input {
        background-color: get-color("white");
        border: 1px solid get-color("oslo-gray");
        border-radius: rem(8px);
        height: rem(120px);
        padding: rem(16px);
        width: 100%;
        @include media(">=desktop") {
          height: rem(150px);
        }

        &:focus-visible {
          outline: none;
        }
      }

      .cancel-order-submit-button {
        @include vida-h5-mobile;
        background-color: get-color("orange");
        border-radius: rem(8px);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        color: get-color("white");
        line-height: rem(19.2px);
        margin-top: rem(16px);
        width: 100%;
        @include media(">=desktop") {
          @include vida-h5-desktop;
          margin-top: rem(40px);
          padding: rem(16px);
        }

        &:disabled {
          background-color: get-color("oslo-gray");
        }
      }
    }
  }
}
