
.vida-billing-buy-back {
  min-height: 100vh;
  width: 50%;

  &__wrapper {
    background-color: get-color("white");
    border-radius: 16px;
    padding: rem(16px) rem(16px);
  }

  &__heading {
    font-size: rem(20px);
  }

  &__subtext {
    padding-left: rem(30px);

    label {
      display: inline;
    }

    a {
      margin-left: rem(5px);
    }
  }
}
