@import '../../styles/tokens.scss';

.label-button {
  display: inline-flex;
  padding: var(--Button-verticalPadding, 8px) var(--Button-horizontalPadding, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--Space-S, 8px);
  
  border-radius: var(--Radius-S, 8px);
  opacity: var(--Opacity, 1);
  background: var(--Fill, #FF5310);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  &__label {
    color: $neutral-50;
    font-family: $font-family-brand-sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.25px;
  }

  &:hover {
    background: $brand-600;
  }

  &:active {
    background: $brand-700;
  }
} 