 /* Aliases  */
$label-label-xl-semibold-font-size: $font-size-700;
$label-label-xl-semibold-font-weight: $font-weight-semibold;
$label-label-xl-semibold-line-height: $line-height-800;
$label-label-xl-semibold-letter-spacing: $letter-spacing-s;

