 /* Aliases  */
$background-primary: $neutral-50;
$background-hover: $neutral-100;
$background-selected: $brand-100;
$background-disabled: $neutral-100;
$background-primaryinverse: $neutral-900;
$background-brand: $brand-500;
$background-brand-hover: $brand-600;
$background-brand-pressed: $brand-700;
$background-info: $blue-500;
$background-info-subtle: $blue-100;
$background-notice: $yellow-500;
$background-notice-subtle: $yellow-100;
$background-negative: $red-500;
$background-negative-subtle: $red-100;
$background-positive: $green-600;
$background-positive-subtle: $green-100;
$background-tertiary: $brand-100;
$background-tertiaryhover: $brand-200;
$background-tertiarypressed: $brand-300;
$background-secondary: $neutral-200;
$background-secondary50: $neutral-650;
$background-secondaryinverse-hover: $neutral-550;
$background-transparent: $transparent-white-0;
$background-transparent50: $transparent-white-50;
$background-negative-hover: $red-600;
$background-negative-pressed: $red-700;
$background-negative-subtle-hover: $red-200;
$background-negative-subtle-pressed: $red-300;
$background-secondary-hover: $neutral-300;
$background-secondary-pressed: $neutral-400;

