 /* Aliases  */
$border-primary: $neutral-600;
$border-secondary: $neutral-400;
$border-tertiary: $neutral-200;
$border-disabled: $neutral-300;
$border-inverse: $neutral-50;
$border-brand: $brand-500;
$border-focus: $brand-600;
$border-info: $blue-500;
$border-notice: $yellow-500;
$border-negative: $red-500;
$border-positive: $green-600;
$border-transparent: $transparent-white-0;
$border-brandlight: $brand-100;
$border-brandlight-hover: $brand-200;
$border-brandlight-pressed: $brand-300;

