 /* Aliases  */
$content-primary: $neutral-900;
$content-secondary: $neutral-800;
$content-tertiary: $neutral-700;
$content-primary-inverse: $neutral-50;
$content-secondary-inverse: $neutral-200;
$content-tertiary-inverse: $neutral-400;
$content-disabled: $neutral-400;
$content-brand: $brand-500;
$content-link: $brand-500;
$content-link-hover: $brand-600;
$content-link-pressed: $brand-700;
$content-notice: $yellow-400;
$content-notice-bold: $yellow-600;
$content-negative: $red-500;
$content-negative-bold: $red-600;
$content-positive: $green-600;
$content-positive-bold: $green-800;
$content-brand-focus: $brand-600;
$content-primary-inverse-light: $neutral-100;

