.model-variant-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;

  &__flex {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: rem(40px);
    width: 100%;

    .heading {
      color: get-color("mine-shaft");
      font-size: rem(20px);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-bottom: rem(24px);
      padding-left: rem(25px);
      padding-top: rem(52px);
      @include media(">=tablet") {
        padding-left: 0;
      }
      @include media("<tablet") {
        //display: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: rem(16px);
        // padding-left: rem(25px);
        padding-top: rem(32px);
      }
    }

    .bold-heading {
      @include vida-h1-mobile;
      max-width: rem(1090px);
      padding-bottom: rem(5px);
      padding-left: rem(24.75px);
      padding-right: rem(31.25px);

      @include media(">=tablet") {
        @include vida-banner-header;
        padding-bottom: rem(16px);
        padding-left: 0;
      }
    }

    .design-vida-bold-heading {
      @include vida-h1-mobile;
      margin-bottom: rem(24px);
      max-width: rem(1090px);
      padding: rem(8px);

      @include media(">=tablet") {
        @include vida-h1-desktop;
        margin-bottom: rem(34px);
        padding: rem(16px);
        padding-left: 0;
      }
    }

    .model-variant-content-container {
      display: flex;
      justify-content: space-between;
      padding-left: rem(296px);
      padding-right: rem(88px);

      @include media("<desktop-md") {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-left: 1.546875rem;
        padding-right: 1.953125rem;
      }

      @include media(">=desktop-md") {
        gap: rem(100px);
        padding-left: 0;
        padding-right: 0;
      }

      .model-variant {
        // background-image: url("../../../../resources/images/svg/model-view.svg");
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include media(">=tablet") {
          flex-direction: row;
        }

        .image-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          // position: relative;
          left: rem(300px);
          margin-bottom: rem(20px);
          width: rem(360px);

          @include media(">=tablet") {
            flex-direction: column;
            height: rem(500px);
            width: rem(500px);
          }
        }

        .image-group {
          @include media(">=tablet") {
            // left: rem(140px);
            // position: relative;
          }

          .platform {
            background-color: get-color("white");
            border: rem(1px) dashed;
            border-color: #0006;
            border-radius: 231.75px/46.51px;
            height: rem(60px);
            // top: 288px;
            margin-top: rem(-75px);
            // left: 0;
            position: relative;
            width: 300px;
            z-index: 1;
            @include media(">=tablet") {
              height: rem(93px);
              margin-top: rem(-153px);
              width: rem(463px);
            }
            @include media(">=desktop") {
              margin-top: rem(-105px);
            }
          }

          .design-vida-platform {
            background-color: get-color("white");
            border: rem(1px) dashed;
            border-color: #0006;
            border-radius: 231.75px/46.51px;
            height: rem(60px);
            margin-top: rem(-75px);
            position: relative;
            width: 300px;
            z-index: 1;
            @include media(">=tablet") {
              height: rem(93px);
              margin-top: rem(-153px);
              width: rem(463px);
            }
            @include media(">=desktop") {
              margin-top: rem(-73px);
              width: rem(559px);
            }
          }

          .icon {
            align-self: center;
            display: none;
            gap: rem(16px);
            margin-left: rem(60px);
            margin-top: rem(32px);
            margin-top: rem(32px);
            max-width: 100%;
            padding: 0 rem(2px);
            width: rem(176px);

            @include media(">=tablet") {
              display: flex;
              justify-content: center;
              margin-left: rem(155px);
            }
          }

          .icon-class {
            align-items: center;
            background-color: get-color("white");
            border-radius: 23.52px/24px;
            box-shadow: 0 rem(4.95px) rem(9.9px) #0000001a;
            cursor: pointer;
            display: flex;
            height: rem(48px);
            justify-content: center;
            margin-top: rem(5px);
            width: rem(47px);
          }

          .icon1 {
            height: rem(16px);
            width: rem(16px);
          }

          .color-text {
            @include vida-mobile-body-3;
            // color: get-color("mine-shaft");
            // font-family: PP Neue Montreal;
            // font-size: rem(12px);
            // font-style: normal;
            // font-weight: 400;
            // line-height: normal;
            margin-top: rem(16px);
            // text-align: center;
            @include media(">=tablet") {
              font-size: rem(18px);
            }
          }

          .image1 {
            min-height: rem(210px);
            object-fit: none;
            position: relative;
            width: rem(300px);
            z-index: 20;
            @include media(">=tablet") {
              min-height: rem(386px);
              scale: 1.2;
              width: rem(500px);
            }
          }

          .visualizer-color-text-wrapper {
            display: flex;
            justify-content: center;
          }

          .visualizer-icons {
            position: absolute;
          }

          .visualizer-icons-mobile {
            align-items: flex-end;
            display: flex;
            flex-direction: column-reverse;
            gap: rem(16px);
            margin-left: rem(20px);
            overflow: visible;
            position: absolute;
            right: rem(20px);
            z-index: 5;

            @include media(">=tablet") {
              display: none;
            }
          }

          .additional-icons-container {
            bottom: rem(52px);
            display: inline;
            position: absolute;
            z-index: 10;
          }

          .visualizer-icons {
            position: absolute;
          }

          .open {
            animation: accordian-open 2s reverse;
          }
        }

        .colors {
          align-items: center;
          display: flex;
          gap: rem(16px);
          justify-content: center;
          margin-top: rem(40px);

          @include media(">=tablet") {
            gap: rem(16px);
          }

          @include media(">=tablet") {
            .selec {
              height: rem(32px);
              width: rem(32px);
            }
          }

          div {
            border-radius: rem(50px);
            cursor: pointer;
            height: rem(14px);
            width: rem(14px);

            @include media(">=tablet") {
              height: rem(24px);
              width: rem(24px);
            }
          }

          .border-black {
            border: 0.75px solid get-color("mine-shaft");
          }

          .selec {
            height: rem(22px);
            width: rem(22px);
          }
        }
      }

      .model {
        align-items: center;
        backdrop-filter: blur(2.5px);
        background: rgba(255, 255, 255, 0.5);
        border-radius: 16px;
        bottom: rem(37px);
        display: flex;
        flex-direction: column;
        gap: 32px;
        height: fit-content;
        left: rem(837px);
        margin-bottom: rem(37px);
        // margin: 16px 32px 32px;
        padding: 32px 16px 16px;
        width: rem(320px);

        @include media(">=tablet") {
          max-width: rem(515px);
          // position: relative;
          min-width: rem(515px);
          // bottom: rem(542px);
          // height: rem(542px);
          padding: rem(32px);
        }

        .model-box-container {
          position: relative;
        }

        .box-flex-container {
          display: flex;
          gap: rem(16px);
          justify-content: space-between;

          @include media(">=tablet") {
            width: 100%;
          }
        }

        .model-box-scroll-btn-container {
          display: none;
          @include media(">=tablet") {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
          }
        }

        .scroll-btn {
          background-color: transparent;
          background-position: center;
          background-repeat: no-repeat;
          height: rem(32px);
          padding: 0;
          width: rem(32px);

          &.left {
            background-image: url("/clientlib-site/images/svg/chevron-left.svg");
            left: rem(-32px);
          }

          &.right {
            background-image: url("/clientlib-site/images/svg/chevron-right.svg");
            right: rem(-32px);
          }

          &.disabled {
            background-color: transparent;
            opacity: 0.3;
            pointer-events: none;
          }
        }

        .model-box-container {
          position: relative;

          .model-box-scroll-btn-container {
            display: none;
            @include media(">=desktop") {
              display: flex;
              justify-content: space-between;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 100%;
            }
          }

          .scroll-btn {
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            height: rem(32px);
            padding: 0;
            width: rem(32px);

            &.left {
              background-image: url("/clientlib-site/images/svg/chevron-left.svg");
              left: rem(-32px);
            }

            &.right {
              background-image: url("/clientlib-site/images/svg/chevron-right.svg");
              right: rem(-32px);
            }

            &.disabled {
              background-color: transparent;
              opacity: 0.3;
              pointer-events: none;
            }
          }
        }

        .left {
          @include vida-mobile-body-3;
          // color: get-color("mine-shaft");
          // font-size: rem(12px);
          // font-style: normal;
          // font-weight: 400;
          // line-height: normal;

          @include media(">=tablet") {
            font-size: 18px;
          }

          .black-color-text {
            color: get-color("mine-shaft");
            font-family: PP Neue Montreal;
            font-size: rem(12px);
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            @include media(">=tablet") {
              font-size: rem(18px);
              font-weight: 600;
            }
          }
        }

        select {
          align-items: center;
          appearance: none;
          background-position: right 5px center;
          background-repeat: no-repeat;
          background-size: rem(20px);
          border: rem(1px) solid #85888c;
          border-radius: rem(8px);
          cursor: pointer;
          display: flex;
          font-family: PP Neue Montreal;
          font-size: rem(14px);
          font-style: normal;
          font-weight: 400;
          height: rem(36px);
          line-height: normal;
          margin-top: rem(8px);
          padding: rem(8px);
          width: rem(150px);

          @include media(">=tablet") {
            background-position: right 1rem center;
            background-size: rem(30px);
            font-size: 20px;
            font-weight: 500;
            height: rem(56px);
            width: rem(228px);
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          right: 0;
        }

        .amount {
          @include vida-h2-mobile;
          display: flex;
          font-weight: 600;
          @include media(">=tablet") {
            font-size: rem(32px);
          }
        }

        .price-text {
          color: get-color("mine-shaft");
          font-size: rem(12px);
          font-style: normal;
          font-weight: 400;
          line-height: normal;

          @include media(">=tablet") {
            font-size: rem(16px);
          }
        }

        .toolbar {
          @include vida-tertiary-cta-mobile;
          cursor: pointer;
          // color: get-color("orange");
          // cursor: pointer;
          // font-size: rem(16px);
          // font-style: normal;
          // font-weight: 500;
          // line-height: normal;
          padding-top: rem(8px);
          text-decoration: underline;

          @include media(">=tablet") {
            font-size: rem(20px);
          }
        }

        .whats-included-container {
          align-items: flex-start;
          align-self: stretch;
          background: var(--Neutral-Lightest-Grey, #f1f5f8);
          border-radius: rem(8px);
          cursor: pointer;
          display: flex;
          flex-direction: column;
          gap: rem(16px);
          padding: rem(16px);

          @include media(">=tablet") {
            gap: rem(32px);
            padding: rem(32px);
          }

          &__header {
            color: #ff5310;
            font-family: PP Neue Montreal;
            font-size: rem(16px);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @include media(">=tablet") {
              font-size: rem(20px);
            }
          }

          &__text {
            color: #000;
            font-family: PP Neue Montreal;
            font-size: rem(12px);
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @include media(">=tablet") {
              font-size: rem(18px);
            }
          }
        }

        .button {
          @include vida-h5-mobile;
          align-items: center;
          background: get-color("orange");
          border-radius: rem(8px);
          box-shadow: 0 rem(7.5px) rem(15px) 0 rgba(0, 0, 0, 0.1);
          color: get-color("white");
          cursor: pointer;
          display: flex;
          font-family: PP Neue Montreal;
          height: rem(52px);
          justify-content: center;
          width: 100%;
          @include media(">tablet") {
            @include vida-h5-desktop;
            border-radius: rem(16px);
            color: get-color("white");
            height: rem(72px);
          }
        }

        .box-container {
          display: flex;
          flex-flow: row;
          gap: rem(30px);
          margin: 0;
          max-width: rem(451px);
          overflow-x: unset;
          padding-bottom: rem(10px);

          @include media("<tablet") {
            max-width: rem(288px);
          }

          @include media(">=tablet") {
            overflow-x: scroll;
            padding-bottom: 0;

            &::-webkit-scrollbar {
              display: none;
            }
          }

          .box {
            align-items: flex-start;
            align-self: stretch;
            background: var(--Medium-Grey, #e4eaf1);
            border-radius: rem(8px);
            display: flex;
            flex-direction: column;
            height: rem(125px);
            min-width: rem(220px);
            padding: rem(20px) rem(12px);
            // background: tomato;
            text-align: center;
            @include media(">=tablet") {
              border-radius: rem(16px);
              height: rem(260px);
              min-width: rem(240px);
              padding: rem(32px) rem(16px);
            }
          }

          .box1 {
            height: rem(30px);
            margin-bottom: rem(30px);
            width: rem(30px);
          }

          .box2 {
            @include vida-h5-mobile;
            align-self: stretch;
            // color: var(--Vida-Black, #222);
            // font-family: PP Neue Montreal;
            // font-size: rem(16px);
            // font-style: normal;
            // font-weight: 600;
            height: rem(136px);
            // line-height: normal;
            text-align: left;
            width: rem(208px);
            @include media(">=tablet") {
              @include vida-h3-desktop;
            }
          }
        }

        .horizontal-scroll-container {
          margin: 0;

          &::-webkit-scrollbar-track {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }

  @keyframes accordian-open {
    from {
      max-height: 0;
    }

    80% {
      max-height: 100vh;
    }

    to {
      max-height: 100vh;
    }
  }
}

.design-vida {
  .vida-form-field-input {
    width: rem(286px);
    @include media(">=desktop") {
      width: 100%;
    }
    @include media(">=tablet") {
      width: 100%;
    }
  }

  &__details {
    padding-bottom: rem(10px);
    padding-top: rem(16px);
    @include media(">=desktop") {
      padding: 0 rem(40px) rem(30px) 0;
    }
  }

  &__beginLabel {
    color: get-color("oslo-gray");
    font-size: rem(12px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include media(">=desktop") {
      font-size: rem(18px);
    }
  }

  &__header {
    @include vida-h2-mobile;
    padding: rem(24px) 0 rem(12px) 0;
    @include media(">=desktop") {
      @include vida-h3-desktop;
      padding: rem(54px) 0 rem(24px) 0;
    }
  }

  &__headerLabel {
    color: get-color("mine-shaft");
    font-size: rem(24px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: rem(12px);
    padding-top: rem(4px);
    @include media(">=desktop") {
      font-size: rem(48px);
      font-weight: 600;
      padding-bottom: rem(24px);
      padding-top: rem(16px);
    }
  }

  &__subHeaderLabel {
    @include vida-h3-mobile;
    padding-bottom: rem(16px);
    padding-top: rem(16px);
    @include media(">=desktop") {
      @include vida-h3-desktop;
      padding-bottom: rem(24px);
      padding-top: rem(32px);
    }
  }

  &__confirm-button-wrapper {
    display: flex;
    justify-content: center;
    @include media(">=desktop") {
      justify-content: flex-end;
    }
  }

  &__confirm {
    background: get-color("orange");
    border-radius: rem(8px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    color: get-color("white");
    font-size: rem(16px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: rem(24px);
    max-width: 330px;
    min-width: 330px;
    padding: rem(16px);
    @include media(">=desktop") {
      font-size: rem(20px);
      margin-top: rem(64px);
      max-width: 275px;
      min-width: 275px;
      padding: rem(16px) rem(32px);
    }
  }
}

.design-vida-scooter {
  &__info {
    margin-bottom: rem(16px);
    padding-bottom: rem(16px);
    @include media(">=desktop") {
      margin-bottom: rem(32px);
      padding-bottom: rem(32px);
    }
  }

  &__header {
    @include vida-h2-mobile;
    padding-bottom: rem(13px);
    @include media(">=desktop") {
      @include vida-h3-desktop;
      padding-bottom: rem(24px);
    }
  }

  &__sub-header {
    @include vida-h3-mobile;
    padding-bottom: rem(16px);
    @include media(">=desktop") {
      @include vida-h3-desktop;
      padding-bottom: rem(24px);
    }
  }

  &__type-text {
    border-radius: rem(8px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    font-size: rem(16px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    min-width: rem(138px);
    padding: rem(16px);
    @include media(">=tablet") {
      font-size: rem(20px);
      font-weight: 600;
      min-width: 49.5%;
      padding: rem(16px) rem(32px);
    }
    @include media(">=desktop-md") {
      font-size: rem(20px);
      font-weight: 600;
      min-width: 47%;
      padding: rem(16px) rem(32px);
    }
    @include media(">=desktop") {
      font-size: rem(20px);
      font-weight: 600;
      min-width: 48%;
      padding: rem(16px) rem(32px);
    }
  }

  &__color-label {
    color: get-color("mine-shaft");
    font-size: rem(20px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: rem(18px);
    padding-top: rem(16px);
    @include media(">=desktop") {
      font-size: rem(28px);
      font-weight: 600;
      padding-bottom: rem(24px);
      padding-top: rem(32px);
    }
  }

  &__color-container {
    @include media(">=desktop") {
    }
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: rem(32px);
  }

  &__colors {
    border-radius: 50%;
    height: rem(15px);
    padding: 0;
    width: rem(15px);
    @include media(">=desktop") {
      height: rem(24px);
      width: rem(24px);
    }
  }

  &__selected {
    background: get-color("orange");
    color: get-color("white");
    pointer-events: none;
  }

  &__not-selected {
    background: get-color("white");
    border: rem(1px) solid get-color("orange");
    color: get-color("black");
  }

  &__black-border {
    border: rem(1px) solid get-color("black");
    height: rem(15px);
    width: rem(15px);
    @include media(">=desktop") {
      border-width: rem(1.62px);
      height: rem(24px);
      width: rem(24px);
    }
  }

  &__colors-outline {
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-width: rem(1px);
    display: flex;
    height: rem(32px);
    justify-content: center;
    width: rem(32px);
    @include media(">=desktop") {
      border-width: rem(1.62px);
      height: rem(46px);
      width: rem(46px);
    }
  }

  &__colors-selected {
    height: rem(26px);
    width: rem(26px);
    @include media(">=desktop") {
      height: rem(32px);
      width: rem(32px);
    }
  }

  &__variant-buttons {
    display: flex;
    flex-direction: row;
    gap: rem(12px);
    @include media(">=desktop") {
      gap: rem(32px);
    }
  }
}

.btn-container {
  padding: rem(24px) 0;
  @include media(">=desktop") {
    padding: rem(24px) 0 0 0;
  }
}

.color-selection {
  margin-top: rem(24px);
}

.vida-design-next-btn-container {
  left: 0;
  margin: 0;
  padding: rem(48px) 0 rem(36px) 0;
  position: absolute;
  width: 100%;
  @include media(">=desktop") {
    align-items: flex-end;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
  }

  .vida-design-next-btn {
    align-items: center;
    background: get-color("orange");
    border-radius: rem(8px);
    color: get-color("white");
    display: flex;
    font-size: rem(16px);
    font-style: normal;
    font-weight: 600;
    height: rem(52px);
    justify-content: center;
    line-height: normal;
    margin: 0;
    padding: 0;
    width: 100%;

    @include media(">=desktop") {
      font-size: rem(20px);
      width: 23%;
    }
  }
}

.colors {
  align-items: center;
  display: flex;
  gap: rem(48px);
  justify-content: center;
  margin-top: rem(40px);

  @include media(">=desktop") {
    gap: rem(28px);
  }

  @include media(">=desktop") {
    .selec {
      height: rem(32px);
      width: rem(32px);
    }
  }

  div {
    border-radius: rem(50px);
    cursor: pointer;
    height: rem(16px);
    width: rem(16px);

    @include media(">=desktop") {
      height: rem(24px);
      width: rem(24px);
    }
  }

  .border-black {
    border: 0.75px solid get-color("mine-shaft");
  }

  .selec {
    height: rem(22px);
    width: rem(22px);
  }

  .selected-outer-border {
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.10125rem;
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 2rem;
    @include media(">=desktop") {
      height: rem(46px);
      width: rem(46px);
    }
  }
}

.modal-varient-content-design-vida {
  @include media(">=desktop-md") {
    bottom: 142px;
    position: absolute;
    right: rem(90px);
  }
}

.image1-design-vida {
  @include media(">=tablet") {
    scale: 1.5 !important;
  }
}

.design-vida-right-wrapper {
  @include media(">=desktop-md") {
    width: 50%;
  }
}

.design-vida-wrapper {
  background-color: get-color("alice-blue");
  margin-bottom: rem(16px);
  padding: rem(8px) rem(18px) rem(24px) rem(16px);
  position: relative;
  @include media(">=desktop") {
    background-color: get-color("alice-blue");
    padding: rem(34px);
    position: relative;
  }
}

.dealer-finder-error-msg {
  color: get-color("red");
  font-size: rem(12px);
  font-weight: 400;
  margin: rem(4px) 0 0 rem(4px);

  @include media(">=desktop") {
    font-size: rem(16px);
  }
}

.design-vida-model-variant-container {
  @include media(">=tablet", "<desktop-md") {
    align-items: center;
    flex-direction: column;
  }
}
