

.vida-profile-image {
  position: relative;
  width: 30%;

  @include media(">=desktop") {
    padding-left: rem(25px);
    top: rem(-10px);
  }

  &__preview {
    align-items: center;
    background-color: get-color("light-grey");
    border-radius: 100%;
    display: flex;
    height: rem(70px);
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: rem(70px);
    @include media(">=desktop") {
      height: rem(120px);
      width: rem(120px);
    }

    img {
      max-width: 100%;
    }
  }

  &__profile-image-icon {
    align-items: center;
    background: get-color("blue");
    border-radius: 100%;
    bottom: rem(0);
    cursor: pointer;
    display: flex;
    height: rem(25px);
    justify-content: center;
    left: rem(55px);
    position: absolute;
    width: rem(25px);
    z-index: 1;
    @include media(">=desktop") {
      height: rem(35px);
      left: rem(115px);
      width: rem(35px);
    }

    img {
      background: #fff;
      border: 1px solid transparent;
      border-radius: 100%;
      cursor: pointer;
      display: inline-block;
      font-weight: normal;
      height: rem(20px);
      transition: all 0.2s ease-in-out;
      width: rem(20px);
      @include media(">=desktop") {
        height: rem(34px);
        width: rem(34px);
      }
    }

    input[type="file"] {
      cursor: pointer;
      font-size: 20px;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }
}
