@font-face {
  font-display: swap;
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: bold;
  src: url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-Bold.woff2") format("woff2"),
    url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-Bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "PP Neue Montreal";
  font-style: italic;
  font-weight: bold;
  src: url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-BoldItalic.woff2") format("woff2"),
    url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-BoldItalic.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "PP Neue Montreal";
  font-style: italic;
  font-weight: normal;
  src: url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-Italic.woff2") format("woff2"),
    url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-Italic.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 300;
  src: url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-Light.woff2") format("woff2"),
    url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-Light.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "PP Neue Montreal";
  font-style: italic;
  font-weight: 300;
  src: url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-LightItalic.woff2") format("woff2"),
    url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-LightItalic.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 500;
  src: url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-Medium.woff2") format("woff2"),
    url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-Medium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "PP Neue Montreal";
  font-style: italic;
  font-weight: 500;
  src: url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-MediumItalic.woff2") format("woff2"),
    url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-MediumItalic.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 600;
  src: url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-SemiBold.woff2") format("woff2"),
    url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-SemiBold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: normal;
  src: url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-Regular.woff2") format("woff2"),
    url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "PP Neue Montreal";
  font-style: italic;
  font-weight: 600;
  src: url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-SemiBolditalic.woff2") format("woff2"),
    url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-SemiBolditalic.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "PP Neue Montreal";
  font-style: normal;
  font-weight: 100;
  src: url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-Thin.woff2") format("woff2"),
    url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-Thin.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "PP Neue Montreal";
  font-style: italic;
  font-weight: 100;
  src: url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-ThinItalic.woff2") format("woff2"),
    url("/clientlib-site/fonts/PPNeueMontreal/PPNeueMontreal-ThinItalic.woff") format("woff");
}
