 /* Aliases  */
$body-body-xs-semibold-font-size: $font-size-50;
$body-body-xs-semibold-font-weight: $font-weight-semibold;
$body-body-xs-semibold-line-height: $line-height-200;
$body-body-xs-semibold-letter-spacing: $letter-spacing-xl;

