.vida-tabs {
  .tab.vida-container & {
    margin-bottom: rem(30px);
    margin-top: rem(30px);
  }
  
  &__tab-list {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 0 rem(30px) 0;
    padding: 0;
  }

  &__tab-item {
    min-height: rem(102px);

    @include media(">=desktop") {
      min-height: rem(108px);
    }

    a {
      color: get-color("solid-black");
      text-decoration: none;
    }

    &-title {
      border: rem(1px) solid get-color("solid-black");
      border-radius: rem(4px);
      cursor: pointer;
      display: flex !important;
      flex-direction: column;
      height: 100%;
      opacity: 0.5;
      padding: rem(16px) rem(10px);
      text-align: center;

      @include media(">=desktop") {
        height: 100%;
        padding: rem(25px) rem(16px) rem(20px);
      }

      span {
        @include btn;
      }

      [class^="icon-"],
      [class*=" icon-"] {
        font-size: 22px;
        height: rem(22px);
        margin: 0 auto rem(15px);
        width: rem(22px);

        @include media(">=desktop") {
          font-size: 30px;
          height: rem(30px);
          margin: 0 auto rem(13px);
          width: rem(30px);
        }
      }
    }

    &--active {
      .vida-tabs__tab-item-title {
        border-color: get-color("blue");
        box-shadow: 0 2px 10px rgba(0, 213, 229, 0.1);
        opacity: 1;
      }
    }
  }

  &__tab-panel {
    display: none;

    &-title {
      margin-bottom: rem(10px);
    }

    &--active {
      display: block;
    }
  }
}
