@import '../../../PrimitiveTokens.scss';
@import '../../../SemanticTokens.scss';

/* Aliases  */
$button-horzontalpadding: $space-xl;
$button-verticalpadding: $space-l;
$button-fontsize: $label-label-l-medium-font-size;
$button-lineheight: $label-label-l-medium-line-height;

