.design-your-vida-price-details {
  position: relative;
  @include media(">=desktop") {
    display: flex;
    justify-content: center;
  }

  &__offer-scroll-wrapper {
    background-color: get-color("black");
    height: 22px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
  }
  
  &__img-scroll {
    animation: scrollText 20s infinite linear;
    display: inline-block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
  
    img {
      display: inline-block;
      font-size: 50px;
      margin: 0;
      padding: 0;
    }
  }
  
  &__dealers-container {
    max-height: rem(560px);
    overflow: scroll;
    overflow-x: hidden;
    @include media(">=desktop") {
      max-height: inherit;
      overflow: visible;
    }
  }

  &__price-details {
    display: flex;
    flex-direction: column;
    padding: rem(24px) rem(23px);
    @include media(">=desktop") {
      flex-direction: row-reverse;
      gap: rem(125px);
      padding: rem(91px) rem(56px) rem(18px);
    }
  }

  &__top-banner {
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: rem(8px) rem(8px) 0 0;
    min-height: rem(286px);
    object-fit: cover;
    padding-left: rem(13px);
    position: relative;
    width: 100%;
    @include media(">=desktop") {
      min-height: rem(430px);
      min-width: rem(492px);
      padding-bottom: rem(14px);
      padding-left: rem(26.17px);
      padding-top: rem(16px);
    }
  }

  &__user-details-wrapper {
    align-items: center;
    display: flex;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;

    @include media(">=desktop") {
      justify-content: flex-end;
      position: relative;
    }
  }

  &__user-details {
    left: 13px;
    position: absolute;
    top: 10.57px;
    @include media(">=desktop") {
      left: 0;
      position: absolute;
      top: 11.03px;
    }
  }

  &__user-name {
    color: get-color("white");
    font-size: rem(48px);
    font-style: normal;
    font-weight: 600;
    line-height: rem(40px);
    @include media(">=desktop") {
      font-size: rem(66px);
      font-weight: 600;
      line-height: rem(60px);
    }
  }

  &__bike-name {
    color: get-color("white");
    font-size: rem(30px);
    font-style: normal;
    font-weight: 600;
    line-height: rem(40px);
    @include media(">=desktop") {
      font-size: rem(45px);
      font-weight: 600;
      line-height: rem(60px);
    }
  }

  &__sub-text {
    color: get-color("white");
    font-size: rem(14px);
    font-style: normal;
    font-weight: 500;
    line-height: rem(20px);
    padding-top: rem(12px);
    @include media(">=desktop") {
      font-size: rem(22px);
      padding-top: rem(18.11px);
    }
  }

  &__bike-image {
    height: 13.95125rem;
    object-fit: contain;
    position: absolute;
    right: rem(12px);
    top: rem(61px);
    width: 13.00625rem;
    z-index: 1;
    @include media(">=desktop") {
      height: rem(309.43px);
      object-fit: contain;
      position: relative;
      right: rem(10px);
      top: rem(100px);
      width: rem(331.9px);
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__scooter-details {
    padding: rem(16px) rem(23px) 0 rem(23px);
    @include media(">=desktop") {
      padding: rem(18px) rem(56px) rem(8px) rem(56px);
    }
  }

  &__bike-price {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-bottom: rem(16px);
    @include media(">=desktop") {
      padding-bottom: rem(20px);
    }
  }

  &__exshowroom-price {
    @include vida-h2-mobile;
    line-height: 0.4rem !important;
  }

  &__exshowroom-text {
    @include vida-mobile-body-3;

  }

  &__left-side-wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(16px);
    @include media(">=desktop") {
      align-items: center;
      gap: rem(24px);
      justify-content: space-between;
    }
  }


  &__right-side-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include media(">=desktop") {
      gap: 24px;
      width: rem(492px);
    }
  }

  &__make-it-yours-btn-container {
    margin: 0;
    padding-bottom: 0 !important;
  
    @include media(">=desktop") {
      border: none;
      flex-direction: column;
      justify-content: center;
    }
  
    &__make-it-yours-btn {
      align-items: center;
      background: get-color("orange");
      border-radius: rem(8px);
      color: get-color("white");
      display: flex;
      font-size: rem(16px);
      font-style: normal;
      font-weight: 600;
      justify-content: center;
      line-height: normal;
      margin: 0;
      padding: 1rem;
      width: 100%;
  
      @include media(">=desktop") {
        font-size: rem(20px);
        padding: 1rem 2rem;
      }
    }
  }

  &__type-text {
    @include vida-h5-mobile;
    border-radius: rem(8px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    min-width: rem(156px);
    padding: rem(16px);
    @include media(">=desktop") {
      @include vida-h5-desktop;
      min-width: rem(263px);
      padding: rem(16px) rem(32px);
    }
  }

  &__btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(16px);
    @include media(">=desktop") {
      gap: rem(24px);
    }
  }

  &__not-selected {
    background: get-color("white");
    border: rem(1px) solid get-color("orange");
    color: get-color("black");
  }

  &__variant-buttons {
    display: flex;
    flex-direction: row;
    gap: rem(16px);
    justify-content: space-between;
    @include media(">=desktop") {
      flex-direction: column;
      gap: rem(24px);
    }
  }

  .vida-offer-card {
    a {
      min-height: rem(36px);
      width: rem(36px);
      @include media(">=tablet") {
        min-height: rem(52.36px);
        min-width: rem(52.36px);
      }
    }
  }
}

.bold-heading {
  @include media(">=desktop") {
    @include vida-h1-desktop;
    padding-bottom: rem(16px);
    padding-left: 0;
  }
}

.make-it-yours-wrapper {
  display: flex;
  gap: 150px;
  justify-content: center;
}
