 /* Aliases  */
$tab-backgrounddefault: $background-primary;
$tab-strokecolor: $border-brand;
$tab-textcolor: $content-primary;
$tab-backgroundhover: $background-selected;
$tab-backgroundactive: $background-primary;

