.dealers-info-card-wrapper {
  .dealers-info-card-container {
    background-color: get-color("alice-blue");
    border-radius: rem(8px);
    margin: 0 0 rem(32px) 0;
    padding: rem(16px) rem(16px) 0 rem(16px);

    @include media(">=desktop") {
      border-radius: rem(16px);
      margin: 0 0 rem(34px) 0;
      padding: rem(32px) rem(64px);
    }

    &:last-child {
      margin: 0;
    }

    &.card-opened {
      padding: rem(24px) rem(16px);

      @include media(">=desktop") {
        padding: rem(64px);
      }

      .dealers-info-card-header-container {
        margin: 0 0 rem(24px) 0;

        .dealers-info-card-header-flex-container {
          align-items: unset;
          flex-direction: column;
          gap: rem(24px);

          @include media(">=desktop") {
            // flex-direction: row-reverse;
            gap: rem(60px);
          }

          .dealers-info-card-desktop-flex-container {
            @include media(">=desktop") {
              flex: 1;
            }
          }

          .dealers-info-card-title {
            @include media(">=desktop") {
              padding: 0 0 rem(16px);
            }
          }
        }
      }

      .dealers-info-card-content-container {
        height: auto;
        margin: 0 0 rem(8px) 0;
      }
    }

    .dealers-info-card-header-container {
      margin: 0 0 rem(8px);

      @include media(">=desktop") {
        align-items: center;
        display: flex;
        gap: rem(24px);
        justify-content: space-between;
        margin: 0;
      }

      .dealers-info-card-header-flex-container {
        align-items: center;
        display: flex;
        gap: rem(24px);
        justify-content: space-between;

        @include media(">=desktop") {
          // flex-direction: row-reverse;
          gap: rem(60px);
        }
      }

      .dealers-info-card-title {
        p {
          color: get-color("pure-black");
          font-size: rem(20px);
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          @include media(">=desktop") {
            font-weight: 600;
          }
        }
      }

      .dealers-info-card-header-img {
        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .dealers-info-card-content-container {
      height: 0;
      overflow: hidden;
    }

    .dealers-info-card-details-container {
    }

    .dealers-info-card-address-container {
      padding: 0 0 rem(24px) 0;

      @include media(">=desktop") {
        padding: 0 0 rem(20px) 0;
      }

      .dealers-info-card-address-text {
        p {
          @include vida-tertiary-cta-mobile;
          color: get-color("mine-shaft");
          line-height: 22px;
        }
      }

      .dealers-info-card-address-info {
        p {
          @include vida-mobile-body-1;
          color: get-color("mine-shaft");
          line-height: 22px;
        }
      }
    }

    .dealers-info-card-flex-container-1 {
      @include media(">=desktop") {
        display: flex;
        gap: rem(24px);
        padding: 0 0 rem(24px);
      }

      .dealer-info-card-number-container {
        align-items: center;
        display: flex;
        gap: rem(10px);
        padding: 0 0 rem(16px);

        @include media(">=desktop") {
          padding: 0;
        }

        .mobile-icon {
          height: rem(20px);
          width: rem(20px);
        }

        .mobile-number {
          @include vida-tertiary-cta-mobile;
          cursor: pointer;

          @include media(">=desktop") {
            @include vida-tertiary-cta;
          }
        }
      }

      .dealer-info-card-website-container {
        align-items: center;
        display: flex;
        gap: rem(10px);
        padding: 0 0 rem(16px);

        @include media(">=desktop") {
          padding: 0;
        }

        .msg-icon {
          height: rem(20px);
          width: rem(20px);
        }

        .website-url {
          @include vida-tertiary-cta-mobile;
          cursor: pointer;

          @include media(">=desktop") {
            @include vida-tertiary-cta;
          }
        }
      }
    }

    .dealers-info-card-flex-container-2 {
      display: flex;
      gap: rem(24px);
      padding: 0 0 rem(20px) 0;

      @include media(">=desktop") {
        gap: rem(32px);
        padding: 0 0 rem(24px);
      }

      .dealer-info-card-time-slot-container {
        align-items: center;
        display: flex;
        gap: rem(10px);

        .clock-icon {
          height: rem(20px);
          width: rem(20px);
        }

        .time-slot {
          @include vida-mobile-body-1;
          color: get-color("pure-black");
        }
      }

      .dealer-info-card-day-slot-container {
        align-items: center;
        display: flex;
        gap: rem(10px);

        .calendar-icon {
          height: rem(20px);
          width: rem(20px);
        }

        .day-slot {
          @include vida-mobile-body-1;
          color: get-color("pure-black");
        }
      }
    }

    .dealers-info-card-get-direction {
      .get-direction-link {
        @include vida-tertiary-cta-mobile;
        cursor: pointer;

        @include media(">=desktop") {
          @include vida-tertiary-cta;
        }
      }
    }

    .chevron-down-icon-container {
      display: flex;
      justify-content: center;
    }

    .chevron-down-icon {
      cursor: pointer;
      height: rem(24px);
      width: rem(24px);
      
      @include media(">=desktop") {
        height: rem(44px);
        width: rem(44px);
      }

      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }

  .load-more-btn-wrapper {
    text-align: center;
    width: 100%;

    .load-more-btn {
      @include vida-tertiary-cta-mobile;
      cursor: pointer;
      text-decoration: underline;
      @include media(">=desktop") {
        @include vida-tertiary-cta;
      }
    }
  }

  .d-none {
    display: none;
  }

  .d-block {
    display: block;
  }

  .rotate-180-degree {
    transform: rotate(180deg);
  }
}

.dealers-info-card-preview-img {
  @include media("<desktop") {
    height: 79px;
    width: 100px;
  }

  @include media(">=desktop") {
    flex: 1;
  }

  img {
    object-fit: cover;
    width: 100%;
  }
}

.dealers-info-card-header-container.preview-card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include media(">=desktop") {
    align-items: center;
    flex-direction: row;
    gap: 24px;
  }

  .dealers-info-card-header-flex-container {
    @include media(">=desktop") {
      flex: 1;
    }

    .dealers-info-card-title {
      flex: 1;
    }
  }

  .chevron-down-icon {
    margin: 0 auto;
  }
}
