 /* Aliases  */
$label-label-xs-medium-font-size: $font-size-100;
$label-label-xs-medium-font-weight: $font-weight-medium;
$label-label-xs-medium-line-height: $line-height-100;
$label-label-xs-medium-letter-spacing: $letter-spacing-xxl;

