 /* Aliases  */
$label-label-s-medium-font-size: $font-size-300;
$label-label-s-medium-font-weight: $font-weight-medium;
$label-label-s-medium-line-height: $line-height-300;
$label-label-s-medium-letter-spacing: $letter-spacing-xl;

