 /* Aliases  */
$label-label-l-semibold-font-size: $font-size-600;
$label-label-l-semibold-font-weight: $font-weight-semibold;
$label-label-l-semibold-line-height: $line-height-700;
$label-label-l-semibold-letter-spacing: $letter-spacing-m;

