.cost-calculator-card {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: rem(10px);
  padding: rem(32px) 0;

  @include media(">=tablet") {
    padding: rem(64px) 0 rem(32px);
  }

  a {
    text-decoration: none;
  }

  .card-wrapper {
    transition: opacity 1.5s ease-out;
  }

  &__container,
  .vida-offer-card__center-align {
    align-items: center;
    background-color: get-color("aqua");
    border-radius: rem(16px);
    box-shadow: 0 0 rem(20px) 0 rgba(0, 0, 0, 0.1);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%);
    flex-shrink: 0;
    justify-content: center;
    position: relative;
    width: rem(320px);

    @include media(">=tablet") {
      clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 95% 100%, 0% 100%);
      display: flex;
      flex-shrink: 0;
      height: rem(172px);
      width: rem(584px);
    }
  }

  .card-bg-img-mobile {
    color: get-color("white") rgba(0, 0, 0, 0.05);
    display: block;
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    @include media(">=tablet") {
      display: none;
    }
  }

  .card-bg-img-desktop {
    display: none;
    @include media(">=tablet") {
      color: get-color("white") rgba(0, 0, 0, 0.05);
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: rem(16px);
    padding: rem(16px);
    position: relative;
    width: rem(320px);
    @include media(">=tablet") {
      align-items: center;
      flex-direction: row;
      gap: rem(50px);
      justify-content: space-between;
      padding: rem(16px);
      width: rem(643px);

      &-offers {
        justify-content: center;
      }
    }

    &-offers {
      padding: rem(41px) rem(16px);

      h2 {
        margin-bottom: rem(8px);
      }
    }
  }

  &__img-container {
    .stack-images {
      display: flex;
      height: auto;
      width: auto;

      img {
        height: 100%;
        object-fit: contain;
        width: 100%;
      }
    }
  }

  &__img-txt {
    @include vida-h2-desk;

    @include media(">=tablet") {
      @include vida-h2-desk;
      font-weight: 500;
    }
  }

  &__txt-redirect-container {
    align-items: center;
    display: flex;
    gap: rem(16px);
  }

  &__txt-container,
  &__txt-container h3 {
    @include vida-h6-mobile;
    margin-bottom: rem(8px);
    width: rem(228px);
    @include media(">=tablet") {
      @include vida-h5-desktop;
      width: rem(338px);
    }
  }

  &__txt-container h2,
  &__txt-container p {
    @include vida-h3-mobile;
    width: rem(228px);

    @include media(">=tablet") {
      @include vida-h3-desktop;
      width: rem(338px);
    }
  }

  &__redirect-icon-container {
    height: rem(44px);
    width: rem(44px);

    @include media(">=tablet") {
      height: rem(50px);
      width: rem(50px);
    }

    .right-up-arrow-img {
      display: block;
    }

    .right-up-arrow-img-on-hover {
      display: none;
    }

    &:hover {
      .right-up-arrow-img {
        display: none;
      }

      .right-up-arrow-img-on-hover {
        display: block;
      }
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.modify-your-vida-card {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: rem(10px);
  padding: rem(32px) 0;

  @include media(">=tablet") {
    padding: rem(64px) 0;
  }

  a {
    text-decoration: none;
  }

  .card-wrapper {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
    transition: opacity 1.5s ease-out;
  }

  &__container {
    align-items: center;
    background-color: get-color("orange");
    border-radius: rem(8px);
    box-shadow: 0 0 rem(20px) 0 rgba(0, 0, 0, 0.1);
    clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 92% 100%, 0% 100%);
    justify-content: center;
    position: relative;
    @include media(">=tablet") {
      clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 95% 100%, 0% 100%);
    }
  }

  .card-bg-img-mobile {
    color: get-color("white");
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;

    @include media(">=tablet") {
      display: none;
    }
  }

  .card-bg-img-desktop {
    display: none;
    @include media(">=tablet") {
      color: get-color("white") rgba(0, 0, 0, 0.05);
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__wrapper {
    align-items: center;
    border-radius: rem(8px);
    display: flex;
    flex-direction: column;
    padding: rem(16px) 0 rem(8px);
    position: relative;
    @include media(">=tablet") {
      flex-direction: row;
      gap: rem(64px);
      padding: rem(32px);
    }
  }

  .stack-images {
    border-radius: rem(8px);
    height: rem(136px);
    width: rem(288px);
    @include media(">=tablet") {
      border-radius: rem(16px);
      flex-shrink: 0;
      height: rem(136px);
      width: rem(250px);
    }
  }

  .card-img {
    border-radius: rem(8px);

    @include media(">=desktop") {
      border-radius: rem(16px);
    }
  }

  &__txt-redirect-container {
    align-items: center;
    display: flex;
    gap: rem(16px);
    padding: rem(16px);

    @include media(">=tablet") {
      gap: rem(64px);
    }
  }

  &__txt-container {
    @include vida-h3-mobile;
    color: get-color("white");
    font-weight: 500;
    width: rem(228px);
    @include media(">=tablet") {
      @include vida-h3-desktop;
      color: get-color("white");
      flex: 1 0 0;
      width: rem(290px);
    }
  }

  &__redirect-icon-container {
    height: rem(36px);
    width: rem(36px);

    @include media(">=tablet") {
      flex-shrink: 0;
      height: rem(52px);
      width: rem(52px);
    }

    .right-up-arrow-img {
      display: block;
    }

    .right-up-arrow-img-on-hover {
      display: none;
    }

    &:hover {
      .right-up-arrow-img {
        display: none;
      }

      .right-up-arrow-img-on-hover {
        display: block;
      }
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.vida-community-card {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: rem(10px);
  padding: rem(32px) 0;

  @include media(">=tablet") {
    padding: rem(64px) 0;
  }

  a {
    text-decoration: none;
  }

  .card-wrapper {
    transition: opacity 1.5s ease-out;
  }

  &__container {
    align-items: center;
    background-color: get-color("orange");
    border: rem(1px) solid rgba(255, 255, 255, 0.12);
    border-radius: rem(8px);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%);
    display: flex;
    flex-shrink: 0;
    height: rem(114px);
    justify-content: center;
    position: relative;
    width: rem(320px);

    @include media(">=desktop") {
      clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 95% 100%, 0% 100%);
      flex-direction: column;
      gap: rem(10px);
      height: rem(172px);
      width: rem(836px);
    }
  }

  .card-bg-img-mobile {
    color: get-color("white");
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;

    @include media(">=desktop") {
      display: none;
    }
  }

  .card-bg-img-desktop {
    display: none;
    @include media(">=desktop") {
      color: get-color("white") rgba(0, 0, 0, 0.05);
      display: block;
      height: 100%;
      left: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__wrapper {
    align-items: center;
    display: flex;
    gap: rem(16px);
    justify-content: space-between;
    padding: rem(30px) rem(16px);
    position: relative;
    width: 100%;
    @include media(">=desktop") {
      gap: rem(36px);
      justify-content: center;
      padding: rem(23px) rem(97px);
    }
  }

  &__img-txt-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: rem(6px);
    justify-content: center;

    @include media(">=desktop") {
      gap: rem(10px);
    }
  }

  &__img-txt {
    width: max-content;
  }

  &__img-container {
    display: flex;
    height: 35px;
    justify-content: flex-end;
    padding: 0 8.5px 6px;
    position: relative;
    width: 57px;

    @include media(">=desktop") {
      height: 60px;
      padding: 0 18.5px 10px;
      width: 97px;
    }

    .stack-images {
      display: flex;
      height: 100%;
      height: rem(35px);
      position: absolute;
      width: rem(35px);
      @include media(">=desktop") {
        height: rem(60px);
        width: rem(60px);
      }

      .profileImg1 {
        position: absolute;
        right: rem(16px);
        z-index: 1;
        @include media(">=desktop") {
          z-index: 1;
        }
      }

      .profileImg2 {
        position: absolute;
        right: rem(12px);
        z-index: 2;
        @include media(">=desktop") {
          z-index: 2;
        }
      }

      .profileImg3 {
        position: absolute;
        right: rem(8px);
        z-index: 3;
        @include media(">=desktop") {
          z-index: 3;
        }
      }

      .profileImg4 {
        position: absolute;
        right: 0;
        z-index: 4;
        @include media(">=desktop") {
          z-index: 4;
        }
      }

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  &__img-txt {
    @include vida-mobile-bottom-nav-label;
    color: get-color("white");
    position: relative;

    @include media(">=desktop") {
      @include vida-mobile-body-4;
      color: get-color("white");
      font-size: rem(20px);
      position: relative;
    }
  }

  &__txt-redirect-container {
    align-items: center;
    display: flex;
    gap: rem(16px);
    @include media(">=desktop") {
      gap: rem(36px);
    }
  }

  &__txt-container {
    @include vida-h3-mobile;
    color: get-color("white");
    width: 100%;

    @include media(">=desktop") {
      @include vida-h3-desktop;
      color: get-color("white");
    }
  }

  &__redirect-icon-container {
    a {
      display: inline-block;
      height: rem(44px);
      padding: 4px 3.5px;
      width: rem(44px);
      @include media(">=tablet") {
        height: rem(50px);
        padding: rem(4.75px) rem(3.75px);
        width: rem(50px);
      }

      .right-up-arrow-img {
        display: block;
      }

      .right-up-arrow-img-on-hover {
        display: none;
      }

      &:hover {
        .right-up-arrow-img {
          display: none;
        }

        .right-up-arrow-img-on-hover {
          display: block;
        }
      }
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}

.vida-warranty-card {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: rem(32px) rem(20px) rem(16px);

  @include media(">=tablet") {
    gap: rem(10px);
    justify-content: center;
    padding-bottom: rem(32px);
    padding-top: rem(64px);
  }

  a {
    text-decoration: none;
  }

  .card-wrapper {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
    transition: opacity 1.5s ease-in-out;
  }

  &__container {
    background-color: get-color("orange");
    border: none;
    border-radius: rem(8px);
    clip-path: polygon(0% 0%, 100% 0%, 100% 78%, 90% 100%, 0% 100%);
    flex-shrink: 0;
    position: relative;

    @include media(">=tablet") {
      border-radius: rem(16px);
      clip-path: polygon(0% 0%, 100% 0%, 100% 72%, 94% 100%, 0% 100%);
      flex-shrink: 0;
    }
  }

  .card-bg-img-mobile {
    color: get-color("white");
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;

    @include media(">=tablet") {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
  }

  .card-img {
    display: none;
  }

  .card-bg-img-desktop {
    display: none;
    @include media(">=tablet") {
      color: get-color("white") rgba(0, 0, 0, 0.05);
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__txt-redirect-container {
    align-items: center;
    display: flex;
    gap: rem(16px);
    max-height: rem(138px);
    padding: rem(18px);

    @include media(">=tablet") {
      gap: rem(64px);
      max-height: rem(172px);
      max-width: rem(622px);
      padding: rem(54px) rem(43.5px);
    }
  }

  &__txt-container {
    @include vida-mobile-body-4;
    color: get-color("white");

    @include media(">=tablet") {
      @include vida-h3-desktop;
      color: get-color("white");
    }
  }

  &__redirect-icon-container {
    flex-shrink: 0;
    height: rem(44px);
    width: rem(44px);

    @include media(">=tablet") {
      height: rem(64px);
      width: rem(64px);
    }

    .right-up-arrow-img {
      display: block;
    }

    .right-up-arrow-img-on-hover {
      display: none;
    }

    &:hover {
      .right-up-arrow-img {
        display: none;
      }

      .right-up-arrow-img-on-hover {
        display: block;
      }
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.vida-offer-card {
  display: flex;
  justify-content: center;

  a {
    display: flex;
    justify-content: center;
    min-height: rem(114px);
    text-decoration: none;
    width: rem(300px);
    @include media(">=tablet") {
      min-height: rem(172px);
      min-width: rem(622px);
    }
  }

  .title-container {
    @include vida-mobile-body-4;
    color: get-color("white");
    line-height: 24px;
    text-align: left;

    @include media(">=desktop") {
      @include vida-h3-desktop;
      color: get-color("white");
      line-height: 33.6px;
      text-align: left;
    }
  }

  .card-wrapper {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
    transition: opacity 1.5s ease-in-out;
  }

  &__container {
    background-color: get-color("orange");
    border: none;
    border-radius: rem(8px);
    clip-path: polygon(0% 0%, 100% 0%, 100% 78%, 90% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    min-height: rem(114px);
    position: relative;
    width: rem(300px);

    @include media(">=tablet") {
      border-radius: rem(12px);
      clip-path: polygon(0% 0%, 100% 0%, 100% 72%, 94% 100%, 0% 100%);
      min-height: rem(172px);
      min-width: rem(622px);
    }
  }

  &__container-design-your-vida {
    background-color: get-color("orange");
    border: none;
    border-radius: rem(8px);
    clip-path: polygon(0% 0%, 100% 0%, 100% 78%, 90% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    min-height: rem(114px);
    position: relative;
    width: rem(320px);

    @include media(">=tablet") {
      border-radius: rem(12px);
      clip-path: polygon(0% 0%, 100% 0%, 100% 72%, 94% 100%, 0% 100%);
      min-height: rem(172px);
      min-width: rem(492px);
    }
  }

  .card-bg-img-mobile {
    color: get-color("white");
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;

    @include media(">=tablet") {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: rem(19px) rem(19px) 0 rem(19px);
    position: relative;

    @include media(">=desktop") {
      padding: rem(35px) rem(31px);
    }
  }

  .card-img {
    display: none;
  }

  .card-bg-img-desktop {
    display: none;
    @include media(">=tablet") {
      color: get-color("white") rgba(0, 0, 0, 0.05);
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__txt-redirect-container {
    align-items: center;
    display: flex;
    gap: rem(16px);

    @include media(">=tablet") {
      gap: rem(24px);
    }
  }

  &__txt-container {
    @include vida-h6-mobile;
    color: get-color("white");
    font-weight: 500;
    line-height: 16.8px;
    padding-top: rem(16px);
    text-align: left;
    width: rem(199px);

    @include media(">=tablet") {
      @include vida-desktop-body-4;
      color: get-color("white");
      font-weight: 400;
      line-height: 33.6px;
      padding-top: 0;
      text-align: left;
      width: rem(470px);
    }
  }

  &__design-vida-txt-container {
    @include vida-mobile-body-1;
    color: get-color("white");
    font-weight: 500;
    padding-top: rem(16px);
    text-align: left;
    width: rem(228px);

    @include media(">=tablet") {
      @include vida-desk-body-1;
      color: get-color("white");
      font-weight: 400;
      padding-top: 0;
      text-align: left;
      width: rem(356px);
    }
  }

  &__redirect-icon-container {
    height: rem(36px);
    width: rem(36px);

    @include media(">=tablet") {
      height: rem(52px);
      width: rem(52px);
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    .right-up-arrow-img {
      display: block;
    }

    .right-up-arrow-img-on-hover {
      display: none;
    }

    &:hover {
      .right-up-arrow-img {
        display: none;
      }

      .right-up-arrow-img-on-hover {
        display: block;
      }
    }
  }
}

.vida-warranty-card-full-width {
  .vida-warranty-card {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: rem(32px) rem(20px);

    @include media(">=tablet", "<desktop") {
      gap: rem(10px);
      justify-content: center;
      padding: rem(64px) rem(32px);
    }

    @include media(">=tablet") {
      gap: rem(10px);
      justify-content: center;
      padding-bottom: rem(64px);
      padding-top: rem(64px);
    }

    .card-wrapper {
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
      transition: opacity 1.5s ease-in-out;
    }

    &__container {
      background-color: get-color("orange");
      border: none;
      border-radius: rem(8px);
      clip-path: polygon(0% 0%, 100% 0%, 100% 78%, 90% 100%, 0% 100%);
      flex-shrink: 0;
      position: relative;

      @include media(">=tablet") {
        border-radius: rem(16px);
        clip-path: polygon(0% 0%, 100% 0%, 100% 72%, 94% 100%, 0% 100%);
        flex-shrink: 0;
      }
    }

    .card-bg-img-mobile {
      color: get-color("white");
      height: 100%;
      left: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      width: 100%;

      @include media(">=tablet") {
        display: none;
      }
    }

    &__wrapper {
      position: relative;
    }

    .card-img {
      display: none;
    }

    .card-bg-img-desktop {
      display: none;
      @include media(">=tablet") {
        color: get-color("white") rgba(0, 0, 0, 0.05);
        display: block;
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    &__txt-redirect-container {
      align-items: center;
      display: flex;
      gap: rem(16px);
      max-height: rem(138px);
      padding: rem(18px);

      @include media(">=tablet", "<desktop") {
        justify-content: center;
        max-width: 90% !important;
        padding: rem(16px) rem(32px);
      }

      @include media(">desktop") {
        gap: rem(64px);
        justify-content: center;
        max-height: rem(172px);
        max-width: rem(1046px);
        min-width: rem(1046px);
        padding: rem(54px) rem(43.5px);
      }
    }

    &__txt-container {
      @include vida-mobile-body-4;
      color: get-color("white");

      @include media(">=tablet") {
        @include vida-h3-desktop;
        color: get-color("white");
      }
    }

    &__redirect-icon-container {
      flex-shrink: 0;
      height: rem(44px);
      width: rem(44px);

      @include media(">=tablet") {
        height: rem(64px);
        width: rem(64px);
      }

      .right-up-arrow-img {
        display: block;
      }

      .right-up-arrow-img-on-hover {
        display: none;
      }

      &:hover {
        .right-up-arrow-img {
          display: none;
        }

        .right-up-arrow-img-on-hover {
          display: block;
        }
      }
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
