.city-banner-wrapper {
  position: relative;

  .city-banner-top-container {
    //background: get-color("catskill-white");
    left: rem(20px);
    position: absolute;
    top: rem(24px);
    z-index: 1;

    @include media(">desktop") {
      left: rem(88px);
      top: rem(60px);
    }

    .city-banner-bg-img {
      height: rem(410px);
      object-fit: cover;
      position: absolute;
      right: 0;
      top: 0;
      width: rem(295px);

      @include media(">desktop") {
        height: rem(620px);
        width: rem(735px);
      }
    }

    .city-banner-title {
      // padding: rem(64px) rem(24px);
      position: relative;
      // width: rem(320px);

      @include media(">desktop") {
        // padding: rem(126px) rem(90px);
        // width: rem(736px);
      }

      h1 {
        @include vida-h1-mobile;
        color: get-color("white");

        @include media(">desktop") {
          @include vida-banner-header;
          color: get-color("white");
        }

        span {
          color: get-color("white");
        }
      }
    }
  }

  .city-banner-bottom-container {
    height: calc(100vh - 4rem);
    position: relative;

    .city-banner-img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
