@import '../../../SemanticTokens.scss';
@import '../../Variant/index.scss';

/* =================================================
 * PRESSED STATE STYLES
 * ================================================= */

/* -------------------- BUTTON STYLES -------------------- */

// Button - Dark
$button-dark-fill: $button-pressedfill;
$button-dark-stroke: $border-focus;

// Button - Light
$button-light-fill: $button-light-pressedfill;
$button-light-stroke: $border-brandlight-pressed;
$button-light-textcolor: $textcolor-lighthover;

/* -------------------- LINK STYLES -------------------- */
$link-fill: $link-pressedfill;
$link-stroke: $border-transparent;

/* -------------------- FORM ELEMENT STYLES -------------------- */

// Checkbox
$checkbox-fill: $background-primaryinverse;
$checkbox-stroke: $border-brand-pressed;
$checkbox-focus: $border-focus;

// Radio
$radio-fill: $background-primaryinverse;
$radio-stroke: $border-brand-pressed;
$radio-active-fill: $background-brand-pressed;
$radio-focus: $border-focus;

// Input
$input-fill: $background-secondary-pressed;
$input-stroke: $border-brandlight-pressed;
$input-focus: $border-focus;

// Switch
$switch-track-fill: $background-brand;
$switch-thumb-fill: $background-primaryinverse;

/* -------------------- DROPDOWN & TAB STYLES -------------------- */

// Dropdown
$dropdown-fill: $background-secondary-pressed;
$dropdown-stroke: $border-brandlight-pressed;
$dropdown-focus: $border-focus;
$dropdown-option-fill: $background-secondary-pressed;
$dropdown-selector-fill: $background-secondary-pressed;

// Tab
$tab-fill: $background-secondary-pressed;
$tab-stroke: $border-brandlight-pressed;
$tab-active: $background-brand-pressed; 