.vida-delivery-status-new {
  margin: rem(16px);

  @include media(">=desktop") {
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: calc(100vh - 100px);
    padding: rem(16px) 0 rem(30px);
    width: 100%;
  }

  @include media("<tablet") {
    .customize-accordion-header {
      display: flex;

      &::after {
        color: get-color("solid-balck");
        content: "\e913";
        font-family: icomoon;
        font-size: 17px;
      }
    }

    .form__field-textarea {
      display: none;
    }

    .customize-accordion--expanded {
      .form__field-textarea {
        display: block !important;
      }

      .customize-accordion-header {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__submit-form {
    align-items: inherit !important;
    display: flex;
    flex-direction: column;

    &-btn {
      &.mobile {
        text-align: center;
      }

      .exchange-notapproved {
        color: get-color("orange");
        margin-bottom: rem(20px);
        text-align: left;
      }
    }
  }

  &__product-image {
    display: none;
    height: 110px;
    margin-bottom: rem(20px);
    margin-left: rem(23px);
    max-width: 100%;

    @include media(">=desktop") {
      display: block;
    }
    @include media(">=desktop-lg") {
      height: 164px;
    }
  }

  &__btn {
    &-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      @include media("<tablet") {
        .btn { 
          height: auto;
          padding: rem(6px) rem(20px);
        }
      }

      .btn {
        height: rem(40px);
        padding: rem(10px) rem(30px);
      }
    }
  }

  &__product-info-new {
    @include h3;
    align-items: center;
    display: flex;
    gap: rem(10px);
    justify-content: space-between;
    margin-bottom: rem(6px);
    margin-left: 0;

    @include media(">=desktop") {
      display: flex;
      justify-content: normal;
      margin-bottom: rem(10px);
      margin-left: rem(32px);
    }
  }

  &__product-info-subtext {
    @include media(">=desktop") {
      margin-left: rem(32px);
    }
  }

  &__stepper {
    display: none;
    margin-bottom: rem(35px);
    margin-left: rem(15px);

    @include media(">=desktop") {
      display: block;
    }

    ul {
      border-left: rem(1.4px) dashed get-color("blue");
      height: calc(100% - 40px);
      list-style: none;
      padding-bottom: rem(20px);
    }

    ul:last-child {
      padding-bottom: rem(0);
    }
  }

  &__stepper-next {
    background: #d2d1d1;
    border: rem(1.4px) solid #d2d1d1;
    border-radius: 50%;
    display: flex;
    height: rem(10px);
    margin-right: rem(22px);
    margin-top: 6px;
    position: relative;
    right: 5px;
    width: rem(10px);
  }

  &__steps {
    display: flex;

    .icon-check-circle {
      background: #fff;
      font-size: rem(30px);
      position: relative;
      right: 15px;
    }
  }

  &__stepper-image {
    height: 42px;
    margin-right: rem(-6px);
    position: relative;
    right: 16px;
  }

  .form__group {
    max-width: 100%;
    @include media(">=desktop") {
      margin-bottom: rem(20px);
      margin-left: rem(30px);
      margin-right: rem(30px);
    }

    &.form__field-button {
      align-items: center;
      display: flex;
      justify-content: center;

      .btn {
        min-width: 0;
        width: calc(100% - 60px);
        @include media(">=desktop") {
          width: calc(100% - 70px);
        }
      }
    }
  }

  &__help-text {
    @include links;
    margin-left: rem(38px);

    @include media(">=desktop") {
      display: block;
    }

    p {
      align-items: center;
      display: flex;
      gap: rem(5px);
    }
  }

  &__info-active {
    color: get-color("orange");
  }

}
