 /* Aliases  */
$heading-heading-m-font-size: $font-size-600;
$heading-heading-m-font-weight: $font-weight-semibold;
$heading-heading-m-line-height: $line-height-700;
$heading-heading-m-letter-spacing: $letter-spacing-s;

