 /* Aliases  */
$heading-heading-xl-font-size: $font-size-800;
$heading-heading-xl-font-weight: $font-weight-semibold;
$heading-heading-xl-line-height: $line-height-900;
$heading-heading-xl-letter-spacing: $letter-spacing-m;

