 /* Aliases  */
$heading-heading-3xl-font-size: $font-size-1000;
$heading-heading-3xl-font-weight: $font-weight-semibold;
$heading-heading-3xl-line-height: $line-height-1100;
$heading-heading-3xl-letter-spacing: $letter-spacing-xs;

