 /* Aliases  */
$heading-heading-5xl-font-size: $font-size-1300;
$heading-heading-5xl-font-weight: $font-weight-semibold;
$heading-heading-5xl-line-height: $line-height-1500;
$heading-heading-5xl-letter-spacing: $letter-spacing-xs;

