 /* Aliases  */
$heading-heading-xs-font-size: $font-size-400;
$heading-heading-xs-font-weight: $font-weight-book;
$heading-heading-xs-line-height: $line-height-400;
$heading-heading-xs-letter-spacing: $letter-spacing-xl;

