.vida-form-group {
  margin: 0;
  margin: 0 0 rem(16px);
  min-width: 100%;

  @include media(">=desktop") {
    min-height: rem(60px);
  }
}

.vida-form-field-input {
  border: 1px solid get-color("oslo-gray");
  border-radius: rem(8px);
  height: rem(52px);
  margin: 0;
  padding: 0 0 0 rem(16px);
  width: 100%;
  
  @include media(">=desktop") {
    height: rem(56px);
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    background-color: get-color("grey");
  }
}
