.compare-variants {
  transition: opacity 1.5s ease-in-out;

  &--heading {
    font-size: rem(24px);
    font-weight: 600;
    margin-bottom: rem(32px);
    margin-top: rem(32px);

    @include media(">tablet") {
      font-size: rem(48px);
      margin-bottom: rem(64px);
      margin-top: rem(64px);
    }
  }

  .variants-details-wrapper {
    display: flex;
    justify-content: center !important;
    margin-bottom: rem(32px);
    margin-top: rem(32px);

    @include media(">tablet") {
      justify-content: end !important;
      margin-bottom: rem(48px);
      margin-top: rem(48px);
    }

    .variant-parent-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: relative;
    }

    .vs-container {
      bottom: rem(-15px);
      // align-items: center;
      color: #000;
      display: flex;

      /* Mobile/Body 3 - Mobile */
      font-family: PP Neue Montreal;
      font-size: rem(12px);
      font-style: normal;
      font-weight: 400;
      height: 100%;
      justify-content: space-between;
      line-height: normal;
      position: absolute;
      text-align: center;

      @include media(">tablet") {
        display: none;
      }
    }

    .variants-details {
      align-items: center;
      display: flex;
      flex-direction: column;

      @include media(">tablet") {
        margin: 0 rem(9px);
      }
      @include media(">desktop-lg") {
        margin: 0 rem(90px);
      }

      .left {
        color: get-color("mine-shaft");
        font-size: rem(12px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include media(">=tablet") {
          color: get-color("mine-shaft");

          /* Desktop/Tertiary CTA - Desktop */
          font-family: PP Neue Montreal;
          font-size: rem(20px);
          font-style: normal;
          font-weight: 500;

          line-height: normal;
          text-align: center;
        }
      }

      select,
      .custom-select {
        align-items: center;
        appearance: none;
        background-position: right rem(5px) center;
        background-repeat: no-repeat;
        background-size: rem(20px);
        border: rem(1px) solid get-color("oslo-gray");
        border-radius: rem(8px);
        display: flex;
        font-family: PP Neue Montreal;
        font-size: rem(14px);
        font-style: normal;
        font-weight: 400;
        height: rem(36px);
        line-height: normal;
        margin-top: rem(8px);
        padding: rem(8px);
        position: relative;
        width: rem(150px);

        @include media(">=tablet") {
          align-items: center;

          background-position: right 1rem center;
          background-size: rem(30px);
          border-radius: rem(8px);
          font-size: rem(20px);
          font-weight: 500;
          height: rem(56px);
          justify-content: space-between;
          padding: rem(12px) rem(16px);
          width: rem(301px);
          // width: rem(228px);
        }
      }

      .options-container {
        background-color: get-color("white");
        // border: 1px solid get-color("oslo-gray");
        border-radius: 0 0 4px 4px;
        border-top: none;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
        left: 0;
        overflow-y: auto;
        position: absolute;
        top: rem(56px);
        width: 100%;
        z-index: 1;
        @include media("<tablet") {
          top: rem(36px);
        }

        .option-name {
          border: 1px solid get-color("oslo-gray");
          border-left: none;
          border-right: none;
          cursor: pointer;
          padding: rem(8px);
          @include media(">=desktop") {
            padding: rem(18px);
          }
          
        }

        .disabled {
          background: get-color("alice-blue");
          cursor: not-allowed;
          opacity: 0.5;
          pointer-events: none;
        }

        .selected {
          cursor: not-allowed;
          font-weight: 600;
          pointer-events: none;
        }
      }

      &--bikeimg-wrapper {
        height: 9.813rem;
        margin-bottom: rem(16px);
        transition: transform 1s ease-out;

        @include media(">tablet") {
          height: 16rem;
          margin-bottom: rem(32px);
        }

        img {
          aspect-ratio: 1839/1675;
          height: 100%;
          object-fit: contain;
          width: 100%;
        }
      }

      &--model-name {
        font-size: rem(20px);
        font-weight: 600;
        @include media(">tablet") {
          font-size: rem(28px);
        }
      }

      &--model-price {
        font-size: rem(16px);
        font-weight: 500;
        margin: rem(4px) 0;

        @include media(">tablet") {
          font-size: rem(28px);
        }
      }

      &--model-price-details {
        font-size: rem(12px);
        font-weight: 400;

        @include media(">tablet") {
          font-size: rem(18px);
        }
      }

      &--buy-now-cta {
        color: get-color("white");
        cursor: pointer;
        display: block;
        margin: rem(24px) 0 rem(16px);
        text-decoration: none;

        @include media(">tablet") {
          margin: rem(48px) 0 rem(32px);
        }
      }

      &--link {
        font-size: rem(16px);
        font-weight: 500;
        text-underline-offset: rem(4px);

        @include media(">tablet") {
          font-size: rem(20px);
        }
      }
    }
  }

  .compare-variant-text-container {
    display: flex;
    flex-direction: column;

    @include media(">tablet") {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }

    @include media(">desktop") {
      flex-direction: row;
    }

    &.align-center {
      @include media(">tablet") {
        justify-content: center;
      }
    }
  }

  .compare-variant-text {
    color: get-color("mine-shaft");
    font-family: PP Neue Montreal;
    font-size: rem(16px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: rem(10px);

    @include media(">=tablet") {
      font-size: rem(20px);
      padding-left: rem(60px);
    }
  }

  .product-details-wrapper {
    border-top: rem(1px) solid get-color("mine-shaft");
    display: flex;

    .product-details {
      width: 50%;
      @include media(">=desktop") {
        width: 100%;
      }
      

      &:nth-child(1) {
        @include media("<=tablet") {
          display: none;
        }

        .product-data-container {
          .product-data {
            @include media(">tablet") {
              background-color: get-color("alice-blue");

              &:nth-child(odd) {
                background-color: get-color("white");
              }
            }
          }
        }
      }

      .product-data {
        background-color: get-color("white");
        color: get-color("mine-shaft");
        display: flex;
        flex-direction: column;
        padding: rem(24px) rem(12px) rem(24px) rem(16px);
        width: 100%;

        @include media(">tablet") {
          align-items: center;
          height: rem(118px);
          padding: rem(36px) rem(48px);
        }

        &:nth-child(odd) {
          background-color: get-color("alice-blue");
        }

        img {
          height: rem(20px);
          margin-right: rem(6px);
          width: rem(20px);

          @include media(">tablet") {
            height: rem(30px);
            margin-right: rem(16px);
            width: rem(30px);
          }
        }

        &--title {
          align-items: center;
          display: flex;
          font-size: rem(12px);
          font-weight: 400;
          margin-bottom: rem(10px);
          width: 200px;

          @include media(">tablet") {
            font-size: rem(18px);
            margin-bottom: 0;
          }
        }

        .mob-title {
          @include media(">tablet") {
            display: none;
          }
        }

        &--colors {
          display: flex;
          gap: rem(10px);
          margin-left: rem(24px);
          @include media(">tablet") {
            justify-content: center;
          }

          div {
            border-radius: rem(50px);
            height: rem(13px);
            width: rem(13px);

            @include media(">tablet") {
              height: rem(20px);
              width: rem(20px);
            }
          }

          .border-black {
            border: 0.5px solid get-color("mine-shaft");
          }
        }

        &--value {
          align-items: center;
          display: flex;
          font-size: rem(24px);
          font-weight: 500;
          margin-left: rem(24px);

          @include media(">tablet") {
            font-size: rem(36px);
            justify-content: center;
          }

          span {
            font-size: rem(12px);
            font-weight: 400;

            @include media(">tablet") {
              font-size: rem(18px);
            }

            &::before {
              content: "\00a0 ";
            }
          }
        }
      }
    }
  }

  .variant-compare {
    /* The container */
    .container {
      color: get-color("orange");
      cursor: pointer;
      display: block;
      font-size: rem(16px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: rem(32px) rem(20px);
      padding-left: rem(35px);
      position: relative;
      user-select: none;
      @include media(">=desktop") {
        font-size: rem(20px);
        margin-left: rem(166px);
      }
    }

    /* Hide the browser's default checkbox */
    .container input {
      cursor: pointer;
      height: 0;
      opacity: 0;
      position: absolute;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      background-color: get-color("white");
      border: rem(1px) solid get-color("orange");
      border-radius: rem(1px);
      height: rem(18px);
      left: 0;
      position: absolute;
      top: 0;
      width: rem(18px);
      @include media(">=desktop") {
        top: 3px;
      }
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark::after {
      content: "";
      display: none;
      position: absolute;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark::after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark::after {
      border: solid get-color("orange");
      border-width: 0 3px 3px 0;
      height: rem(10px);
      left: rem(6px);
      top: rem(1px);
      transform: rotate(45deg);
      transform: rotate(45deg);
      transform: rotate(45deg);
      width: rem(3px);
    }
  }
}
