.image-detail-specification-container {
  display: flex;
  flex-direction: column;
  gap: rem(32px);
  padding: rem(32px) rem(20px) !important;

  @include media(">=desktop") {
    padding: rem(64px) rem(88px) !important;
  }

  &__header-container {
    display: flex;
    flex-direction: column;
    gap: rem(5px);
    padding: rem(32px) 0 rem(26px);

    @include media(">=desktop") {
      gap: rem(9px);
    }

    .pre-title {
      @include vida-mobile-subtitle;
      text-align: left;

      @include media(">=desktop") {
        @include vida-desktop-subtitle;
      }
    }

    .title {
      @include vida-h3-mobile;
      text-align: left;
      @include media(">=desktop") {
        @include vida-h2-desk;
      }
    }
  }

  &__slider-description-wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(32px);
  
    @include media(">=desktop") {
      background: get-color("white");
      flex-direction: row-reverse;
      gap: rem(61px);
      padding-bottom: rem(64px) !important;
      padding-top: rem(16px) !important;
    }

    .tns-outer {
      @include media(">=desktop") {
        align-items: center;
        display: flex;
        flex: 49.782%;
        flex-wrap: wrap;
        gap: rem(18px);
      }
    }

    .description-wrapper {
      display: flex;
      flex: 46.5%;
      flex-direction: column;
      
      @include media(">desktop") {
        justify-content: flex-start;
      }
      
      &__description-area {
        @include media(">=desktop") {
        }
      }
        
      &__description-container {
        @include vida-mobile-body-1;
        padding-top: rem(32px);
        @include media(">desktop") {
          @include vida-desk-body-1;
          padding-top: 0;
        }
      }
          
      &__description-container-left {
        p {
          @include vida-mobile-body-4;
          @include media(">desktop") {
            @include vida-desktop-body-4;
            padding-top: 0;
          }
        }
      }
    }
  
    .tns-horizontal.tns-subpixel > .tns-item {
      align-items: center;
    }
        
    .tns-ovh {
      border-radius: rem(8px);
    }
          
    .tns-nav {
      align-items: center;
      display: flex !important;
      justify-content: center;
      margin-top: rem(16px);
      padding-bottom: 0 !important;
          
      @include media(">=desktop") {
        display: none;
        margin: auto;
        padding-top: rem(16px);
      }
          
      button {
        border-radius: rem(3px);
        height: rem(3px);
        margin-right: rem(10px);
        padding: rem(1px);
        width: rem(40px);
        @include media(">desktop") {
          width: rem(80px);
        }
      }
          
      .tns-nav-active {
        background-color: get-color("orange") !important;
      }
    }
          
    &__carousel-slider {
      display: flex;
      height: rem(162px);
      position: relative;
        
      @include media(">=desktop") {
        height: rem(350px);
      }
          
      .img-container {
        height: 162px;
        padding-bottom: rem(16px);
              
        @include media(">=desktop") {
          margin: auto;
          max-width: rem(836px);
        }
          
        img {
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
}

.brand-slider-description-wrapper {
  margin-bottom: rem(48px);
}
