@import '../../../PrimitiveTokens.scss';
@import '../../../SemanticTokens.scss';

/* Aliases  */
$button-horzontalpadding: $space-m;
$button-verticalpadding: $space-s;
$button-fontsize: $label-label-s-semibold-font-size;
$button-lineheight: $label-label-s-medium-line-height;

