@import '../../../SemanticTokens.scss';
@import '../../Variant/index.scss';

/* =================================================
 * DEFAULT STATE STYLES
 * ================================================= */

/* -------------------- BUTTON STYLES -------------------- */

// Button - Dark
$button-dark-fill: $button-defaultfill;
$button-dark-stroke: $border-brand;

// Button - Light
$button-light-fill: $button-light-defaultfill;
$button-light-stroke: $border-brandlight;
$button-light-textcolor: $textcolor-light;

/* -------------------- LINK STYLES -------------------- */
$link-fill: $link-defaultfill;
$link-stroke: $border-transparent;

/* -------------------- FORM ELEMENT STYLES -------------------- */

// Checkbox
$checkbox-fill: $background-primaryinverse;
$checkbox-stroke: $border-brand;
$checkbox-focus: $border-focus;

// Radio
$radio-fill: $background-primaryinverse;
$radio-stroke: $border-brand;
$radio-active-fill: $background-brand;
$radio-focus: $border-focus;

// Input
$input-fill: $background-secondary;
$input-stroke: $border-brandlight;
$input-focus: $border-focus;

// Switch
$switch-track-fill: $background-secondary50;
$switch-thumb-fill: $background-primaryinverse;

/* -------------------- DROPDOWN & TAB STYLES -------------------- */

// Dropdown
$dropdown-fill: $background-secondary;
$dropdown-stroke: $border-brandlight;
$dropdown-focus: $border-focus;
$dropdown-option-fill: $background-secondary;
$dropdown-selector-fill: $background-secondary;

// Tab
$tab-fill: $background-secondary;
$tab-stroke: $border-brandlight;
$tab-hover: $background-secondary-hover;
$tab-active: $background-brand; 