@import '../PrimitiveTokens.scss';

// Responsive breakpoints reference
@mixin respond-to($breakpoint) {
  @if $breakpoint == 'mobile' {
    @media (min-width: $breakpoint-s) {
      @content;
    }
  } @else if $breakpoint == 'tablet' {
    @media (min-width: $breakpoint-m) {
      @content;
    }
  } @else if $breakpoint == 'laptop' {
    @media (min-width: $breakpoint-l) {
      @content;
    }
  } @else if $breakpoint == 'desktop' {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}

/***************TYPOGRAPHY MIXINS***************/

/* Heading Mixins */

/* Heading-5XL */
@mixin heading-5xl {
  font-size: $font-size-1300;
  font-weight: $font-weight-semibold;
  line-height: $line-height-1500;
  letter-spacing: $letter-spacing-xs;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-1200;
    line-height: $line-height-1400;
  }
}

/* Heading-4XL */
@mixin heading-4xl {
  font-size: $font-size-1100;
  font-weight: $font-weight-semibold;
  line-height: $line-height-1300;
  letter-spacing: $letter-spacing-xs;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-1000;
    line-height: $line-height-1200;
  }
}

/* Heading-3XL */
@mixin heading-3xl {
  font-size: $font-size-1000;
  font-weight: $font-weight-semibold;
  line-height: $line-height-1100;
  letter-spacing: $letter-spacing-xs;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-900;
    line-height: $line-height-900;
  }
}

/* Heading-2XL */
@mixin heading-2xl {
  font-size: $font-size-900;
  font-weight: $font-weight-semibold;
  line-height: $line-height-1100;
  letter-spacing: $letter-spacing-m;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-800;
    line-height: $line-height-900;
  }
}

/* Heading-XL */
@mixin heading-xl {
  font-size: $font-size-800;
  font-weight: $font-weight-semibold;
  line-height: $line-height-900;
  letter-spacing: $letter-spacing-m;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-600;
    line-height: $line-height-700;
  }
}

/* Heading-L */
@mixin heading-l {
  font-size: $font-size-700;
  font-weight: $font-weight-semibold;
  line-height: $line-height-800;
  letter-spacing: $letter-spacing-xs;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-600;
    line-height: $line-height-700;
  }
}

/* Heading-M */
@mixin heading-m {
  font-size: $font-size-600;
  font-weight: $font-weight-semibold;
  line-height: $line-height-700;
  letter-spacing: $letter-spacing-s;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-500;
    line-height: $line-height-600;
  }
}

/* Heading-S */
@mixin heading-s {
  font-size: $font-size-500;
  font-weight: $font-weight-semibold;
  line-height: $line-height-600;
  letter-spacing: $letter-spacing-m;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-400;
    line-height: $line-height-400;
  }
}

/* Heading-XS */
@mixin heading-xs {
  font-size: $font-size-400;
  font-weight: $font-weight-book;
  line-height: $line-height-400;
  letter-spacing: $letter-spacing-xl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-200;
    line-height: $line-height-300;
  }
}

/* Heading-2XS */
@mixin heading-2xs {
  font-size: $font-size-200;
  font-weight: $font-weight-semibold;
  line-height: $line-height-300;
  letter-spacing: $letter-spacing-xxl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-100;
    line-height: $line-height-200;
  }
}

/* Body Text Mixins */

/* Body-XL-Regular */
@mixin body-xl-regular {
  font-size: $font-size-500;
  font-weight: $font-weight-book;
  line-height: $line-height-600;
  letter-spacing: $letter-spacing-m;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-400;
    line-height: $line-height-500;
  }
}

/* Body-XL-Semibold */
@mixin body-xl-semibold {
  font-size: $font-size-500;
  font-weight: $font-weight-semibold;
  line-height: $line-height-600;
  letter-spacing: $letter-spacing-m;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-400;
    line-height: $line-height-500;
  }
}

/* Body-L-Regular */
@mixin body-l-regular {
  font-size: $font-size-400;
  font-weight: $font-weight-book;
  line-height: $line-height-500;
  letter-spacing: $letter-spacing-l;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-300;
    line-height: $line-height-400;
  }
}

/* Body-L-Semibold */
@mixin body-l-semibold {
  font-size: $font-size-400;
  font-weight: $font-weight-semibold;
  line-height: $line-height-500;
  letter-spacing: $letter-spacing-l;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-300;
    line-height: $line-height-400;
  }
}

/* Body-M-Regular */
@mixin body-m-regular {
  font-size: $font-size-300;
  font-weight: $font-weight-book;
  line-height: $line-height-400;
  letter-spacing: $letter-spacing-xl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-200;
    line-height: $line-height-300;
  }
}

/* Body-M-Semibold */
@mixin body-m-semibold {
  font-size: $font-size-300;
  font-weight: $font-weight-semibold;
  line-height: $line-height-400;
  letter-spacing: $letter-spacing-xl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-200;
    line-height: $line-height-300;
  }
}

/* Body-S-Regular */
@mixin body-s-regular {
  font-size: $font-size-200;
  font-weight: $font-weight-book;
  line-height: $line-height-300;
  letter-spacing: $letter-spacing-xl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-100;
    line-height: $line-height-200;
  }
}

/* Body-S-Semibold */
@mixin body-s-semibold {
  font-size: $font-size-200;
  font-weight: $font-weight-semibold;
  line-height: $line-height-300;
  letter-spacing: $letter-spacing-xl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-100;
    line-height: $line-height-200;
  }
}

/* Body-XS-Regular */
@mixin body-xs-regular {
  font-size: $font-size-100;
  font-weight: $font-weight-book;
  line-height: $line-height-300;
  letter-spacing: $letter-spacing-xl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-50;
    line-height: $line-height-200;
  }
}

/* Body-XS-Semibold */
@mixin body-xs-semibold {
  font-size: $font-size-100;
  font-weight: $font-weight-semibold;
  line-height: $line-height-300;
  letter-spacing: $letter-spacing-xl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-50;
    line-height: $line-height-200;
  }
}

/* Label Mixins */

/* Label-XS-Medium */
@mixin label-xs-medium {
  font-size: $font-size-100;
  font-weight: $font-weight-medium;
  line-height: $line-height-100;
  letter-spacing: $letter-spacing-xxl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-50;
    line-height: $line-height-100;
  }
}

/* Label-XS-Semibold */
@mixin label-xs-semibold {
  font-size: $font-size-100;
  font-weight: $font-weight-semibold;
  line-height: $line-height-100;
  letter-spacing: $letter-spacing-xxl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-50;
    line-height: $line-height-100;
  }
}

/* Label-S-Medium */
@mixin label-s-medium {
  font-size: $font-size-300;
  font-weight: $font-weight-medium;
  line-height: $line-height-300;
  letter-spacing: $letter-spacing-xl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-200;
    line-height: $line-height-200;
  }
}

/* Label-S-Semibold */
@mixin label-s-semibold {
  font-size: $font-size-300;
  font-weight: $font-weight-semibold;
  line-height: $line-height-300;
  letter-spacing: $letter-spacing-xl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-200;
    line-height: $line-height-200;
  }
}

/* Label-M-Medium */
@mixin label-m-medium {
  font-size: $font-size-400;
  font-weight: $font-weight-medium;
  line-height: $line-height-400;
  letter-spacing: $letter-spacing-m;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-300;
    line-height: $line-height-300;
  }
}

/* Label-M-Semibold */
@mixin label-m-semibold {
  font-size: $font-size-400;
  font-weight: $font-weight-semibold;
  line-height: $line-height-400;
  letter-spacing: $letter-spacing-m;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-300;
    line-height: $line-height-300;
  }
}

/* Label-L-Medium */
@mixin label-l-medium {
  font-size: $font-size-600;
  font-weight: $font-weight-medium;
  line-height: $line-height-700;
  letter-spacing: $letter-spacing-m;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-500;
    line-height: $line-height-600;
  }
}

/* Label-L-Semibold */
@mixin label-l-semibold {
  font-size: $font-size-600;
  font-weight: $font-weight-semibold;
  line-height: $line-height-700;
  letter-spacing: $letter-spacing-m;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-500;
    line-height: $line-height-600;
  }
}

/* Label-XL-Medium */
@mixin label-xl-medium {
  font-size: $font-size-700;
  font-weight: $font-weight-medium;
  line-height: $line-height-800;
  letter-spacing: $letter-spacing-s;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-600;
    line-height: $line-height-700;
  }
}

/* Label-XL-Semibold */
@mixin label-xl-semibold {
  font-size: $font-size-700;
  font-weight: $font-weight-semibold;
  line-height: $line-height-800;
  letter-spacing: $letter-spacing-s;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-600;
    line-height: $line-height-700;
  }
}

/* Link Mixins */

/* Link-Primary-CTA-Medium */
@mixin link-primary-cta-medium {
  font-size: $font-size-500;
  font-weight: $font-weight-medium;
  line-height: $line-height-500;
  letter-spacing: $letter-spacing-m;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-400;
    line-height: $line-height-400;
  }
}

/* Link-Primary-CTA-Semibold */
@mixin link-primary-cta-semibold {
  font-size: $font-size-500;
  font-weight: $font-weight-semibold;
  line-height: $line-height-500;
  letter-spacing: $letter-spacing-m;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-400;
    line-height: $line-height-400;
  }
}

/* Link-Secondary-CTA-Medium */
@mixin link-secondary-cta-medium {
  font-size: $font-size-400;
  font-weight: $font-weight-medium;
  line-height: $line-height-400;
  letter-spacing: $letter-spacing-l;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-300;
    line-height: $line-height-300;
  }
}

/* Link-Secondary-CTA-Semibold */
@mixin link-secondary-cta-semibold {
  font-size: $font-size-400;
  font-weight: $font-weight-semibold;
  line-height: $line-height-400;
  letter-spacing: $letter-spacing-l;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-300;
    line-height: $line-height-300;
  }
}

/* Link-Tertiary-CTA-Medium */
@mixin link-tertiary-cta-medium {
  font-size: $font-size-300;
  font-weight: $font-weight-medium;
  line-height: $line-height-300;
  letter-spacing: $letter-spacing-xl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-200;
    line-height: $line-height-200;
  }
}

/* Link-Tertiary-CTA-Semibold */
@mixin link-tertiary-cta-semibold {
  font-size: $font-size-300;
  font-weight: $font-weight-semibold;
  line-height: $line-height-300;
  letter-spacing: $letter-spacing-xl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-200;
    line-height: $line-height-200;
  }
}

/* Link-Small-Link-Text-Medium */
@mixin link-small-link-text-medium {
  font-size: $font-size-200;
  font-weight: $font-weight-medium;
  line-height: $line-height-200;
  letter-spacing: $letter-spacing-xxl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-100;
    line-height: $line-height-200;
  }
}

/* Link-Small-Link-Text-Semibold */
@mixin link-small-link-text-semibold {
  font-size: $font-size-200;
  font-weight: $font-weight-semibold;
  line-height: $line-height-200;
  letter-spacing: $letter-spacing-xxl;
  
  @include respond-to($breakpoint-s) {
    font-size: $font-size-100;
    line-height: $line-height-200;
  }
} 