 /* Aliases  */
$body-body-s-regular-font-size: $font-size-100;
$body-body-s-regular-font-weight: $font-weight-book;
$body-body-s-regular-line-height: $line-height-200;
$body-body-s-regular-letter-spacing: $letter-spacing-xl;

