 /* Aliases  */
$body-body-s-semibold-font-size: $font-size-100;
$body-body-s-semibold-font-weight: $font-weight-semibold;
$body-body-s-semibold-line-height: $line-height-200;
$body-body-s-semibold-letter-spacing: $letter-spacing-xl;

