

.vida-nominee-details {
  &__container {
    padding: 60px 0;
    @include media(">=desktop") {
      display: flex;
      flex-direction: row;
    }
  }

  &__form-wrapper {
    margin-top: 19px;

    input {
      border-radius: rem(8px) !important;
    }

    .form__dropdown-options::-webkit-scrollbar-thumb {
      background-color: get-color("light-grey") !important;
    }

    .form__dropdown-options::-webkit-scrollbar-track {
      background-color: get-color("white") !important;
    }

    .form__dropdown-option:hover {
      background: get-color("catskill-white");
    }

    .form__group input[type=text]:focus,
    .form__group input[type=number]:focus {
      border: 1px solid get-color("light-grey") !important;
    }

    .form__dropdown-option a:focus {
      background: get-color("catskill-white");
    }
  }

  &__btn-container {
    max-width: 400px;
    min-width: 193px;
    @include media(">=desktop") {
      max-width: unset;
      min-width: unset;
      width: 50%;
    }

    button {
      background-color: get-color("orange");
      border-radius: rem(8px);
      color: get-color("white");
    }

    .btn--primary:hover {
      background: get-color("orange");
    }
  }

  &__details-wrapper {
    width: 100%;
    @include media(">=desktop") {
      width: 50%;
    }
  }

  &__image-container {
    display: none;
    @include media(">=desktop") {
      align-self: center;
      display: block;
      width: 50%;
    }
  }
}
