.vida-text-image-card {
  padding: rem(30px) 0;
  @include media(">=desktop") {
    padding: rem(55px) 0;
  }

  &__wrapper {
    overflow: hidden;
  }

  &__title-container {
    margin-bottom: rem(30px);
    text-align: center;
    @include media(">=desktop") {
      margin-bottom: rem(47px);
    }

    * {
      @include h1;
    }
  }

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    overflow: hidden;
    width: 100%;
    @include media(">=desktop") {
      flex-direction: row;
      gap: 0 4%;
    }
    @include media(">=desktop-lg") {
      gap: 0 rem(160px);
    }
  }


  &__media {
    @include media(">=desktop") {
      max-width: rem(516px);
      width: 42%;
    }

    &-container {
      border-radius: rem(16px);
      height: rem(328px);
      margin-bottom: rem(30px);
      max-height: rem(328px);
      max-width: rem(328px);
      overflow: hidden;
      width: 100%;

      @include media(">=desktop") {
        border-radius: rem(32px);
        height: rem(516px);
        margin-bottom: 0;
        max-height: rem(516px);
        max-width: rem(516px);
      }

      iframe {
        border-radius: rem(32px);
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    &-asset {
      border-radius: rem(16px);
      height: 100%;
      object-fit: cover;
      width: 100%;

      @include media(">=desktop") {
        border-radius: rem(32px);
      }

      video {
        border-radius: rem(16px);
        height: 100%;
        object-fit: cover;
        width: 100%;
        @include media(">=desktop") {
          border-radius: rem(32px);
        }
      }
    }
  }

  &__content {
    max-width: rem(328px);
    overflow: hidden;
    width: 100%;
    @include media(">=desktop") {
      max-width: rem(504px);
      width: 41%;
    }

    &-container {
      text-align: left;
      width: 100%;
    }

    &-title {
      margin-bottom: rem(13px);
      @include media(">=desktop") {
        margin-bottom: rem(10px);
      }

      * {
        @include h2;
        color: get-color("solid-black");
      }
    }

    &-text {
      * {
        @include p2;
        color: get-color("solid-grey");
      }
    }
  }

  &__cta-wrapper {
    margin-top: rem(30px);
    text-align: center;
    @include media(">=desktop") {
      margin-top: rem(40px);
      text-align: left;
    }

    .btn {
      min-width: rem(328px);
      width: auto;
      @include media(">=desktop") {
        min-width: auto;
      }
    }
  }
}


