.vida-test-drive {
  &__content {
    &-upload {
      align-items: flex-start;
    }

    .form {
      margin-top: rem(25px);
      max-width: 100%;

      &__group {
        max-width: 100%;
      }
    }

    .vida-upload-documents {
      &__btn-container {
        .btn--primary {
          height: rem(50px);
          width: 100%;
        }
      }
    }

    .vida-upload-card {
      &__container {
        @include media(">=desktop") {
          width: 100%;
        }
      }

      &__body {
        @include media(">=desktop") {
          width: 100%;
        }

        + p {
          &.error {
            display: none;
          }
        }

        &.error {
          + p {
            &.error {
              display: block;
            }
          }
        }

        i {
          margin-right: rem(10px);
        }
      }
    }

    &__submitted {
      &-status {
        font-size: rem(20px);
        padding-top: rem(30px);
      }

      &-message {
        color: get-color("grey");
        font-size: rem(12px);
      }
    }
  }
}
