@import '../../SemanticTokens.scss';

/* =================================================
 * DESTRUCTIVE VARIANT STYLES
 * ================================================= */

/* -------------------- BUTTON STYLES -------------------- */
// Button - Standard
$button-defaultfill: $background-negative;
$button-hoverfill: $background-negative-hover;
$button-pressedfill: $background-negative-pressed;

// Button - Light
$button-light-defaultfill: $background-negative-subtle;
$button-light-hoverfill: $background-negative-subtle-hover;
$button-light-pressedfill: $background-negative-subtle-pressed;

/* -------------------- LINK STYLES -------------------- */
$link-defaultfill: $background-transparent;
$link-hoverfill: $background-transparent50;
$link-pressedfill: $background-transparent;

/* -------------------- TEXT COLOR STYLES -------------------- */
$textcolor-dark: $content-primary-inverse;
$textcolor-light: $content-negative;
$textcolor-link: $content-negative;
$textcolor-lighthover: $content-negative-bold; 