@import '../../SemanticTokens.scss';

/* =================================================
 * TERTIARY VARIANT STYLES
 * ================================================= */

/* -------------------- BUTTON STYLES -------------------- */
// Button - Standard
$button-defaultfill: $background-transparent;
$button-hoverfill: $background-transparent50;
$button-pressedfill: $background-transparent;

// Button - Light
$button-light-defaultfill: $background-transparent;
$button-light-hoverfill: $background-transparent;
$button-light-pressedfill: $background-transparent;

/* -------------------- LINK STYLES -------------------- */
$link-defaultfill: $background-transparent;
$link-hoverfill: $background-transparent50;
$link-pressedfill: $background-transparent;

/* -------------------- TEXT COLOR STYLES -------------------- */
$textcolor-dark: $content-secondary;
$textcolor-light: $content-secondary;
$textcolor-link: $content-brand;
$textcolor-lighthover: $content-primary; 