.vida-purchase-container {
  .purchase-booking-bg-img {
    background: get-color("catskill-white");
    height: 100vh;
    object-fit: cover;
    position: fixed;
    width: 100%;

    @include media(">=desktop") {
      height: calc(100vh - 64px);
    }
  }

  .vida-purchase {
    height: 100vh;
    @include media(">=desktop") {
      // height: calc(100vh - 190px);
      // overflow-y: scroll;
      padding-bottom: rem(40px);
      position: relative;
    }
  }
}
